# Get_Original_AlphaNet_Data

In [11]:
Alpha_Name = "AlphaNet_Original_Input_12.14"
path = '/home/wuwenjun/Data/' + Alpha_Name +'/'
target = "5d_ret"

In [2]:
import time
import os
from Research.backtest.bt import BTDaily
from Research.feature.ft import FeatureAnalysis
import Research.utils.namespace as namespace
import Research.utils.normalization as norm
from Platform.database.mysql import MysqlAPI
from Platform.utils.persistence import convert_to_standard_daily_feature_csv, convert_to_standard_daily_feature_par
from Platform.config.mysql_info import FACTOR_LIB_MYSQL_TIO
import DataAPI
from os import walk
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from progressbar import ProgressBar
from tqdm import tqdm

In [3]:
dir_list = ['Data','Cov','Corr','Return','Std','Zscore','Decay']
for i in dir_list:
    os.mkdir(path+i)

In [7]:
df = pd.read_csv(path+"data.csv")
df

,timestamp,ticker,pre_close,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,chg,5d_ret
0,2015-01-06 09:30:00,1,15.84,15.99,16.28,15.60,16.02,15.9605,2860436.43,1.1364,2.9079,5.7657,0.18,-0.075710
1,2015-01-06 09:30:00,2,13.90,14.39,15.29,14.22,14.91,14.7858,6560835.70,7.2662,6.7834,8.1741,1.01,-0.106164
2,2015-01-06 09:30:00,4,15.57,15.58,15.90,15.30,15.69,15.5709,28095.12,0.7707,3.3496,4.5343,0.12,0.006390
3,2015-01-06 09:30:00,6,7.05,7.10,7.39,7.02,7.08,7.1881,1078647.12,0.4255,8.0562,13.2751,0.03,-0.078571
4,2015-01-06 09:30:00,7,14.60,14.51,14.80,14.25,14.52,14.5105,28415.72,-0.5479,1.3807,1.7538,-0.08,-0.004844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4851233,2021-07-01 09:30:00,688699,237.77,285.32,285.32,285.32,285.32,285.3200,1225.82,19.9983,0.6940,0.6940,47.55,-0.024476
4851234,2021-07-01 09:30:00,688777,90.00,89.95,94.80,89.06,94.15,92.9798,19001.61,4.6111,4.6288,4.6288,4.15,0.053133
4851235,2021-07-01 09:30:00,688788,138.20,137.28,148.50,136.33,145.38,144.3683,13572.56,5.1954,7.7977,7.7977,7.18,-0.102721
4851236,2021-07-01 09:30:00,688819,43.68,43.40,44.98,43.31,44.49,44.3727,47249.01,1.8544,4.6754,4.6754,0.81,0.032164
4851237,2021-07-01 09:30:00,688981,59.25,59.69,62.50,59.40,61.82,61.5420,777950.53,4.3376,7.1003,7.1003,2.57,-0.058075

In [8]:
# for ticker in tqdm(df['ticker'].drop_duplicates()):
def test(ticker):
    one_data = df[df['ticker'] == ticker]
    one_data.set_index(['timestamp','ticker'],inplace=True)
    target_df = one_data[target]
    one_data.drop(target,axis=1,inplace=True)
    concat_df = pd.DataFrame()
    for day in range(29,-1,-1):
        concat_df = pd.concat([concat_df,one_data.shift(day)],axis=1)
    concat_df.dropna(axis=0,how="any",inplace=True)
    concat_df = pd.concat([concat_df,target_df],axis=1,join='inner')
    return concat_df

In [13]:
from multiprocessing import Pool
import multiprocessing as mp
import time
if __name__=="__main__":
    num_cores = int(mp.cpu_count())
    pool = mp.Pool(num_cores)
    result = {}
    t1 = time.time()
    for ticker in tqdm(df['ticker'].drop_duplicates()):
        result[ticker] = (pool.apply_async(test, args=(ticker,)))   #维持执行的进程总数为10，当一个进程执行完后启动一个新进程.
    pool.close()
    pool.join()
    t2 = time.time()
    print("并行执行时间：", int(t2 - t1))
    df_list = []
    for i in tqdm(result):
        df_list.append(result[i].get())
    final_df = pd.concat(df_list)
final_df

100%|██████████| 4276/4276 [00:00<00:00, 8595.04it/s]
100%|██████████| 4276/4276 [00:00<00:00, 204313.51it/s]

并行执行时间： 41

Process ForkPoolWorker-365:
Process ForkPoolWorker-362:
Process ForkPoolWorker-360:
Process ForkPoolWorker-358:
Process ForkPoolWorker-356:
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt

,,pre_close,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,...,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,chg,5d_ret
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2015-02-16 09:30:00,1,15.84,15.99,16.28,15.60,16.02,15.9605,2860436.43,1.1364,2.9079,5.7657,...,14.18,13.84,13.95,14.0189,887743.10,0.6494,0.9025,1.7894,0.09,0.005735
2015-02-17 09:30:00,1,16.02,15.85,16.39,15.55,15.78,15.9408,2166421.40,-1.4981,2.2024,4.3668,...,14.01,13.73,13.92,13.8643,721202.39,-0.2151,0.7332,1.4537,-0.03,0.001433
2015-02-25 09:30:00,1,15.78,15.56,15.83,15.30,15.48,15.4977,1700120.67,-1.9011,1.7283,3.4269,...,14.11,13.93,13.99,14.0256,680491.59,0.5029,0.6918,1.3717,0.07,-0.029915
2015-02-26 09:30:00,1,15.48,15.50,15.57,14.90,14.96,15.1167,1407714.21,-3.3592,1.4311,2.8375,...,14.05,13.76,13.80,13.8414,577392.33,-1.3581,0.5870,1.1638,-0.19,-0.021739
2015-02-27 09:30:00,1,14.96,14.90,15.87,14.71,15.08,15.2895,2508500.23,0.8021,2.5501,5.0564,...,14.08,13.60,14.07,13.8859,1025544.24,1.9565,1.0426,2.0672,0.27,-0.049075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25 09:30:00,601399,4.23,4.10,4.11,3.96,3.96,4.0407,504073.25,-6.3830,10.2126,10.2126,...,3.39,3.34,3.36,3.3594,154445.60,-1.1765,0.6496,0.6496,-0.04,-0.011940
2021-06-28 09:30:00,601399,3.96,3.95,3.99,3.82,3.83,3.8798,388797.28,-3.2828,7.8771,7.8771,...,3.45,3.35,3.41,3.4084,200886.20,1.4881,0.8450,0.8450,0.05,-0.052326
2021-06-29 09:30:00,601399,3.83,3.80,3.83,3.66,3.67,3.7162,307810.00,-4.1775,6.2363,6.2363,...,3.44,3.37,3.38,3.3942,144365.21,-0.8798,0.6072,0.6072,-0.03,-0.023810
2021-06-30 09:30:00,601399,3.67,3.67,3.78,3.66,3.72,3.7227,208419.16,1.3624,4.2226,4.2226,...,3.40,3.35,3.36,3.3747,103839.37,-0.5917,0.4368,0.4368,-0.02,-0.026786
2021-07-01 09:30:00,601399,3.72,3.71,3.74,3.63,3.63,3.6820,195535.94,-2.4194,3.9616,3.9616,...,3.38,3.29,3.31,3.3212,189452.62,-1.4881,0.7969,0.7969,-0.05,-0.018072

In [15]:
final_df.columns = [str(i) for i in range(final_df.shape[1])]
final_df.rename(columns={str(final_df.shape[1] - 1):'target'}, inplace=True)
final_df.reset_index(inplace=True)
final_df['timestamp'] = pd.to_datetime(final_df['timestamp'])
final_df

,timestamp,ticker,0,1,2,3,4,5,6,7,...,321,322,323,324,325,326,327,328,329,target
0,2015-02-16 09:30:00,1,15.84,15.99,16.28,15.60,16.02,15.9605,2860436.43,1.1364,...,14.18,13.84,13.95,14.0189,887743.10,0.6494,0.9025,1.7894,0.09,0.005735
1,2015-02-17 09:30:00,1,16.02,15.85,16.39,15.55,15.78,15.9408,2166421.40,-1.4981,...,14.01,13.73,13.92,13.8643,721202.39,-0.2151,0.7332,1.4537,-0.03,0.001433
2,2015-02-25 09:30:00,1,15.78,15.56,15.83,15.30,15.48,15.4977,1700120.67,-1.9011,...,14.11,13.93,13.99,14.0256,680491.59,0.5029,0.6918,1.3717,0.07,-0.029915
3,2015-02-26 09:30:00,1,15.48,15.50,15.57,14.90,14.96,15.1167,1407714.21,-3.3592,...,14.05,13.76,13.80,13.8414,577392.33,-1.3581,0.5870,1.1638,-0.19,-0.021739
4,2015-02-27 09:30:00,1,14.96,14.90,15.87,14.71,15.08,15.2895,2508500.23,0.8021,...,14.08,13.60,14.07,13.8859,1025544.24,1.9565,1.0426,2.0672,0.27,-0.049075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4728009,2021-06-25 09:30:00,601399,4.23,4.10,4.11,3.96,3.96,4.0407,504073.25,-6.3830,...,3.39,3.34,3.36,3.3594,154445.60,-1.1765,0.6496,0.6496,-0.04,-0.011940
4728010,2021-06-28 09:30:00,601399,3.96,3.95,3.99,3.82,3.83,3.8798,388797.28,-3.2828,...,3.45,3.35,3.41,3.4084,200886.20,1.4881,0.8450,0.8450,0.05,-0.052326
4728011,2021-06-29 09:30:00,601399,3.83,3.80,3.83,3.66,3.67,3.7162,307810.00,-4.1775,...,3.44,3.37,3.38,3.3942,144365.21,-0.8798,0.6072,0.6072,-0.03,-0.023810
4728012,2021-06-30 09:30:00,601399,3.67,3.67,3.78,3.66,3.72,3.7227,208419.16,1.3624,...,3.40,3.35,3.36,3.3747,103839.37,-0.5917,0.4368,0.4368,-0.02,-0.026786
4728013,2021-07-01 09:30:00,601399,3.72,3.71,3.74,3.63,3.63,3.6820,195535.94,-2.4194,...,3.38,3.29,3.31,3.3212,189452.62,-1.4881,0.7969,0.7969,-0.05,-0.018072

In [22]:
import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta
time_list = [20150101,20150301,20150601,20150901,
             20160101,20160301,20160601,20160901,
             20170101,20170301,20170601,20170901,
             20180101,20180301,20180601,20180901,
             20190101,20190301,20190601,20190901,
             20200101,20200301,20200601,20200901,
             20210101,20210301,20210601]

def save(start_time,end_time):
    final_df[
        (final_df['timestamp'] >= start_time) & 
        (final_df['timestamp'] < end_time)].set_index(['timestamp','ticker']).to_parquet(
        path + "Data/" + datetime.datetime.strptime(str(start_time), '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d') + "_" +
                      datetime.datetime.strptime(str(end_time), '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d') + ".par"
    )
    print("Save to ",path + "Data/" + datetime.datetime.strptime(str(start_time), '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d') + "_" +
                      datetime.datetime.strptime(str(end_time), '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d') + ".par")
    return None

pool = mp.Pool(10)
t1 = time.time()
for i in tqdm(range(len(time_list)-1)):
    start_time = pd.to_datetime(str(time_list[i]))
    end_time = pd.to_datetime(str(time_list[i+1]))
    pool.apply_async(save, args=(start_time,end_time))  #维持执行的进程总数为10，当一个进程执行完后启动一个新进程.
pool.close()
pool.join()
t2 = time.time()
print("并行执行时间：", int(t2 - t1))

100%|██████████| 26/26 [00:00<00:00, 3011.65it/s]

Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2015-01-01_2015-03-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2016-01-01_2016-03-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2017-01-01_2017-03-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2018-01-01_2018-03-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2015-06-01_2015-09-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2019-01-01_2019-03-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2020-01-01_2020-03-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2021-01-01_2021-03-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2015-03-01_2015-06-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2016-03-01_2016-06-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2017-03-01_2017-06-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2016-06-01_2016-09-01.par
Save to Save to   /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2017-06-01_2017-09-01.par/home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2018-03-01_2018-06-01.par

Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2015-09-01_2016-01-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2018-06-01_2018-09-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2020-03-01_2020-06-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2019-06-01_2019-09-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2016-09-01_2017-01-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2019-03-01_2019-06-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2020-06-01_2020-09-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2021-03-01_2021-06-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2017-09-01_2018-01-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2018-09-01_2019-01-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2019-09-01_2020-01-01.par
Save to  /home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Data/2020-09-01_2021-01-01.par
并行执行时间： 13