In [40]:
Alpha_Name = "ResLstm_8Input_corr_filter_Shift_1_Sequence_20"
sequence = 20
LR = [0.001,0.0001]
epoch_num = [30,20]
feature_num = 54

In [1]:
import pandas as pd
import numpy as np
task_info = np.load("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.npy",allow_pickle=True).item()
# pd.read_parquet("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.par")
original = task_info["Task"]
original

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status,description
task_id,,,,,,,,,
0,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2019-01-01,2019-06-01,finished,None
1,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2019-06-01,2020-01-01,finished,None
2,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2020-01-01,2020-06-01,finished,None
3,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2020-06-01,2021-01-01,finished,None
4,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2021-01-01,2021-06-01,finished,None
...,...,...,...,...,...,...,...,...,...
195,AlphaNet_8Input_corr_filter_Shift_1_Sequence_2...,20,"[0.001, 1e-05]","[30, 30]",54,2019-01-01,2019-06-01,Finish: 19:31_01:39 | 01-31,"{'target': '10dRet', 'alpha_name': 'AlphaNet_8..."
196,AlphaNet_8Input_corr_filter_Shift_1_Sequence_2...,20,"[0.001, 1e-05]","[30, 30]",54,2019-06-01,2020-01-01,Finish: 19:32_02:24 | 01-31,"{'target': '10dRet', 'alpha_name': 'AlphaNet_8..."
197,AlphaNet_8Input_corr_filter_Shift_1_Sequence_2...,20,"[0.001, 1e-05]","[30, 30]",54,2020-01-01,2020-06-01,Finish: 19:33_02:57 | 01-31,"{'target': '10dRet', 'alpha_name': 'AlphaNet_8..."
198,AlphaNet_8Input_corr_filter_Shift_1_Sequence_2...,20,"[0.001, 1e-05]","[30, 30]",54,2020-06-01,2021-01-01,Finish: 19:34_02:16 | 01-31,"{'target': '10dRet', 'alpha_name': 'AlphaNet_8..."
199,AlphaNet_8Input_corr_filter_Shift_1_Sequence_2...,20,"[0.001, 1e-05]","[30, 30]",54,2021-01-01,2021-06-01,Finish: 19:35_02:51 | 01-31,"{'target': '10dRet', 'alpha_name': 'AlphaNet_8..."

In [7]:
len(description["alpha_list"])

54

In [42]:
time_list = ["2019-01-01","2019-06-01","2020-01-01","2020-06-01","2021-01-01","2021-06-01"]
time_list2 = []
for i in range(len(time_list)-1):
    time_list2.append([time_list[i],time_list[i+1]])
time_list2 = pd.DataFrame(time_list2,columns=["start_date","end_date"])
time_list2

   start_date    end_date
0  2019-01-01  2019-06-01
1  2019-06-01  2020-01-01
2  2020-01-01  2020-06-01
3  2020-06-01  2021-01-01
4  2021-01-01  2021-06-01

In [43]:
task = pd.DataFrame([Alpha_Name,sequence,LR,epoch_num,feature_num],index=["Alpha_Name","sequence","LR","epoch_num","feature_num"]).T
task['value']=1
time_list2['value']=1
task = pd.merge(task,time_list2,how='left',on='value')
del task['value']
task["status"] = "waiting"
task

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
0,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2019-01-01,2019-06-01,waiting
1,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2020-01-01,2020-06-01,waiting
3,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2020-06-01,2021-01-01,waiting
4,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2021-01-01,2021-06-01,waiting

In [44]:
task = pd.concat([original,task],axis=0)
task.reset_index(drop=True,inplace=True)
task.index.names = ["task_id"]
task_info["Task"] = task
# if task.duplicated().any() == True:
#     task = original
#     raise ValueError("concains duplicates value")
task

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
task_id,,,,,,,,
0,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2019-01-01,2019-06-01,finished
1,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2020-01-01,2020-06-01,finished
3,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2020-06-01,2021-01-01,finished
4,Original_Input_Moving_10_Shift_5,5,"[0.001, 0.0001]","[30, 20]",108,2021-01-01,2021-06-01,waiting
5,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2019-01-01,2019-06-01,waiting
6,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2019-06-01,2020-01-01,waiting
7,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2020-01-01,2020-06-01,waiting
8,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2020-06-01,2021-01-01,waiting
9,Original_Input_Moving_7_Shift_5,6,"[0.001, 0.0001]","[30, 20]",108,2021-01-01,2021-06-01,waiting

In [91]:
task_info["Cuda"]

['cuda:0', 'cuda:1', 'cuda:1', 'cuda:1']

In [58]:
# task_info.to_parquet("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.par")
np.save("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.npy",task_info)