In [129]:
Alpha_Name = "Original_Input_Moving_7_Shift_5"
sequence = 6
LR = [0.01,0.001,0.0001,0.00001]
epoch_num = [5,30,20,20]
feature_num = 108

In [1]:
import pandas as pd
original = pd.read_parquet("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.par")
original

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
task_id,,,,,,,,
0,Original_Input_Moving_10_Shift_5,5,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-01-01,2019-06-01,finished
1,Original_Input_Moving_10_Shift_5,5,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_10_Shift_5,5,"[0.01, 0.001, 0.0001, 1e-05]","[10, 30, 30, 30]",108,2020-01-01,2020-06-01,finished
3,Original_Input_Moving_10_Shift_5,5,"[0.01, 0.001, 0.0001, 1e-05]","[10, 30, 30, 30]",108,2020-06-01,2021-01-01,finished
4,Original_Input_Moving_10_Shift_5,5,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2021-01-01,2021-06-01,waiting
5,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-01-01,2019-06-01,waiting
6,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-06-01,2020-01-01,waiting
7,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2020-01-01,2020-06-01,waiting
8,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2020-06-01,2021-01-01,waiting
9,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2021-01-01,2021-06-01,waiting

In [2]:
original.loc[:,"LR"] = []

task_id
0    [0.01, 0.001, 0.0001, 1e-05]
1    [0.01, 0.001, 0.0001, 1e-05]
2    [0.01, 0.001, 0.0001, 1e-05]
3    [0.01, 0.001, 0.0001, 1e-05]
4    [0.01, 0.001, 0.0001, 1e-05]
5    [0.01, 0.001, 0.0001, 1e-05]
6    [0.01, 0.001, 0.0001, 1e-05]
7    [0.01, 0.001, 0.0001, 1e-05]
8    [0.01, 0.001, 0.0001, 1e-05]
9    [0.01, 0.001, 0.0001, 1e-05]
Name: LR, dtype: object

In [137]:
time_list = ["2019-01-01","2019-06-01","2020-01-01","2020-06-01","2021-01-01","2021-06-01"]
time_list2 = []
for i in range(len(time_list)-1):
    time_list2.append([time_list[i],time_list[i+1]])
time_list2 = pd.DataFrame(time_list2,columns=["start_date","end_date"])
time_list2

   start_date    end_date
0  2019-01-01  2019-06-01
1  2019-06-01  2020-01-01
2  2020-01-01  2020-06-01
3  2020-06-01  2021-01-01
4  2021-01-01  2021-06-01

In [138]:
task = pd.DataFrame([Alpha_Name,sequence,LR,epoch_num,feature_num],index=["Alpha_Name","sequence","LR","epoch_num","feature_num"]).T
task['value']=1
time_list2['value']=1
task = pd.merge(task,time_list2,how='left',on='value')
del task['value']
task["status"] = "waiting"
task

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
0,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-01-01,2019-06-01,waiting
1,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2020-01-01,2020-06-01,waiting
3,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2020-06-01,2021-01-01,waiting
4,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2021-01-01,2021-06-01,waiting

In [139]:
task = pd.concat([original,task],axis=0)
task.reset_index(drop=True,inplace=True)
task.index.names = ["task_id"]
# if task.duplicated().any() == True:
#     task = original
#     raise ValueError("concains duplicates value")
task

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
task_id,,,,,,,,
0,Original_Input_Moving_10_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[10, 30, 30, 30]",108,2019-01-01,2019-06-01,waiting
1,Original_Input_Moving_10_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[10, 30, 30, 30]",108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_10_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[10, 30, 30, 30]",108,2020-01-01,2020-06-01,finished
3,Original_Input_Moving_10_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[10, 30, 30, 30]",108,2020-06-01,2021-01-01,finished
4,Original_Input_Moving_10_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[10, 30, 30, 30]",108,2021-01-01,2021-06-01,waiting
5,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-01-01,2019-06-01,waiting
6,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2019-06-01,2020-01-01,waiting
7,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2020-01-01,2020-06-01,waiting
8,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2020-06-01,2021-01-01,waiting
9,Original_Input_Moving_7_Shift_5,6,"[0.01, 0.001, 0.0001, 1e-05]","[5, 30, 20, 20]",108,2021-01-01,2021-06-01,waiting

In [149]:
task.to_parquet("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.par")