In [22]:
import torch
import pandas as pd 
import numpy as np

In [2]:
torch.cuda.is_available()
torch.cuda.device_count()
torch.cuda.get_device_name(0)

'A100-PCIE-40GB'

In [4]:
torch.zeros(1).cuda()

tensor([0.], device='cuda:0')

In [4]:
data = pd.read_csv("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return/data.csv")
data

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
0,2015-01-06 09:30:00,1,1136.15,1156.75,1108.44,1138.28,1134.052643,2860436.43,1.1364,2.9079,5.7657,-0.018297
1,2015-01-06 09:30:00,2,1774.23,1885.20,1753.27,1838.34,1823.031224,6560835.70,7.2662,6.7834,8.1741,-0.023288
2,2015-01-06 09:30:00,4,63.31,64.62,62.18,63.76,63.277989,28095.12,0.7707,3.3496,4.5343,0.051118
3,2015-01-06 09:30:00,5,38.00,38.00,38.00,38.00,37.997172,0.00,0.0000,0.0000,0.0000,0.000000
4,2015-01-06 09:30:00,6,225.64,234.85,223.10,225.00,228.438278,1078647.12,0.4255,8.0562,13.2751,-0.028571
...,...,...,...,...,...,...,...,...,...,...,...,...
5357699,2021-07-01 09:30:00,688700,47.80,54.50,47.03,53.38,50.715300,64336.83,14.5494,19.2222,19.2222,-0.040395
5357700,2021-07-01 09:30:00,688777,90.21,95.08,89.32,94.42,93.250464,19001.61,4.6111,4.6288,4.6288,-0.005927
5357701,2021-07-01 09:30:00,688788,138.07,149.35,137.11,146.22,145.197985,13572.56,5.1954,7.7977,7.7977,-0.025238
5357702,2021-07-01 09:30:00,688819,44.04,45.64,43.95,45.15,45.026221,47249.01,1.8544,4.6754,4.6754,-0.022042
5357703,2021-07-01 09:30:00,688981,59.69,62.50,59.40,61.82,61.542000,777950.53,4.3376,7.1003,7.1003,-0.019086

In [8]:
grouped = data.groupby("ticker")

In [15]:
for ticker , one_data in grouped:
    display(one_data)

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
0,2015-01-06 09:30:00,1,1136.15,1156.75,1108.44,1138.28,1134.052643,2860436.43,1.1364,2.9079,5.7657,-0.018297
2588,2015-01-07 09:30:00,1,1126.20,1164.57,1104.89,1121.23,1132.652885,2166421.40,-1.4981,2.2024,4.3668,-0.003856
5176,2015-01-08 09:30:00,1,1105.60,1124.78,1087.12,1099.91,1101.168988,1700120.67,-1.9011,1.7283,3.4269,-0.038710
7764,2015-01-09 09:30:00,1,1101.33,1106.31,1058.70,1062.96,1074.097527,1407714.21,-3.3592,1.4311,2.8375,-0.002013
10352,2015-01-12 09:30:00,1,1058.70,1127.62,1045.20,1071.49,1086.375607,2508500.23,0.8021,2.5501,5.0564,-0.014795
...,...,...,...,...,...,...,...,...,...,...,...,...
5335896,2021-06-25 09:30:00,1,2577.56,2587.64,2538.39,2583.16,2565.173115,390283.49,-0.2593,0.2011,0.4538,0.012132
5340252,2021-06-28 09:30:00,1,2583.16,2641.36,2580.92,2614.50,2618.873275,559972.95,1.2132,0.2886,0.6510,-0.033390
5344611,2021-06-29 09:30:00,1,2614.50,2617.85,2516.01,2549.58,2547.948325,626257.37,-2.4829,0.3227,0.7281,-0.009743
5348973,2021-06-30 09:30:00,1,2527.20,2550.70,2462.28,2500.34,2496.911908,1049749.39,-1.9315,0.5409,1.2205,0.020125
5353336,2021-07-01 09:30:00,1,2502.58,2566.37,2501.46,2531.67,2533.655890,403435.46,1.2534,0.2079,0.4691,-0.003946

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
1,2015-01-06 09:30:00,2,1774.23,1885.20,1753.27,1838.34,1823.031224,6560835.70,7.2662,6.7834,8.1741,-0.023288
2589,2015-01-07 09:30:00,2,1800.12,1848.21,1732.31,1770.53,1783.157271,3346346.83,-3.6888,3.4599,4.1692,0.004208
5177,2015-01-08 09:30:00,2,1758.20,1787.79,1726.15,1754.50,1760.347495,2642051.33,-0.9053,2.7317,3.2917,-0.054469
7765,2015-01-09 09:30:00,2,1765.60,1771.76,1659.57,1675.59,1695.506085,2639394.18,-4.4975,2.7289,3.2884,-0.016248
10353,2015-01-12 09:30:00,2,1669.43,1753.27,1638.60,1658.33,1692.300387,3294584.30,-1.0302,3.4063,4.1047,-0.020270
...,...,...,...,...,...,...,...,...,...,...,...,...
5335897,2021-06-25 09:30:00,2,3779.80,3789.03,3729.01,3744.40,3762.194536,601455.02,-0.6939,0.6189,0.9289,0.009426
5340253,2021-06-28 09:30:00,2,3755.18,3778.26,3739.79,3772.11,3761.702054,478206.96,0.7398,0.4921,0.7386,-0.021518
5344612,2021-06-29 09:30:00,2,3790.57,3795.19,3701.31,3705.93,3730.029294,563018.94,-1.7544,0.5794,0.8696,-0.011618
5348974,2021-06-30 09:30:00,2,3709.01,3727.47,3650.52,3662.84,3680.550224,664404.65,-1.1628,0.6837,1.0261,0.002939
5353337,2021-07-01 09:30:00,2,3665.91,3681.30,3616.67,3664.38,3649.523846,498882.63,0.0420,0.5134,0.7705,0.037254

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
2,2015-01-06 09:30:00,4,63.31,64.62,62.18,63.76,63.277989,28095.12,0.7707,3.3496,4.5343,0.051118
2590,2015-01-07 09:30:00,4,63.60,67.30,62.99,66.89,65.578947,33378.59,4.9076,3.9795,5.3871,-0.002432
5178,2015-01-08 09:30:00,4,66.85,67.22,65.47,66.69,66.143012,20737.61,-0.3038,2.4724,3.3469,0.031079
7766,2015-01-09 09:30:00,4,66.69,69.21,66.00,68.76,68.092853,36450.03,3.1079,4.3457,5.8828,-0.036643
10354,2015-01-12 09:30:00,4,68.76,68.88,66.08,66.77,67.197177,27150.44,-2.8960,3.2370,4.3819,-0.033742
...,...,...,...,...,...,...,...,...,...,...,...,...
5335898,2021-06-25 09:30:00,4,81.68,82.09,76.48,76.64,79.057559,79985.00,-4.7475,6.9476,8.7657,-0.046129
5340254,2021-06-28 09:30:00,4,76.64,77.62,72.74,73.60,74.220344,85398.18,-3.9767,7.4178,9.3590,0.012785
5344613,2021-06-29 09:30:00,4,73.11,76.20,72.66,74.94,74.589749,63284.61,1.8222,5.4970,6.9355,0.012075
5348975,2021-06-30 09:30:00,4,74.04,77.74,74.04,76.44,76.055177,71591.77,2.0065,6.2186,7.8459,0.003254
5353338,2021-07-01 09:30:00,4,74.94,76.52,74.41,75.43,75.368385,46573.99,-1.3291,4.0455,5.1041,-0.047027

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
3,2015-01-06 09:30:00,5,38.00,38.00,38.00,38.00,37.997172,0.00,0.0000,0.0000,0.0000,0.000000
2591,2015-01-07 09:30:00,5,38.00,38.00,38.00,38.00,37.997172,0.00,0.0000,0.0000,0.0000,0.000000
5179,2015-01-08 09:30:00,5,38.00,38.00,38.00,38.00,37.997172,0.00,0.0000,0.0000,0.0000,0.000000
7767,2015-01-09 09:30:00,5,38.00,38.00,38.00,38.00,37.997172,0.00,0.0000,0.0000,0.0000,0.000000
10355,2015-01-12 09:30:00,5,38.00,38.00,38.00,38.00,37.997172,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335899,2021-06-25 09:30:00,5,17.42,18.16,17.33,17.79,17.905009,180151.49,2.1277,1.7028,2.0766,0.015625
5340255,2021-06-28 09:30:00,5,17.79,18.16,17.61,17.98,17.846623,138037.62,1.0417,1.3048,1.5911,-0.051282
5344614,2021-06-29 09:30:00,5,18.07,18.07,17.15,17.24,17.536158,143742.05,-4.1237,1.3587,1.6569,0.021622
5348976,2021-06-30 09:30:00,5,17.15,17.79,16.96,17.52,17.338758,97958.76,1.6129,0.9259,1.1291,-0.010582
5353339,2021-07-01 09:30:00,5,17.52,17.70,17.24,17.42,17.412899,59032.00,-0.5291,0.5580,0.6804,-0.021390

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
4,2015-01-06 09:30:00,6,225.64,234.85,223.10,225.00,228.438278,1078647.12,0.4255,8.0562,13.2751,-0.028571
2592,2015-01-07 09:30:00,6,222.46,222.46,214.52,217.69,217.839627,566271.01,-3.2486,4.2294,6.9692,0.014706
5180,2015-01-08 09:30:00,6,216.10,220.87,214.52,218.01,218.227343,310645.50,0.1460,2.3202,3.8232,-0.027536
7768,2015-01-09 09:30:00,6,219.28,222.46,212.61,215.47,218.062087,311367.10,-1.1662,2.3255,3.8320,-0.010432
10356,2015-01-12 09:30:00,6,213.24,218.33,212.93,212.93,215.716718,346099.49,-1.1799,2.5850,4.2595,-0.028614
...,...,...,...,...,...,...,...,...,...,...,...,...
5335900,2021-06-25 09:30:00,6,190.90,191.28,189.39,190.52,190.486244,45376.44,-0.1984,0.3361,0.5335,-0.005952
5340256,2021-06-28 09:30:00,6,190.90,190.90,189.39,190.15,189.940807,63926.51,-0.1988,0.4735,0.7515,0.000000
5344615,2021-06-29 09:30:00,6,189.77,192.04,189.39,190.15,190.561999,55387.77,0.0000,0.4103,0.6512,0.007984
5348977,2021-06-30 09:30:00,6,189.77,192.04,189.39,190.90,190.887746,56624.67,0.3984,0.4194,0.6657,-0.005941
5353340,2021-07-01 09:30:00,6,191.28,191.28,189.01,189.77,189.789297,45579.34,-0.5952,0.3376,0.5358,-0.005976

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
5,2015-01-06 09:30:00,7,80.11,81.71,78.68,80.17,80.115257,28415.72,-0.5479,1.3807,1.7538,-0.007612
2593,2015-01-07 09:30:00,7,79.78,79.78,77.24,78.79,78.193882,25888.95,-1.7218,1.2579,1.5979,0.016736
5181,2015-01-08 09:30:00,7,79.17,81.66,78.84,80.55,80.644187,23742.00,2.2425,1.1536,1.4654,0.000000
7769,2015-01-09 09:30:00,7,80.50,81.05,79.73,80.50,80.445976,17418.25,-0.0685,0.8463,1.0751,-0.005487
10357,2015-01-12 09:30:00,7,80.33,80.94,79.62,80.06,80.394629,14459.87,-0.5487,0.7026,0.8925,-0.008276
...,...,...,...,...,...,...,...,...,...,...,...,...
5335901,2021-06-25 09:30:00,7,33.47,34.21,32.47,32.72,33.093523,144224.79,-0.5038,4.6683,5.6001,0.045802
5340257,2021-06-28 09:30:00,7,32.55,34.38,31.73,34.05,33.345342,139247.18,4.0506,4.5071,5.4068,0.009732
5344616,2021-06-29 09:30:00,7,34.05,35.29,33.30,34.21,34.082576,116012.44,0.4866,3.7551,4.5047,0.002410
5348978,2021-06-30 09:30:00,7,34.38,34.63,33.80,34.38,34.302089,64823.50,0.4843,2.0982,2.5170,-0.007212
5353341,2021-07-01 09:30:00,7,34.46,34.46,33.47,34.05,33.964122,56382.50,-0.9639,1.8250,2.1893,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
6,2015-01-06 09:30:00,8,111.92,116.63,109.39,109.90,113.079041,22900.58,-1.7655,1.5546,1.7862,0.007373
2594,2015-01-07 09:30:00,8,109.90,111.87,107.87,110.56,110.042437,33754.57,0.5991,2.2915,2.6328,0.021500
5182,2015-01-08 09:30:00,8,110.71,113.85,109.19,113.09,112.341160,21484.40,2.2904,1.4585,1.6757,0.031796
7770,2015-01-09 09:30:00,8,113.09,120.79,111.42,116.68,116.052846,22378.24,3.1796,1.5192,1.7455,0.004774
10358,2015-01-12 09:30:00,8,116.68,118.91,114.46,117.34,117.402504,22003.25,0.5642,1.4937,1.7162,0.019438
...,...,...,...,...,...,...,...,...,...,...,...,...
5335902,2021-06-25 09:30:00,8,49.52,49.75,49.30,49.52,49.573867,112273.84,0.0000,0.4213,0.7005,0.000000
5340258,2021-06-28 09:30:00,8,49.52,49.75,49.30,49.52,49.499919,109348.05,0.0000,0.4103,0.6822,-0.004525
5344617,2021-06-29 09:30:00,8,49.52,49.75,49.30,49.30,49.394600,73248.97,-0.4525,0.2748,0.4570,0.013636
5348979,2021-06-30 09:30:00,8,49.30,50.19,49.07,49.97,49.840525,202984.10,1.3636,0.7616,1.2664,-0.004484
5353342,2021-07-01 09:30:00,8,49.97,49.97,49.52,49.75,49.766578,97628.71,-0.4484,0.3663,0.6091,-0.009009

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
7,2015-01-06 09:30:00,9,69.75,69.75,69.75,69.75,69.747366,0.00,0.0000,0.0000,0.0000,0.071815
2595,2015-01-07 09:30:00,9,69.75,69.75,69.75,69.75,69.747366,0.00,0.0000,0.0000,0.0000,-0.039625
5183,2015-01-08 09:30:00,9,74.76,76.53,71.79,71.79,73.786250,728037.39,2.9344,4.8872,6.0164,-0.002251
7771,2015-01-09 09:30:00,9,71.79,73.57,71.69,71.90,72.473169,409413.21,0.1500,2.7484,3.3834,-0.031579
10359,2015-01-12 09:30:00,9,71.63,71.74,69.80,69.91,70.708749,425518.47,-2.7715,2.8565,3.5165,-0.006211
...,...,...,...,...,...,...,...,...,...,...,...,...
5335903,2021-06-25 09:30:00,9,143.88,146.90,139.79,141.13,143.045618,962439.27,0.5696,3.7722,5.2245,0.057595
5340259,2021-06-28 09:30:00,9,140.33,148.32,140.33,145.74,145.289074,1191265.09,3.2725,4.6690,6.4666,0.083782
5344618,2021-06-29 09:30:00,9,148.41,160.31,148.41,160.31,157.700909,1256444.12,9.9939,4.9245,6.8204,-0.006074
5348980,2021-06-30 09:30:00,9,160.84,165.28,156.85,163.33,160.979054,1219490.20,1.8837,4.7796,6.6198,0.029444
5353343,2021-07-01 09:30:00,9,159.87,167.42,154.36,162.26,161.424904,846922.97,-0.6525,3.3194,4.5974,-0.061522

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
8,2015-01-06 09:30:00,10,79.73,79.73,79.73,79.73,79.731663,0.00,0.0000,0.0000,0.0000,0.000000
2596,2015-01-07 09:30:00,10,79.73,79.73,79.73,79.73,79.731663,0.00,0.0000,0.0000,0.0000,0.000000
5184,2015-01-08 09:30:00,10,79.73,79.73,79.73,79.73,79.731663,0.00,0.0000,0.0000,0.0000,0.000000
7772,2015-01-09 09:30:00,10,79.73,79.73,79.73,79.73,79.731663,0.00,0.0000,0.0000,0.0000,0.000000
10360,2015-01-12 09:30:00,10,79.73,79.73,79.73,79.73,79.731663,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335904,2021-06-25 09:30:00,10,42.34,42.67,42.34,42.45,42.454955,33128.00,0.2545,0.6344,0.6773,0.000000
5340260,2021-06-28 09:30:00,10,42.45,42.56,41.91,42.34,42.248084,33298.00,-0.2538,0.6377,0.6808,0.002538
5344619,2021-06-29 09:30:00,10,42.45,42.67,42.34,42.45,42.462498,36437.20,0.2545,0.6978,0.7450,0.037975
5348981,2021-06-30 09:30:00,10,42.56,43.74,42.34,43.64,43.166076,99254.11,2.7919,1.9008,2.0293,-0.017073
5353344,2021-07-01 09:30:00,10,44.18,44.18,42.99,43.10,43.347088,52327.00,-1.2346,1.0021,1.0699,-0.017370

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
9,2015-01-06 09:30:00,11,33.53,34.62,32.83,33.50,33.811651,199888.58,1.2024,11.3662,13.7663,-0.021212
2597,2015-01-07 09:30:00,11,32.83,32.93,31.81,32.34,32.303627,120052.17,-3.4653,6.8265,8.2679,0.017544
5185,2015-01-08 09:30:00,11,32.14,33.17,32.10,32.80,32.738755,97934.46,1.4359,5.5688,6.7447,-0.026369
7773,2015-01-09 09:30:00,11,32.70,33.03,31.87,31.97,32.431976,66031.82,-2.5278,3.7547,4.5476,-0.031250
10361,2015-01-12 09:30:00,11,31.84,32.17,31.34,31.34,31.772651,62073.59,-1.9710,3.5297,4.2750,-0.032258
...,...,...,...,...,...,...,...,...,...,...,...,...
5335905,2021-06-25 09:30:00,11,47.38,47.38,46.68,46.88,46.930993,41488.00,-1.0630,0.7880,2.2183,0.019008
5340261,2021-06-28 09:30:00,11,46.88,48.27,46.72,47.77,47.534187,56610.16,1.9008,1.0753,3.0269,-0.005677
5344620,2021-06-29 09:30:00,11,47.77,48.00,47.30,47.50,47.548908,31743.30,-0.5677,0.6029,1.6973,0.003263
5348982,2021-06-30 09:30:00,11,47.46,49.01,47.11,47.65,47.872781,48065.05,0.3263,0.9130,2.5700,-0.017886
5353345,2021-07-01 09:30:00,11,47.65,48.12,46.88,47.11,47.205665,37479.00,-1.1382,0.7119,2.0039,0.003311

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
10,2015-01-06 09:30:00,12,147.28,152.25,146.46,151.09,150.175268,774843.86,2.6997,5.9477,6.5364,0.002188
2598,2015-01-07 09:30:00,12,151.26,155.23,149.27,151.59,152.248831,746965.58,0.3286,5.7337,6.3012,-0.015284
5186,2015-01-08 09:30:00,12,151.59,152.58,147.12,149.10,149.559653,511580.63,-1.6376,3.9269,4.3155,0.016630
7774,2015-01-09 09:30:00,12,149.27,153.74,146.62,151.09,150.749511,644212.71,1.3319,4.9450,5.4344,-0.050164
10362,2015-01-12 09:30:00,12,151.75,152.58,146.95,147.12,149.895594,543439.95,-2.6287,4.1714,4.5843,-0.025258
...,...,...,...,...,...,...,...,...,...,...,...,...
5335906,2021-06-25 09:30:00,12,288.39,290.01,275.67,280.54,281.084379,562558.82,1.4677,2.8731,4.0040,0.003810
5340262,2021-06-28 09:30:00,12,284.06,286.77,279.46,281.63,283.554351,402935.62,0.3857,2.0579,2.8679,-0.007590
5344621,2021-06-29 09:30:00,12,285.14,288.93,279.73,281.90,283.995320,395883.50,0.0961,2.0219,2.8177,-0.015296
5348983,2021-06-30 09:30:00,12,282.98,283.79,273.78,275.67,277.142705,312612.53,-2.2073,1.5966,2.2250,-0.006796
5353346,2021-07-01 09:30:00,12,278.65,279.46,269.99,277.03,274.853991,312024.42,0.4907,1.5936,2.2208,-0.015640

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
11,2015-01-06 09:30:00,14,74.59,78.24,73.95,75.29,76.416331,60033.48,1.8116,2.9763,4.3784,-0.004225
2599,2015-01-07 09:30:00,14,76.09,76.09,72.34,75.18,73.563312,35689.44,-0.1423,1.7694,2.6029,-0.023338
5187,2015-01-08 09:30:00,14,75.77,75.99,73.68,73.95,74.602381,19831.53,-1.6393,0.9832,1.4464,-0.001448
7775,2015-01-09 09:30:00,14,74.00,74.76,72.13,73.20,73.002247,22370.23,-1.0145,1.1091,1.6315,-0.017404
10363,2015-01-12 09:30:00,14,73.90,73.90,72.34,72.40,73.086380,23233.08,-1.0981,1.1518,1.6944,-0.033948
...,...,...,...,...,...,...,...,...,...,...,...,...
5335907,2021-06-25 09:30:00,14,42.87,42.87,42.11,42.11,42.353243,8910.01,-1.2739,0.4417,0.6695,0.005083
5340263,2021-06-28 09:30:00,14,42.76,43.03,42.06,42.65,42.528748,14198.26,1.2903,0.7039,1.0668,-0.012642
5344622,2021-06-29 09:30:00,14,42.98,42.98,42.11,42.44,42.459741,10361.00,-0.5096,0.5137,0.7785,0.000000
5348984,2021-06-30 09:30:00,14,42.44,42.65,42.27,42.27,42.418989,10361.77,-0.3841,0.5137,0.7785,0.001280
5353347,2021-07-01 09:30:00,14,42.44,42.49,41.84,42.11,42.203819,8391.00,-0.3856,0.4160,0.6305,-0.003836

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
12,2015-01-06 09:30:00,16,61.59,63.54,61.28,62.82,62.667656,145845.80,2.0033,2.4311,2.7189,0.098200
2600,2015-01-07 09:30:00,16,62.82,69.09,62.20,69.09,67.022005,534961.63,9.9836,8.9173,9.9727,-0.022355
5188,2015-01-08 09:30:00,16,68.99,70.43,66.73,68.17,68.533431,375012.54,-1.3393,6.2511,6.9910,-0.015244
7776,2015-01-09 09:30:00,16,67.45,68.37,65.80,66.73,66.676536,188581.46,-2.1116,3.1435,3.5155,-0.017028
10364,2015-01-12 09:30:00,16,66.42,67.45,65.39,65.50,66.750565,129405.19,-1.8490,2.1571,2.4124,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335908,2021-06-25 09:30:00,16,145.89,147.00,144.56,144.79,145.717105,211052.93,-0.6088,1.3219,1.9673,0.010720
5340264,2021-06-28 09:30:00,16,144.79,146.78,141.90,145.89,144.741519,246262.55,0.7657,1.5424,2.2955,-0.003030
5344623,2021-06-29 09:30:00,16,146.34,148.33,145.23,145.45,146.732601,148958.12,-0.3040,0.9330,1.3885,-0.016717
5348985,2021-06-30 09:30:00,16,145.89,146.56,142.57,143.68,144.003177,167467.16,-1.2195,1.0489,1.5610,0.032457
5353348,2021-07-01 09:30:00,16,143.46,149.66,142.35,147.67,146.499791,273743.68,2.7778,1.7146,2.5516,-0.019461

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
13,2015-01-06 09:30:00,17,18.43,18.75,18.08,18.73,18.457492,32221.39,1.3062,1.0635,1.3455,0.011445
2601,2015-01-07 09:30:00,17,18.75,19.02,18.46,18.97,18.697597,32603.51,1.2894,1.0761,1.3615,0.025460
5189,2015-01-08 09:30:00,17,18.97,19.37,18.75,18.94,19.020867,25861.02,-0.1414,0.8536,1.0799,0.106207
7777,2015-01-09 09:30:00,17,19.45,20.84,19.32,20.84,20.510053,106423.67,10.0567,3.5126,4.4442,0.021197
10365,2015-01-12 09:30:00,17,21.52,22.94,21.19,22.08,22.106549,268716.80,5.9202,8.8692,11.2214,-0.058608
...,...,...,...,...,...,...,...,...,...,...,...,...
5335909,2021-06-25 09:30:00,17,9.71,9.93,9.34,9.55,9.589172,257113.79,-5.5703,8.4861,10.7367,-0.008523
5340265,2021-06-28 09:30:00,17,9.44,9.87,9.31,9.42,9.523713,146238.99,-1.4045,4.8267,6.1067,-0.025788
5344624,2021-06-29 09:30:00,17,9.36,9.39,8.99,9.07,9.139545,123520.08,-3.7037,4.0768,5.1580,0.023529
5348986,2021-06-30 09:30:00,17,9.12,9.85,8.99,9.34,9.382869,147479.20,2.9586,4.8676,6.1585,0.028736
5353349,2021-07-01 09:30:00,17,9.34,9.79,9.26,9.47,9.518079,117288.97,1.4368,3.8712,4.8978,-0.030726

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
14,2015-01-06 09:30:00,18,43.20,43.29,40.69,41.52,41.779565,24845.33,-6.6926,2.4915,4.8814,0.081677
2602,2015-01-07 09:30:00,18,40.07,43.43,40.07,43.22,41.996521,22214.85,4.0867,2.2277,4.3646,-0.027167
5190,2015-01-08 09:30:00,18,43.34,43.63,41.04,42.25,41.857829,16615.77,-2.2436,1.6662,3.2645,-0.014374
7778,2015-01-09 09:30:00,18,42.16,42.94,40.60,41.56,42.022667,11015.98,-1.6393,1.1047,2.1643,-0.048333
10366,2015-01-12 09:30:00,18,41.68,41.68,39.10,39.48,40.398006,26747.43,-5.0000,2.6822,5.2551,0.020140
...,...,...,...,...,...,...,...,...,...,...,...,...
3897976,2019-12-30 09:30:00,18,1.81,1.95,1.81,1.81,1.879365,683924.17,0.0000,6.8675,9.6587,0.000000
3901724,2019-12-31 09:30:00,18,1.81,1.88,1.75,1.81,1.801422,297584.73,0.0000,2.9881,4.2026,0.000000
3905474,2020-01-02 09:30:00,18,1.81,1.81,1.75,1.81,1.777905,199300.41,0.0000,2.0012,2.8146,0.000000
3909225,2020-01-03 09:30:00,18,1.81,1.88,1.75,1.81,1.807470,448072.34,0.0000,4.4992,6.3279,0.000000
3912976,2020-01-06 09:30:00,18,1.81,1.88,1.75,1.81,1.822924,552702.36,0.0000,5.5498,7.8055,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
15,2015-01-06 09:30:00,19,18.81,19.15,18.59,18.98,18.883171,35968.58,0.9103,1.4259,2.4831,0.025974
2603,2015-01-07 09:30:00,19,18.84,19.32,18.71,19.30,19.050488,32110.00,1.6753,1.2729,2.2167,-0.005063
5191,2015-01-08 09:30:00,19,19.32,19.45,19.01,19.23,19.207043,22370.83,-0.3802,0.8868,1.5444,-0.001272
7779,2015-01-09 09:30:00,19,19.23,19.45,19.08,19.30,19.292903,27548.44,0.3817,1.0921,1.9018,0.000000
10367,2015-01-12 09:30:00,19,19.20,19.72,19.10,19.20,19.465113,23898.38,-0.5070,0.9474,1.6498,-0.029299
...,...,...,...,...,...,...,...,...,...,...,...,...
5335910,2021-06-25 09:30:00,19,33.05,33.18,31.84,31.97,32.195145,89170.40,-3.0144,2.1426,3.2943,0.002703
5340266,2021-06-28 09:30:00,19,31.97,32.32,31.76,32.06,32.045221,45210.50,0.2703,1.0863,1.6702,0.009434
5344625,2021-06-29 09:30:00,19,32.06,32.58,32.02,32.32,32.226685,42432.42,0.8086,1.0196,1.5676,-0.022697
5348987,2021-06-30 09:30:00,19,32.36,32.36,31.45,31.54,31.824440,48839.29,-2.4064,1.1735,1.8043,0.000000
5353350,2021-07-01 09:30:00,19,31.63,31.71,31.15,31.45,31.363003,40595.82,-0.2740,0.9754,1.4997,0.004098

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
16,2015-01-06 09:30:00,20,14.07,14.07,14.07,14.07,14.067155,0.00,0.0000,0.0000,0.0000,0.000000
2604,2015-01-07 09:30:00,20,14.07,14.07,14.07,14.07,14.067155,0.00,0.0000,0.0000,0.0000,0.000000
5192,2015-01-08 09:30:00,20,14.07,14.07,14.07,14.07,14.067155,0.00,0.0000,0.0000,0.0000,0.000000
7780,2015-01-09 09:30:00,20,14.07,14.07,14.07,14.07,14.067155,0.00,0.0000,0.0000,0.0000,0.000000
10368,2015-01-12 09:30:00,20,14.07,14.07,14.07,14.07,14.067155,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335911,2021-06-25 09:30:00,20,17.55,17.89,17.38,17.78,17.653666,16074.54,1.2974,0.8873,3.5480,-0.028571
5340267,2021-06-28 09:30:00,20,17.78,17.78,17.10,17.36,17.354279,21768.00,-2.3645,1.2016,4.8047,0.003043
5344626,2021-06-29 09:30:00,20,17.27,17.47,17.06,17.20,17.227622,11717.73,-0.9082,0.6468,2.5864,-0.018200
5348988,2021-06-30 09:30:00,20,17.33,17.47,16.87,16.98,17.159651,9116.32,-1.3238,0.5032,2.0122,0.011329
5353351,2021-07-01 09:30:00,20,17.01,17.31,16.99,17.19,17.167359,9602.33,1.2384,0.5300,2.1194,-0.041752

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
17,2015-01-06 09:30:00,21,98.79,101.50,97.58,100.55,99.775817,242202.57,3.4819,1.6478,3.4194,0.037736
2605,2015-01-07 09:30:00,21,100.42,104.88,98.39,104.21,102.237563,298815.44,3.6339,2.0330,4.2186,0.016883
5193,2015-01-08 09:30:00,21,104.21,105.70,102.18,105.70,103.890005,277145.74,1.4286,1.8856,3.9127,0.008940
7781,2015-01-09 09:30:00,21,105.97,111.52,104.48,107.46,108.531999,583556.60,1.6645,3.9703,8.2385,-0.027848
10369,2015-01-12 09:30:00,21,106.91,110.16,105.02,105.02,107.688862,311097.78,-2.2670,2.1166,4.3920,0.063802
...,...,...,...,...,...,...,...,...,...,...,...,...
5335912,2021-06-25 09:30:00,21,262.64,262.64,253.57,255.13,257.258102,275701.65,-2.9111,1.8747,3.3400,0.010550
5340268,2021-06-28 09:30:00,21,255.13,261.65,253.85,257.68,258.286550,270313.00,0.9994,1.8380,3.2747,0.028571
5344627,2021-06-29 09:30:00,21,257.82,273.12,257.54,270.57,264.975717,564619.56,5.0027,3.8392,6.8401,-0.006410
5348989,2021-06-30 09:30:00,21,265.19,266.89,260.51,262.35,263.179473,370397.97,-3.0366,2.5186,4.4872,0.026344
5353352,2021-07-01 09:30:00,21,263.49,274.68,262.07,271.14,269.980551,525394.03,3.3477,3.5725,6.3649,-0.023049

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
18,2015-01-06 09:30:00,23,41.83,44.06,41.75,43.38,43.130984,47397.02,3.7107,3.4158,5.8938,0.010909
2606,2015-01-07 09:30:00,23,43.41,44.04,42.17,43.88,43.254627,46545.13,1.1522,3.3545,5.7878,0.002998
5194,2015-01-08 09:30:00,23,43.41,45.25,43.06,43.99,43.906780,37258.15,0.2398,2.6852,4.6330,0.014943
7782,2015-01-09 09:30:00,23,44.01,45.17,43.17,44.67,44.521576,52451.68,1.5550,3.7801,6.5223,0.061837
10370,2015-01-12 09:30:00,23,44.67,48.38,44.30,47.46,46.862643,45145.59,6.2426,3.2536,5.6138,-0.009429
...,...,...,...,...,...,...,...,...,...,...,...,...
5335913,2021-06-25 09:30:00,23,40.43,40.77,40.29,40.75,40.487140,4619.81,0.6592,0.3329,0.6567,-0.005894
5340269,2021-06-28 09:30:00,23,40.91,40.91,40.35,40.48,40.447913,3018.01,-0.6549,0.2175,0.4290,-0.001976
5344628,2021-06-29 09:30:00,23,40.51,40.51,40.27,40.43,40.346244,2200.09,-0.1318,0.1586,0.3127,-0.011221
5348990,2021-06-30 09:30:00,23,40.67,40.67,39.28,39.79,39.791736,3687.13,-1.5842,0.2657,0.5241,0.000668
5353353,2021-07-01 09:30:00,23,39.97,40.45,39.63,40.00,39.929696,2151.00,0.5366,0.1550,0.3058,-0.001334

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
19,2015-01-06 09:30:00,24,227.22,229.43,217.34,223.03,225.520371,1077245.66,6.9344,10.4964,10.4964,-0.034182
2607,2015-01-07 09:30:00,24,217.34,220.34,207.07,213.23,213.115411,773707.60,-4.3940,7.5388,7.5388,0.009036
5195,2015-01-08 09:30:00,24,209.91,216.31,205.17,214.02,211.350613,595574.08,0.3706,5.8031,5.8031,-0.053731
7783,2015-01-09 09:30:00,24,211.81,212.60,197.82,202.72,203.641771,640869.91,-5.2806,6.2445,6.2445,-0.026025
10371,2015-01-12 09:30:00,24,200.43,213.31,197.58,197.82,203.712110,776156.20,-2.4172,7.5627,7.5627,-0.024291
...,...,...,...,...,...,...,...,...,...,...,...,...
642006,2015-12-23 09:30:00,24,323.32,323.32,323.32,323.32,323.319357,0.00,0.0000,0.0000,0.0000,0.000000
644801,2015-12-24 09:30:00,24,323.32,323.32,323.32,323.32,323.319357,0.00,0.0000,0.0000,0.0000,0.000000
647599,2015-12-25 09:30:00,24,323.32,323.32,323.32,323.32,323.319357,0.00,0.0000,0.0000,0.0000,0.000000
650398,2015-12-28 09:30:00,24,323.32,323.32,323.32,323.32,323.319357,0.00,0.0000,0.0000,0.0000,0.000000
653197,2015-12-29 09:30:00,24,323.32,323.32,323.32,323.32,323.319357,0.00,0.0000,0.0000,0.0000,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
20,2015-01-06 09:30:00,25,18.92,19.39,18.79,19.20,19.037748,20920.16,1.5936,1.1668,4.3574,0.024510
2608,2015-01-07 09:30:00,25,19.22,19.90,19.19,19.68,19.525963,19487.55,2.4510,1.0869,4.0590,-0.007656
5196,2015-01-08 09:30:00,25,19.68,19.75,19.32,19.52,19.432575,12088.09,-0.7656,0.6742,2.5178,-0.006750
7784,2015-01-09 09:30:00,25,19.52,19.62,19.36,19.36,19.461759,8996.00,-0.8679,0.5017,1.8737,-0.008738
10372,2015-01-12 09:30:00,25,19.39,19.58,19.17,19.24,19.406215,7778.14,-0.5837,0.4338,1.6201,-0.016650
...,...,...,...,...,...,...,...,...,...,...,...,...
5335914,2021-06-25 09:30:00,25,41.22,41.30,40.53,40.53,40.778616,21895.28,-1.5293,0.5574,1.7995,-0.000004
5340270,2021-06-28 09:30:00,25,40.50,40.70,39.90,40.64,40.330887,23875.30,0.2701,0.6079,1.9623,0.012855
5344629,2021-06-29 09:30:00,25,40.50,41.38,40.48,41.05,40.942408,28036.32,1.0115,0.7138,2.3043,0.012024
5348991,2021-06-30 09:30:00,25,41.02,41.24,40.67,41.24,40.932268,26022.20,0.4673,0.6625,2.1387,-0.017822
5353354,2021-07-01 09:30:00,25,41.52,41.68,40.70,40.78,41.000505,27407.76,-1.1296,0.6978,2.2526,-0.006720

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
21,2015-01-06 09:30:00,26,72.79,74.68,71.32,73.84,72.971139,53175.08,1.3462,1.7094,3.5907,0.004766
2609,2015-01-07 09:30:00,26,73.49,74.12,71.88,74.05,72.993558,52118.30,0.2846,1.6755,3.5193,0.023719
5197,2015-01-08 09:30:00,26,73.84,76.37,73.56,76.02,75.361591,82511.93,2.6490,2.6525,5.5716,-0.011121
7785,2015-01-09 09:30:00,26,75.59,76.23,74.40,74.75,75.036512,46199.35,-1.6590,1.4852,3.1196,-0.011246
10373,2015-01-12 09:30:00,26,74.75,77.35,74.40,74.40,75.737113,66365.14,-0.4686,2.1334,4.4813,-0.014218
...,...,...,...,...,...,...,...,...,...,...,...,...
5335915,2021-06-25 09:30:00,26,108.79,108.79,105.45,105.85,106.248140,42455.27,-2.6374,1.1860,2.1774,0.009797
5340271,2021-06-28 09:30:00,26,105.69,107.68,105.05,106.80,106.607329,40754.14,0.9029,1.1385,2.0902,0.019403
5344630,2021-06-29 09:30:00,26,106.72,109.51,106.72,108.79,108.438315,47667.80,1.8643,1.3317,2.4448,-0.005857
5348992,2021-06-30 09:30:00,26,108.79,109.51,108.00,108.47,108.654943,40006.16,-0.2928,1.1176,2.0518,0.022091
5353355,2021-07-01 09:30:00,26,108.15,112.54,106.96,110.86,110.223108,69392.37,2.2026,1.9386,3.5589,-0.006484

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
22,2015-01-06 09:30:00,27,93.01,96.07,92.02,94.25,94.573190,477145.19,1.9713,4.9788,6.6821,0.004405
2610,2015-01-07 09:30:00,27,94.00,95.41,92.26,94.42,93.880789,338163.73,0.1757,3.5286,4.7357,0.039474
5198,2015-01-08 09:30:00,27,94.42,99.14,94.42,98.23,96.892237,550065.97,4.0351,5.7397,7.7033,-0.039662
7786,2015-01-09 09:30:00,27,98.15,98.15,94.09,94.25,95.623387,328722.55,-4.0472,3.4301,4.6035,-0.043937
10374,2015-01-12 09:30:00,27,94.25,94.92,90.77,90.94,92.928324,328908.67,-3.5149,3.4320,4.6061,-0.030331
...,...,...,...,...,...,...,...,...,...,...,...,...
5335916,2021-06-25 09:30:00,27,170.97,171.81,166.25,167.09,168.247139,726181.97,-2.8404,1.5264,5.8851,0.013185
5340272,2021-06-28 09:30:00,27,166.08,168.94,163.22,166.42,166.064168,704613.25,-0.4032,1.4811,5.7103,-0.028028
5344631,2021-06-29 09:30:00,27,168.27,169.79,166.08,166.42,167.310618,524009.00,0.0000,1.1015,4.2467,-0.028836
5348993,2021-06-30 09:30:00,27,163.55,164.23,156.65,157.15,159.533782,893756.23,-5.5668,1.8787,7.2432,-0.025451
5353356,2021-07-01 09:30:00,27,158.84,158.84,152.61,154.46,154.606936,761290.05,-1.7149,1.6002,6.1696,-0.057671

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
23,2015-01-06 09:30:00,28,183.96,189.10,180.35,185.38,184.916316,26188.94,1.2361,1.1227,2.1326,0.023983
2611,2015-01-07 09:30:00,28,183.96,192.21,183.00,190.06,188.735889,39715.19,2.5248,1.7026,3.2341,0.006110
5199,2015-01-08 09:30:00,28,188.37,196.12,188.37,189.71,191.307464,21122.81,-0.1817,0.9055,1.7201,-0.008300
7787,2015-01-09 09:30:00,28,189.52,192.21,187.99,187.99,190.746191,23361.50,-0.9100,1.0015,1.9024,0.020004
10375,2015-01-12 09:30:00,28,187.95,196.81,187.95,191.44,193.059189,44451.78,1.8367,1.9057,3.6198,0.002602
...,...,...,...,...,...,...,...,...,...,...,...,...
5335917,2021-06-25 09:30:00,28,153.45,153.45,152.43,153.04,152.917008,11287.45,-0.2922,0.3069,0.8824,0.006388
5340273,2021-06-28 09:30:00,28,153.20,154.10,152.63,153.98,153.542946,14642.53,0.6128,0.3982,1.1447,0.006612
5344632,2021-06-29 09:30:00,28,154.18,155.20,153.32,155.12,154.491029,18960.91,0.7415,0.5156,1.4823,-0.008933
5348994,2021-06-30 09:30:00,28,155.20,155.49,153.94,154.34,154.513457,13906.98,-0.4995,0.3782,1.0872,0.005832
5353357,2021-07-01 09:30:00,28,153.81,154.96,153.37,154.30,154.327103,12695.32,-0.0264,0.3452,0.9925,0.005535

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
24,2015-01-06 09:30:00,29,14.89,15.53,14.70,15.04,15.170936,231547.26,2.1834,2.5968,9.3075,-0.023022
2612,2015-01-07 09:30:00,29,14.89,14.89,14.20,14.67,14.525264,162124.95,-2.4217,1.8182,6.5169,0.023564
5200,2015-01-08 09:30:00,29,14.55,14.91,14.42,14.89,14.737561,112928.41,1.4599,1.2665,4.5394,-0.021583
7788,2015-01-09 09:30:00,29,14.89,15.32,14.65,14.65,15.034476,150452.23,-1.5827,1.6873,6.0477,-0.030882
10376,2015-01-12 09:30:00,29,14.57,14.80,14.27,14.27,14.576892,69217.37,-2.6316,0.7763,2.7823,-0.044006
...,...,...,...,...,...,...,...,...,...,...,...,...
5335918,2021-06-25 09:30:00,29,16.40,16.44,16.26,16.35,16.343373,24331.92,-0.1381,0.2729,0.9781,0.009682
5340274,2021-06-28 09:30:00,29,16.35,16.49,16.17,16.46,16.341337,37829.09,0.6916,0.4243,1.5206,0.038356
5344633,2021-06-29 09:30:00,29,16.51,17.17,16.44,16.96,16.912163,76024.42,3.0220,0.8526,3.0559,0.003958
5348995,2021-06-30 09:30:00,29,17.14,17.41,16.85,17.05,17.136512,52111.85,0.5333,0.5844,2.0947,-0.009198
5353358,2021-07-01 09:30:00,29,17.21,17.21,17.01,17.12,17.101005,34357.86,0.3979,0.3853,1.3811,-0.005305

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
25,2015-01-06 09:30:00,30,18.02,18.57,17.93,17.99,18.179438,148748.51,0.0000,2.6536,3.9128,0.045509
2613,2015-01-07 09:30:00,30,17.78,19.10,17.48,18.72,18.421342,221367.10,4.0237,3.9490,5.8231,0.048110
5201,2015-01-08 09:30:00,30,18.59,20.02,18.38,19.61,19.328909,265842.24,4.7782,4.7424,6.9930,0.002186
7789,2015-01-09 09:30:00,30,19.48,19.87,19.19,19.57,19.514170,155594.48,-0.2172,2.7757,4.0929,-0.038168
10377,2015-01-12 09:30:00,30,19.53,19.80,19.06,19.08,19.494153,182366.11,-2.5027,3.2533,4.7971,-0.015873
...,...,...,...,...,...,...,...,...,...,...,...,...
5335919,2021-06-25 09:30:00,30,22.95,23.48,22.73,23.44,23.266514,77339.69,2.1739,0.4395,1.4007,-0.028875
5340275,2021-06-28 09:30:00,30,23.44,23.55,22.66,22.84,22.876363,83427.72,-2.5836,0.4741,1.5109,0.004695
5344634,2021-06-29 09:30:00,30,22.77,23.12,22.66,23.05,22.861755,46796.29,0.9360,0.2659,0.8475,-0.014019
5348996,2021-06-30 09:30:00,30,22.87,23.09,22.59,22.63,22.752727,29659.06,-1.8547,0.1685,0.5371,0.006319
5353359,2021-07-01 09:30:00,30,22.55,22.84,22.30,22.70,22.541083,39681.23,0.3150,0.2255,0.7186,-0.009419

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
26,2015-01-06 09:30:00,31,122.17,127.80,119.70,127.80,126.006196,1422482.49,10.0473,7.8429,15.8927,-0.057292
2614,2015-01-07 09:30:00,31,131.78,138.51,127.80,129.86,131.865098,2290377.47,1.6112,12.6281,25.5892,0.022099
5202,2015-01-08 09:30:00,31,124.23,129.04,123.96,126.16,126.019924,1019879.47,-2.8541,5.6231,11.3946,-0.037838
7790,2015-01-09 09:30:00,31,126.98,133.71,123.96,126.98,129.422974,1212698.74,0.6529,6.6863,13.5489,-0.014607
10378,2015-01-12 09:30:00,31,122.17,129.86,120.25,122.45,124.430278,973717.02,-3.5676,5.3686,10.8789,-0.009122
...,...,...,...,...,...,...,...,...,...,...,...,...
5335920,2021-06-25 09:30:00,31,54.06,54.94,54.06,54.65,54.594141,53818.10,0.0000,0.2846,0.5208,-0.010695
5340276,2021-06-28 09:30:00,31,54.79,54.79,53.92,54.36,54.293794,47840.00,-0.5362,0.2530,0.4629,-0.008108
5344635,2021-06-29 09:30:00,31,54.21,54.50,53.48,53.77,53.907007,66838.99,-1.0782,0.3535,0.6468,-0.010899
5348997,2021-06-30 09:30:00,31,53.77,53.92,52.89,53.18,53.442569,65952.91,-1.0899,0.3488,0.6382,0.000000
5353360,2021-07-01 09:30:00,31,53.18,53.48,52.45,52.74,52.872644,72184.92,-0.8264,0.3818,0.6985,0.002755

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
27,2015-01-06 09:30:00,32,37.97,41.13,37.84,40.93,40.266369,133688.17,9.4545,5.7420,9.9045,-0.039088
2615,2015-01-07 09:30:00,32,41.75,42.46,39.43,40.45,40.470682,70104.11,-1.1628,3.0110,5.1938,0.002542
5203,2015-01-08 09:30:00,32,40.11,40.56,38.96,40.22,39.837685,45819.16,-0.5882,1.9679,3.3946,-0.012680
7791,2015-01-09 09:30:00,32,40.08,40.45,39.54,39.71,39.890718,25947.06,-1.2680,1.1144,1.9223,-0.005993
10379,2015-01-12 09:30:00,32,39.71,40.08,38.99,39.03,39.419540,29411.38,-1.7123,1.2632,2.1790,-0.037037
...,...,...,...,...,...,...,...,...,...,...,...,...
5335921,2021-06-25 09:30:00,32,82.85,82.85,79.77,79.90,80.959188,15055.92,-3.5194,0.3659,0.9055,-0.019013
5340277,2021-06-28 09:30:00,32,81.02,81.02,77.86,79.52,79.055231,17375.47,-0.4690,0.4223,1.0450,-0.002619
5344636,2021-06-29 09:30:00,32,79.48,80.65,78.94,79.27,79.407461,7986.08,-0.3141,0.1941,0.4803,-0.008403
5348998,2021-06-30 09:30:00,32,79.65,79.65,78.44,78.61,78.921999,7551.25,-0.8403,0.1835,0.4542,0.012182
5353361,2021-07-01 09:30:00,32,78.27,79.52,78.27,79.23,78.901182,6112.04,0.7945,0.1486,0.3676,-0.008373

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
28,2015-01-06 09:30:00,33,9.87,9.87,9.87,9.87,9.868429,0.00,0.0000,0.0000,0.0000,0.000000
2616,2015-01-07 09:30:00,33,9.87,9.87,9.87,9.87,9.868429,0.00,0.0000,0.0000,0.0000,0.000000
5204,2015-01-08 09:30:00,33,9.87,9.87,9.87,9.87,9.868429,0.00,0.0000,0.0000,0.0000,0.000000
7792,2015-01-09 09:30:00,33,9.87,9.87,9.87,9.87,9.868429,0.00,0.0000,0.0000,0.0000,0.000000
10380,2015-01-12 09:30:00,33,9.87,9.87,9.87,9.87,9.868429,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1737402,2017-06-30 09:30:00,33,3.66,3.92,3.64,3.82,3.816748,189231.98,4.9645,4.4036,5.3215,-0.027027
1740673,2017-07-03 09:30:00,33,3.82,3.95,3.66,3.69,3.785544,207563.39,-3.3784,4.8302,5.8370,0.034722
1743945,2017-07-04 09:30:00,33,3.71,3.82,3.69,3.82,3.763365,159417.38,3.4965,3.7098,4.4831,0.006711
1747219,2017-07-05 09:30:00,33,3.84,3.92,3.79,3.82,3.849758,194261.98,0.0000,4.5207,5.4629,0.113333
1750493,2017-07-06 09:30:00,33,3.87,4.20,3.84,4.20,4.038790,287694.49,10.1351,6.6949,8.0904,0.017964

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
29,2015-01-06 09:30:00,34,20.19,20.64,19.75,20.31,20.180408,53450.63,0.2924,1.5718,2.2861,0.000000
2617,2015-01-07 09:30:00,34,20.31,20.55,19.81,20.52,20.084774,104035.40,1.0204,3.0593,4.4496,0.014577
5205,2015-01-08 09:30:00,34,20.31,20.73,20.16,20.61,20.491290,86523.96,0.4329,2.5443,3.7006,-0.021552
7793,2015-01-09 09:30:00,34,20.61,20.70,20.13,20.22,20.342659,51178.70,-1.8678,1.5050,2.1889,-0.016153
10381,2015-01-12 09:30:00,34,20.16,20.28,19.90,19.93,20.130963,39046.64,-1.4641,1.1482,1.6700,-0.052239
...,...,...,...,...,...,...,...,...,...,...,...,...
5335922,2021-06-25 09:30:00,34,59.02,59.05,57.82,58.04,58.319919,108352.86,-2.3797,2.1726,2.7486,0.061900
5340278,2021-06-28 09:30:00,34,57.64,61.79,57.64,61.45,60.526439,298817.37,5.8824,5.9916,7.5802,-0.014573
5344637,2021-06-29 09:30:00,34,61.21,61.21,59.58,60.31,60.189956,195586.82,-1.8519,3.9217,4.9615,0.058644
5348999,2021-06-30 09:30:00,34,60.31,66.34,60.13,64.10,64.525795,603985.01,6.2723,12.1105,15.3214,0.077553
5353362,2021-07-01 09:30:00,34,63.85,69.33,63.64,67.20,66.947001,544908.35,4.8464,10.9259,13.8228,-0.075101

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
30,2015-01-06 09:30:00,35,29.15,29.15,29.15,29.15,29.145224,0.00,0.0000,0.0000,0.0000,0.000000
2618,2015-01-07 09:30:00,35,29.15,29.15,29.15,29.15,29.145224,0.00,0.0000,0.0000,0.0000,0.000000
5206,2015-01-08 09:30:00,35,29.15,29.15,29.15,29.15,29.145224,0.00,0.0000,0.0000,0.0000,0.000000
7794,2015-01-09 09:30:00,35,29.15,29.15,29.15,29.15,29.145224,0.00,0.0000,0.0000,0.0000,0.000000
10382,2015-01-12 09:30:00,35,29.15,29.15,29.15,29.15,29.145224,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335923,2021-06-25 09:30:00,35,22.14,22.32,21.77,22.00,22.022629,103496.98,-0.2092,0.4219,0.5968,-0.008351
5340279,2021-06-28 09:30:00,35,22.09,22.23,21.67,21.91,21.884281,69684.00,-0.4193,0.2840,0.4018,-0.014737
5344638,2021-06-29 09:30:00,35,21.91,21.91,21.35,21.44,21.587756,83582.80,-2.1053,0.3407,0.4819,-0.027778
5349000,2021-06-30 09:30:00,35,21.58,21.58,20.98,20.98,21.118297,72556.98,-2.1505,0.2957,0.4184,0.006593
5353363,2021-07-01 09:30:00,35,20.98,21.31,20.89,21.03,21.026526,40756.25,0.2198,0.1661,0.2350,-0.028384

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
31,2015-01-06 09:30:00,36,31.35,33.16,31.21,31.77,32.148049,665611.02,0.4405,5.9224,8.6238,-0.033333
2619,2015-01-07 09:30:00,36,31.35,31.42,30.03,30.51,30.635569,359562.72,-3.9474,3.1993,4.6586,0.018391
5207,2015-01-08 09:30:00,36,30.31,31.21,30.24,30.93,30.735193,219646.00,1.3699,1.9544,2.8458,-0.020316
7795,2015-01-09 09:30:00,36,30.86,31.07,29.96,29.96,30.290715,244644.92,-3.1532,2.1768,3.1697,-0.025346
10383,2015-01-12 09:30:00,36,30.24,30.44,29.68,29.75,30.117940,204180.05,-0.6977,1.8167,2.6454,-0.044917
...,...,...,...,...,...,...,...,...,...,...,...,...
5335924,2021-06-25 09:30:00,36,44.79,45.26,44.43,44.67,44.885943,52707.81,0.0000,0.3564,0.5345,0.018667
5340280,2021-06-28 09:30:00,36,44.67,45.50,44.43,45.38,45.113458,55967.90,1.6000,0.3784,0.5675,0.151832
5344639,2021-06-29 09:30:00,36,45.50,49.91,45.50,49.91,49.176564,350274.42,9.9738,2.3683,3.5520,0.068182
5349001,2021-06-30 09:30:00,36,52.41,54.91,51.22,54.91,54.305773,686312.82,10.0239,4.6404,6.9596,-0.038298
5353364,2021-07-01 09:30:00,36,55.99,60.39,54.91,55.51,57.844761,1104702.74,1.0846,7.4693,11.2024,-0.002212

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
32,2015-01-06 09:30:00,37,43.01,44.02,41.70,43.51,42.909623,122408.63,1.3175,3.6120,7.0749,0.031746
2620,2015-01-07 09:30:00,37,42.78,43.01,41.31,42.72,42.205130,102215.69,-1.8205,3.0162,5.9000,0.155128
5208,2015-01-08 09:30:00,37,44.14,47.02,44.14,47.02,46.437752,122485.78,10.0662,3.6143,7.0700,-0.015538
7796,2015-01-09 09:30:00,37,50.98,51.72,49.00,51.72,51.164369,204035.31,9.9880,6.0206,11.7771,-0.074408
10384,2015-01-12 09:30:00,37,50.19,50.93,47.53,47.65,49.585623,312058.54,-7.8775,9.2081,18.0122,0.018270
...,...,...,...,...,...,...,...,...,...,...,...,...
5335925,2021-06-25 09:30:00,37,48.18,48.46,47.16,47.22,47.551012,38946.10,-1.8846,1.1492,3.6062,0.016766
5340281,2021-06-28 09:30:00,37,47.33,47.39,46.54,47.16,46.870246,34228.00,-0.1200,1.0100,3.1693,-0.007067
5344640,2021-06-29 09:30:00,37,48.12,49.03,47.73,48.18,48.211938,47013.00,2.1635,1.3872,4.3531,0.001186
5349002,2021-06-30 09:30:00,37,47.78,48.97,47.56,47.78,48.121812,36170.00,-0.8235,1.0673,3.3491,0.007109
5353365,2021-07-01 09:30:00,37,47.84,48.41,47.73,48.07,47.994841,26630.00,0.5931,0.7858,2.4658,-0.041176

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
33,2015-01-06 09:30:00,38,30.63,31.20,30.16,30.98,30.554734,7603.51,1.6374,2.7124,2.7124,0.002882
2621,2015-01-07 09:30:00,38,30.93,31.02,30.31,30.84,30.599301,6358.61,-0.4603,2.2683,2.2683,-0.004023
5209,2015-01-08 09:30:00,38,31.02,31.11,30.57,30.84,30.800742,6140.14,0.0000,2.1904,2.1904,-0.007501
7797,2015-01-09 09:30:00,38,30.89,30.89,30.13,30.63,30.486458,3989.35,-0.6936,1.4231,1.4231,-0.000581
10385,2015-01-12 09:30:00,38,30.66,31.20,30.48,30.66,30.820708,7094.52,0.1164,2.5309,2.5309,-0.018615
...,...,...,...,...,...,...,...,...,...,...,...,...
5335926,2021-06-25 09:30:00,38,33.92,33.92,33.07,33.13,33.345361,18715.60,-1.9896,0.7858,1.2001,0.000000
5340282,2021-06-28 09:30:00,38,33.04,33.45,32.92,33.07,33.192448,16990.00,-0.1765,0.7133,1.0895,-0.001770
5344641,2021-06-29 09:30:00,38,33.04,33.30,32.63,32.98,33.027840,13283.00,-0.2653,0.5577,0.8518,-0.009752
5349003,2021-06-30 09:30:00,38,32.98,33.04,32.51,32.66,32.685465,15584.80,-0.9752,0.6543,0.9994,0.000000
5353366,2021-07-01 09:30:00,38,32.57,32.86,32.31,32.60,32.610909,12386.60,-0.1791,0.5201,0.7943,-0.004476

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
34,2015-01-06 09:30:00,39,505.16,517.33,492.07,507.45,504.283284,456487.82,0.9593,3.6769,5.6402,-0.014053
2622,2015-01-07 09:30:00,39,506.54,518.48,495.51,503.55,506.744782,363465.01,-0.7692,2.9276,4.4909,-0.016092
5210,2015-01-08 09:30:00,39,499.42,503.55,485.87,490.46,492.437326,322170.44,-2.5992,2.5950,3.9806,-0.037383
7798,2015-01-09 09:30:00,39,491.38,492.76,475.54,476.23,480.738323,227401.76,-2.9026,1.8316,2.8097,-0.016505
10386,2015-01-12 09:30:00,39,473.01,486.56,468.88,469.11,479.381285,228811.39,-1.4947,1.8430,2.8271,-0.017769
...,...,...,...,...,...,...,...,...,...,...,...,...
5335927,2021-06-25 09:30:00,39,549.04,563.85,540.71,551.20,551.327383,247305.62,0.5062,1.6119,2.0883,0.015050
5340283,2021-06-28 09:30:00,39,553.36,565.39,545.34,560.45,558.964616,259099.10,1.6788,1.6887,2.1878,0.003295
5344642,2021-06-29 09:30:00,39,561.69,564.77,542.87,562.00,554.313183,256174.95,0.2752,1.6697,2.1631,-0.010400
5349004,2021-06-30 09:30:00,39,563.54,565.08,549.04,557.37,555.358830,207936.41,-0.8233,1.3553,1.7558,0.006084
5353367,2021-07-01 09:30:00,39,557.68,570.63,545.96,560.76,559.778925,224813.52,0.6087,1.4653,1.8983,-0.032985

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
35,2015-01-06 09:30:00,40,27.98,29.69,27.30,28.62,28.741518,311502.22,1.9787,6.7071,10.3295,-0.036364
2623,2015-01-07 09:30:00,40,28.20,28.20,26.92,27.73,27.636272,161286.21,-3.1343,3.4727,5.3483,0.025157
5211,2015-01-08 09:30:00,40,27.17,28.20,27.17,27.94,27.639263,74035.91,0.7704,1.5941,2.4550,-0.032209
7799,2015-01-09 09:30:00,40,27.86,28.07,27.13,27.17,27.374380,58778.07,-2.7523,1.2656,1.9491,-0.004754
10387,2015-01-12 09:30:00,40,26.96,28.33,26.92,27.09,27.700784,82541.14,-0.3145,1.7772,2.7371,0.012739
...,...,...,...,...,...,...,...,...,...,...,...,...
5335928,2021-06-25 09:30:00,40,11.65,12.57,11.65,12.57,12.363377,797514.37,9.8859,7.5213,8.8260,-0.030928
5340284,2021-06-28 09:30:00,40,12.66,13.05,12.26,12.44,12.706067,1221032.68,-1.0381,11.5155,13.5131,0.014184
5344643,2021-06-29 09:30:00,40,12.26,12.92,12.26,12.61,12.625613,677507.35,1.3986,6.3895,7.4979,-0.020979
5349005,2021-06-30 09:30:00,40,12.44,12.48,12.05,12.13,12.217690,506090.96,-3.7931,4.7729,5.6009,0.000000
5353368,2021-07-01 09:30:00,40,12.18,12.39,12.09,12.22,12.229432,327526.71,0.7168,3.0889,3.6247,-0.032143

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
36,2015-01-06 09:30:00,42,195.23,209.45,195.23,195.98,200.482915,162965.29,1.5656,3.4037,8.9951,-0.034505
2624,2015-01-07 09:30:00,42,193.34,193.84,185.91,186.79,188.676179,85470.61,-4.6885,1.7851,4.7177,0.013486
5212,2015-01-08 09:30:00,42,186.67,192.71,184.78,189.18,188.731562,54786.20,1.2803,1.1443,3.0240,-0.038589
7800,2015-01-09 09:30:00,42,189.18,190.32,179.74,181.88,183.359371,56132.68,-3.8589,1.1724,3.0983,-0.017301
10388,2015-01-12 09:30:00,42,181.88,184.91,178.61,178.74,182.246668,40068.79,-1.7301,0.8369,2.2116,-0.035915
...,...,...,...,...,...,...,...,...,...,...,...,...
5335929,2021-06-25 09:30:00,42,113.37,113.37,111.90,112.16,112.282335,3608.00,-0.7092,0.0544,0.1788,0.005952
5340285,2021-06-28 09:30:00,42,112.83,112.83,111.90,112.03,112.306370,4377.00,-0.1190,0.0660,0.2169,-0.007101
5344644,2021-06-29 09:30:00,42,112.83,112.83,111.63,112.03,111.919139,3774.14,0.0000,0.0570,0.1870,0.008343
5349006,2021-06-30 09:30:00,42,111.90,113.77,111.36,112.96,112.807100,10009.00,0.8343,0.1510,0.4959,-0.003546
5353369,2021-07-01 09:30:00,42,112.30,113.23,112.30,112.56,112.849829,2791.00,-0.3546,0.0421,0.1383,0.002372

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
37,2015-01-06 09:30:00,45,27.58,28.11,26.91,27.70,27.499382,58848.61,0.3181,1.4510,2.8454,0.029787
2625,2015-01-07 09:30:00,45,27.52,28.43,27.08,28.19,27.704033,52851.39,1.7970,1.3032,2.5554,0.017562
5213,2015-01-08 09:30:00,45,28.34,29.25,28.19,28.81,28.737536,68204.07,2.1807,1.6817,3.2977,-0.009137
7801,2015-01-09 09:30:00,45,28.84,29.45,28.46,29.04,28.974393,53115.82,0.8130,1.3097,2.5682,0.014344
10389,2015-01-12 09:30:00,45,28.58,29.51,28.40,28.98,29.017138,61220.50,-0.2016,1.5095,2.9600,-0.050505
...,...,...,...,...,...,...,...,...,...,...,...,...
5335930,2021-06-25 09:30:00,45,25.53,25.56,24.89,25.12,25.103311,40657.06,-1.6110,0.8896,1.9658,0.014035
5340286,2021-06-28 09:30:00,45,25.12,25.56,25.01,25.36,25.326918,36878.01,0.9357,0.8069,1.7831,0.016148
5344645,2021-06-29 09:30:00,45,25.48,25.95,25.30,25.71,25.623983,42294.01,1.3905,0.9254,2.0450,-0.023837
5349007,2021-06-30 09:30:00,45,25.89,25.89,25.12,25.24,25.431523,37059.47,-1.8286,0.8109,1.7919,0.053488
5353370,2021-07-01 09:30:00,45,25.27,26.97,25.24,26.36,26.203715,103436.50,4.4237,2.2633,5.0013,-0.036424

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
38,2015-01-06 09:30:00,46,313.45,329.51,305.88,318.00,318.888017,1009099.01,6.1678,2.2203,9.4860,-0.027106
2626,2015-01-07 09:30:00,46,312.85,314.36,298.61,300.73,305.162634,408043.82,-5.4286,0.8978,3.8358,0.039801
5214,2015-01-08 09:30:00,46,304.37,325.57,300.73,316.48,316.253180,475155.43,5.2367,1.0455,4.4667,-0.057416
7802,2015-01-09 09:30:00,46,316.48,317.39,294.07,298.31,303.445447,454936.85,-5.7416,1.0010,4.2766,0.000000
10390,2015-01-12 09:30:00,46,298.31,298.31,298.31,298.31,298.312057,0.00,0.0000,0.0000,0.0000,0.015228
...,...,...,...,...,...,...,...,...,...,...,...,...
5335931,2021-06-25 09:30:00,46,91.82,93.18,90.12,91.48,91.516067,149871.46,-0.3704,0.2886,0.9918,-0.007435
5340287,2021-06-28 09:30:00,46,91.48,91.48,90.46,91.14,90.934570,265623.00,-0.3717,0.5114,1.7578,-0.097378
5344646,2021-06-29 09:30:00,46,90.80,90.80,81.95,81.95,85.085594,834147.48,-10.0746,1.6060,5.5200,-0.012448
5349008,2021-06-30 09:30:00,46,81.95,82.97,79.91,80.59,81.446987,396861.00,-1.6598,0.7641,2.6262,-0.033613
5353371,2021-07-01 09:30:00,46,80.93,81.61,77.87,78.21,78.699329,425807.48,-2.9536,0.8198,2.8178,-0.004348

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
39,2015-01-06 09:30:00,48,61.67,62.32,60.96,61.43,61.505588,30281.64,-1.5137,0.7972,1.0938,0.014493
2627,2015-01-07 09:30:00,48,61.08,63.56,61.08,62.20,62.152966,41919.48,1.2488,1.1036,1.5141,-0.008571
5215,2015-01-08 09:30:00,48,61.96,62.14,60.72,61.31,61.192227,29876.83,-1.4231,0.7865,1.0791,0.034582
7803,2015-01-09 09:30:00,48,61.43,64.32,61.43,63.50,63.441229,85044.63,3.5611,2.2388,3.0718,-0.033426
10391,2015-01-12 09:30:00,48,63.56,64.03,62.26,62.32,63.032856,32922.54,-1.8587,0.8667,1.1891,-0.005764
...,...,...,...,...,...,...,...,...,...,...,...,...
5335932,2021-06-25 09:30:00,48,156.38,156.55,154.58,154.75,154.996223,9425.95,-1.0959,0.1802,0.6648,0.015470
5340288,2021-06-28 09:30:00,48,155.18,157.24,154.75,156.38,155.929006,9919.51,1.0526,0.1896,0.6996,0.029380
5344647,2021-06-29 09:30:00,48,157.58,162.72,157.58,162.29,161.021587,21706.54,3.7829,0.4149,1.5310,-0.024313
5349009,2021-06-30 09:30:00,48,162.21,162.29,158.26,159.12,159.556398,14099.84,-1.9546,0.2695,0.9945,0.013001
5353372,2021-07-01 09:30:00,48,158.26,159.98,157.32,158.18,158.655337,11783.96,-0.5927,0.2252,0.8311,-0.031016

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
40,2015-01-06 09:30:00,49,158.21,163.41,156.05,161.73,159.558555,47263.39,2.1912,2.3028,4.2043,0.039675
2628,2015-01-07 09:30:00,49,161.57,168.56,159.58,167.98,166.148066,60101.12,3.8661,2.9283,5.3463,-0.016891
5216,2015-01-08 09:30:00,49,167.98,169.19,164.99,165.83,166.679284,36790.97,-1.2825,1.7926,3.2727,0.004773
7804,2015-01-09 09:30:00,49,165.14,167.93,164.78,165.93,166.343529,24178.96,0.0634,1.1781,2.1508,0.009816
10392,2015-01-12 09:30:00,49,165.93,171.08,164.88,167.72,169.164603,55152.60,1.0766,2.6872,4.9061,0.008153
...,...,...,...,...,...,...,...,...,...,...,...,...
5335933,2021-06-25 09:30:00,49,371.66,381.36,363.74,374.41,372.049310,131396.57,2.7735,4.4152,8.0609,-0.015757
5340289,2021-06-28 09:30:00,49,374.49,374.82,362.04,369.56,367.983480,75776.59,-1.2953,2.5462,4.6488,0.007895
5344648,2021-06-29 09:30:00,49,368.59,374.25,366.33,369.89,369.921013,61388.95,0.0875,2.0628,3.7661,-0.016754
5349010,2021-06-30 09:30:00,49,371.50,380.56,367.38,367.54,373.600468,76840.91,-0.6337,2.5820,4.7140,0.008409
5353373,2021-07-01 09:30:00,49,365.28,371.83,357.36,371.02,364.317766,71359.30,0.9457,2.3978,4.3778,-0.024797

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
41,2015-01-06 09:30:00,50,160.45,164.11,156.38,158.82,159.623200,273788.08,1.7745,4.7680,8.7684,0.035956
2629,2015-01-07 09:30:00,50,156.29,161.91,155.24,160.61,158.972448,225950.71,1.1282,3.9349,7.2364,-0.012575
5217,2015-01-08 09:30:00,50,161.91,162.08,157.43,160.04,159.713604,178988.60,-0.3550,3.1171,5.7323,-0.021396
7805,2015-01-09 09:30:00,50,159.88,160.86,157.43,158.00,159.040862,99456.42,-1.2723,1.7320,3.1852,-0.024466
10393,2015-01-12 09:30:00,50,156.46,160.29,154.01,154.10,157.752389,118478.11,-2.4742,2.0633,3.7944,-0.002134
...,...,...,...,...,...,...,...,...,...,...,...,...
5335934,2021-06-25 09:30:00,50,119.31,120.99,118.90,120.40,120.267829,190404.69,0.6298,0.9129,1.7156,-0.005571
5340290,2021-06-28 09:30:00,50,120.24,120.49,118.48,119.57,119.469889,176495.92,-0.6954,0.8462,1.5903,-0.005602
5344649,2021-06-29 09:30:00,50,119.57,120.15,118.48,119.06,119.170138,158555.77,-0.4202,0.7602,1.4286,-0.009859
5349011,2021-06-30 09:30:00,50,118.90,120.32,117.56,117.97,118.828523,195570.82,-0.9142,0.9377,1.7622,0.008535
5353374,2021-07-01 09:30:00,50,117.72,119.65,117.72,118.73,118.798381,115000.78,0.6388,0.5514,1.0362,-0.031735

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
42,2015-01-06 09:30:00,55,58.83,59.47,57.41,58.06,57.951251,95497.88,-2.6601,2.2728,2.8631,0.004065
2630,2015-01-07 09:30:00,55,57.83,58.35,56.42,58.00,57.219022,68264.85,-0.1012,1.6247,2.0467,0.002024
5218,2015-01-08 09:30:00,55,58.06,58.71,57.30,58.00,57.835481,58974.18,0.0000,1.4035,1.7681,-0.004040
7806,2015-01-09 09:30:00,55,58.18,58.47,57.59,57.71,58.059969,50184.05,-0.5066,1.1943,1.5046,-0.001014
10394,2015-01-12 09:30:00,55,57.94,59.18,57.83,57.88,58.173975,49816.43,0.3055,1.1856,1.4935,-0.025381
...,...,...,...,...,...,...,...,...,...,...,...,...
5335935,2021-06-25 09:30:00,55,42.95,46.37,42.95,44.90,44.685517,284966.68,6.4965,4.2067,6.5364,0.050328
5340291,2021-06-28 09:30:00,55,44.71,48.72,44.12,47.25,46.951245,436617.63,5.2288,6.4454,10.0149,-0.029167
5344650,2021-06-29 09:30:00,55,46.96,47.15,45.29,45.98,45.938711,254197.53,-2.6915,3.7525,5.8306,-0.006438
5349012,2021-06-30 09:30:00,55,45.59,46.27,44.90,45.39,45.481848,158040.03,-1.2766,2.3330,3.6250,0.000000
5353375,2021-07-01 09:30:00,55,45.29,46.18,44.32,45.49,45.467173,167507.31,0.2155,2.4727,3.8422,-0.032397

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
43,2015-01-06 09:30:00,56,32.44,33.94,31.65,33.00,32.978878,37535.64,1.5119,2.6238,2.8961,-0.020641
2631,2015-01-07 09:30:00,56,32.89,32.89,31.39,32.21,31.830278,52280.98,-2.4113,3.6546,4.0339,-0.014535
5219,2015-01-08 09:30:00,56,32.21,32.21,31.51,31.76,31.786740,29430.57,-1.3808,2.0573,2.2708,0.023599
7807,2015-01-09 09:30:00,56,31.74,32.47,31.74,32.42,32.283913,35554.75,2.0634,2.4854,2.7433,-0.025216
10395,2015-01-12 09:30:00,56,32.49,32.89,31.76,31.79,32.469299,26865.73,-1.9495,1.8780,2.0729,-0.032520
...,...,...,...,...,...,...,...,...,...,...,...,...
5335936,2021-06-25 09:30:00,56,13.37,13.42,13.04,13.04,13.233345,106527.06,-2.1201,1.1788,3.1680,0.007220
5340292,2021-06-28 09:30:00,56,13.04,13.37,12.90,13.09,13.094448,141389.00,0.3610,1.5645,4.2047,-0.021505
5344651,2021-06-29 09:30:00,56,13.14,13.23,12.81,12.95,12.975326,135851.00,-1.0791,1.5032,4.0400,-0.007326
5349013,2021-06-30 09:30:00,56,12.85,13.00,12.38,12.71,12.710245,160602.00,-1.8182,1.7771,4.7761,-0.007380
5353376,2021-07-01 09:30:00,56,12.76,12.90,12.52,12.71,12.660336,107437.00,0.0000,1.1888,3.1950,0.003717

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
44,2015-01-06 09:30:00,58,21.97,22.61,21.81,22.48,22.338889,106226.75,2.9240,1.9733,3.5297,0.005674
2632,2015-01-07 09:30:00,58,22.52,22.83,22.23,22.80,22.628557,108679.70,1.4205,2.0189,3.6112,0.026798
5220,2015-01-08 09:30:00,58,22.64,23.06,22.42,22.90,22.729797,98572.35,0.4202,1.8311,3.2754,-0.052198
7808,2015-01-09 09:30:00,58,23.25,23.31,22.36,22.36,22.764289,100847.90,-2.3710,1.8734,3.3510,-0.015942
10396,2015-01-12 09:30:00,58,22.04,22.68,21.84,21.84,22.241801,121118.61,-2.2857,2.2500,4.0245,-0.042710
...,...,...,...,...,...,...,...,...,...,...,...,...
5335937,2021-06-25 09:30:00,58,18.63,19.94,18.53,19.94,19.492104,212185.33,9.9278,3.9419,7.3543,-0.001631
5340293,2021-06-28 09:30:00,58,20.07,21.18,19.45,19.45,20.359803,467097.83,-2.4631,8.6776,16.1894,-0.019608
5344652,2021-06-29 09:30:00,58,20.04,20.96,19.65,19.94,20.114228,286005.78,2.5253,5.3133,9.9128,-0.015000
5349014,2021-06-30 09:30:00,58,19.65,19.68,19.02,19.06,19.306122,184152.56,-4.4335,3.4211,6.3826,-0.005076
5353377,2021-07-01 09:30:00,58,19.35,20.01,19.06,19.45,19.503237,162855.03,2.0619,3.0255,5.6445,-0.008503

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
45,2015-01-06 09:30:00,59,14.97,15.17,14.21,14.39,14.548593,225109.08,-4.4670,1.8751,3.8377,0.031915
2633,2015-01-07 09:30:00,59,14.37,14.91,14.27,14.76,14.739732,147253.63,2.5505,1.2266,2.5104,-0.015464
5221,2015-01-08 09:30:00,59,14.83,14.83,14.30,14.59,14.532690,109493.59,-1.1399,0.9121,1.8667,0.036649
7809,2015-01-09 09:30:00,59,14.60,15.40,14.39,14.99,14.949985,156499.06,2.7254,1.3036,2.6680,-0.002020
10397,2015-01-12 09:30:00,59,15.14,15.77,15.02,15.14,15.420034,178377.29,1.0204,1.4859,3.0410,-0.022267
...,...,...,...,...,...,...,...,...,...,...,...,...
5335938,2021-06-25 09:30:00,59,12.67,12.85,12.49,12.56,12.641494,181572.36,-0.8141,1.1352,2.1771,0.002706
5340294,2021-06-28 09:30:00,59,12.70,12.92,12.56,12.73,12.745811,230801.54,1.3680,1.4430,2.7673,0.002699
5344653,2021-06-29 09:30:00,59,12.73,13.10,12.55,12.63,12.765231,218469.61,-0.8097,1.3659,2.6195,0.113055
5349015,2021-06-30 09:30:00,59,12.77,13.90,12.75,13.90,13.470535,563557.29,10.0680,3.5235,6.7571,-0.016929
5353378,2021-07-01 09:30:00,59,14.21,14.25,13.75,14.02,13.992810,606644.06,0.8653,3.7929,7.2737,-0.049200

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
46,2015-01-06 09:30:00,60,224.64,245.06,223.46,245.06,238.888062,502803.41,10.0105,2.4396,4.0393,-0.024862
2634,2015-01-07 09:30:00,60,254.92,264.77,248.81,253.74,255.607785,1571247.08,3.5441,7.6236,12.6228,0.016997
5222,2015-01-08 09:30:00,60,248.58,269.94,245.29,257.03,260.215509,1007818.54,1.2951,4.8899,8.0964,-0.011142
7810,2015-01-09 09:30:00,60,252.80,262.66,244.82,250.69,253.326223,744004.78,-2.4658,3.6099,5.9771,-0.042254
10398,2015-01-12 09:30:00,60,249.99,254.68,244.12,244.12,249.671497,607866.53,-2.6217,2.9493,4.8834,-0.016667
...,...,...,...,...,...,...,...,...,...,...,...,...
5335939,2021-06-25 09:30:00,60,172.81,173.97,171.66,172.81,172.856812,211814.13,0.0000,0.5935,0.9059,0.011086
5340295,2021-06-28 09:30:00,60,173.58,176.28,172.81,175.51,174.889017,239183.15,1.5590,0.6702,1.0230,-0.021930
5344654,2021-06-29 09:30:00,60,175.51,175.89,171.66,172.04,173.322525,242975.95,-1.9737,0.6808,1.0392,0.002242
5349016,2021-06-30 09:30:00,60,171.66,173.20,170.51,171.27,171.679056,179773.42,-0.4474,0.5037,0.7689,0.017897
5353379,2021-07-01 09:30:00,60,172.04,176.28,172.04,173.97,174.327082,239332.20,1.5730,0.6706,1.0236,-0.026374

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
47,2015-01-06 09:30:00,61,273.94,294.77,269.98,281.65,280.931594,827492.32,3.2061,5.1535,7.0082,-0.041045
2635,2015-01-07 09:30:00,61,279.15,291.65,268.73,269.77,275.363250,468646.25,-4.2160,2.9186,3.9690,-0.003891
5223,2015-01-08 09:30:00,61,267.69,271.44,261.44,268.52,264.961925,265254.09,-0.4633,1.6520,2.2465,-0.015625
7811,2015-01-09 09:30:00,61,266.65,272.69,263.52,265.19,267.630481,203517.37,-1.2413,1.2675,1.7236,-0.013492
10399,2015-01-12 09:30:00,61,262.48,268.73,258.31,258.31,263.522447,197389.61,-2.5923,1.2293,1.6717,0.009654
...,...,...,...,...,...,...,...,...,...,...,...,...
5335940,2021-06-25 09:30:00,61,122.21,122.86,121.12,121.34,121.834146,39591.00,-0.5338,0.2334,0.3536,0.005357
5340296,2021-06-28 09:30:00,61,121.55,122.21,120.90,122.21,121.575844,41538.00,0.7156,0.2448,0.3710,0.003552
5344655,2021-06-29 09:30:00,61,122.21,123.29,121.55,122.21,122.342069,34517.80,0.0000,0.2035,0.3083,-0.015929
5349017,2021-06-30 09:30:00,61,122.64,122.64,120.25,120.69,121.384830,40319.93,-1.2433,0.2377,0.3601,-0.007194
5353380,2021-07-01 09:30:00,61,120.69,121.77,119.38,119.82,119.947886,39489.90,-0.7194,0.2328,0.3527,-0.001812

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
48,2015-01-06 09:30:00,62,71.79,74.25,71.32,73.73,73.009234,76500.32,2.7027,1.1470,4.5816,0.026316
2636,2015-01-07 09:30:00,62,73.73,77.24,71.98,76.38,75.049441,84726.64,3.5944,1.2704,5.0743,-0.011882
5224,2015-01-08 09:30:00,62,75.67,76.10,73.73,75.11,74.903679,69197.94,-1.6729,1.0375,4.1443,0.000000
7812,2015-01-09 09:30:00,62,74.77,76.57,74.49,75.15,75.431359,54063.05,0.0630,0.8106,3.2379,-0.013291
10400,2015-01-12 09:30:00,62,74.77,76.19,74.02,74.11,75.258147,62207.10,-1.3854,0.9327,3.7256,0.013470
...,...,...,...,...,...,...,...,...,...,...,...,...
5335941,2021-06-25 09:30:00,62,122.90,123.71,117.75,118.71,120.125879,80781.39,-3.1813,0.7734,3.2576,-0.017890
5340297,2021-06-28 09:30:00,62,119.30,119.67,116.28,117.24,117.398439,52681.58,-1.2399,0.5043,2.1245,-0.003141
5344656,2021-06-29 09:30:00,62,117.16,119.81,115.62,117.16,117.112889,47712.80,-0.0628,0.4568,1.9241,0.005041
5349018,2021-06-30 09:30:00,62,116.80,116.94,112.31,113.12,114.058685,56608.25,-3.4548,0.5419,2.2828,0.133542
5353381,2021-07-01 09:30:00,62,117.38,124.45,117.16,124.45,123.322122,86760.61,10.0195,0.8306,3.4987,0.100664

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
49,2015-01-06 09:30:00,63,238.46,248.21,234.62,243.72,241.886638,1439682.11,5.2602,5.1394,8.2620,0.052910
2637,2015-01-07 09:30:00,63,242.31,261.28,240.39,257.82,249.687985,1618064.78,5.7864,5.7761,9.2857,-0.004523
5225,2015-01-08 09:30:00,63,255.13,257.95,249.75,252.69,253.521350,957037.39,-1.9891,3.4164,5.4922,0.003534
7813,2015-01-09 09:30:00,63,253.98,266.41,251.80,256.28,259.150884,1300971.89,1.4206,4.6442,7.4660,-0.024145
10401,2015-01-12 09:30:00,63,254.87,261.28,250.13,250.64,256.490606,989992.64,-2.2011,3.5341,5.6813,-0.014948
...,...,...,...,...,...,...,...,...,...,...,...,...
5335942,2021-06-25 09:30:00,63,524.53,527.87,509.77,512.00,516.735587,529658.38,-2.2424,1.3731,1.8588,0.010274
5340298,2021-06-28 09:30:00,63,509.77,516.60,506.60,513.11,511.774331,402606.40,0.2170,1.0437,1.4129,0.026194
5344657,2021-06-29 09:30:00,63,515.01,532.15,515.01,529.93,525.364617,699538.47,3.2787,1.8135,2.4550,-0.026727
5349019,2021-06-30 09:30:00,63,528.50,528.50,516.44,516.44,520.246239,457052.14,-2.5457,1.1849,1.6040,0.028386
5353382,2021-07-01 09:30:00,63,514.38,530.41,508.35,527.39,520.690625,643807.14,2.1205,1.6690,2.2594,-0.019502

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
50,2015-01-06 09:30:00,65,118.88,118.88,114.09,116.85,115.936373,47925.15,-1.7099,1.8913,4.9172,0.011299
2638,2015-01-07 09:30:00,65,116.06,119.14,114.16,117.50,116.501586,60005.83,0.5612,2.3680,6.1567,0.001117
5226,2015-01-08 09:30:00,65,117.37,119.08,115.93,117.44,117.262199,43405.49,-0.0558,1.7129,4.4534,-0.023996
7814,2015-01-09 09:30:00,65,117.50,118.22,114.75,114.81,115.882605,43264.98,-2.2334,1.7074,4.4390,-0.005146
10402,2015-01-12 09:30:00,65,114.68,116.39,113.31,115.01,115.477382,44155.35,0.1713,1.7425,4.5304,-0.020115
...,...,...,...,...,...,...,...,...,...,...,...,...
5335943,2021-06-25 09:30:00,65,117.71,118.79,116.64,118.79,118.085054,67159.43,1.1749,0.9905,2.1984,0.117419
5340299,2021-06-28 09:30:00,65,120.34,130.74,119.87,130.74,126.794598,384511.63,10.0654,5.6709,12.5864,-0.001155
5344658,2021-06-29 09:30:00,65,134.47,141.92,128.10,138.51,134.649969,476750.33,5.9382,7.0313,15.6057,-0.031214
5349020,2021-06-30 09:30:00,65,134.31,136.02,129.34,130.12,132.224571,285521.58,-6.0538,4.2110,9.3461,0.023866
5353383,2021-07-01 09:30:00,65,130.12,136.64,128.10,134.00,131.542913,226900.17,2.9833,3.3464,7.4272,-0.051282

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
51,2015-01-06 09:30:00,66,61.76,66.03,61.76,64.54,64.206280,218900.29,5.5846,1.6539,3.5890,0.013333
2639,2015-01-07 09:30:00,66,64.00,65.18,62.72,64.96,64.255350,147495.93,0.6612,1.1144,2.4183,0.031250
5227,2015-01-08 09:30:00,66,64.86,67.63,64.32,66.88,66.196792,226648.11,2.9557,1.7124,3.7160,-0.019139
7815,2015-01-09 09:30:00,66,66.88,67.20,65.18,65.60,66.271463,130677.24,-1.9139,0.9873,2.1425,0.027642
10403,2015-01-12 09:30:00,66,65.60,69.02,65.07,67.52,67.848085,256641.91,2.9268,1.9390,4.2078,0.037975
...,...,...,...,...,...,...,...,...,...,...,...,...
5335944,2021-06-25 09:30:00,66,173.61,177.09,168.93,171.33,171.963248,830347.01,-1.3776,2.8266,4.8770,-0.008929
5340300,2021-06-28 09:30:00,66,170.56,174.92,167.74,170.35,170.664435,790698.49,-0.5714,2.6917,4.6442,-0.008366
5344659,2021-06-29 09:30:00,66,169.04,172.41,166.97,168.28,169.475488,613424.83,-1.2133,2.0882,3.6030,-0.021415
5349021,2021-06-30 09:30:00,66,167.63,170.78,161.32,161.86,165.179833,724118.95,-3.8138,2.4650,4.2531,-0.024536
5353384,2021-07-01 09:30:00,66,164.04,164.80,155.55,158.82,158.664014,811484.05,-1.8817,2.7624,4.7663,-0.043508

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
52,2015-01-06 09:30:00,68,20.06,20.17,19.15,19.31,19.391530,131347.81,-3.0892,1.4648,2.7897,0.008304
2640,2015-01-07 09:30:00,68,19.22,19.49,18.37,19.42,18.888671,129540.33,0.5903,1.4447,2.7513,0.012941
5228,2015-01-08 09:30:00,68,19.38,19.97,18.83,19.63,19.447605,94764.34,1.0563,1.0568,2.0127,-0.011614
7816,2015-01-09 09:30:00,68,19.63,19.81,19.26,19.35,19.474732,59115.34,-1.3937,0.6593,1.2556,0.007051
10404,2015-01-12 09:30:00,68,19.40,19.72,19.28,19.38,19.506645,52938.35,0.1178,0.5904,1.1244,-0.029172
...,...,...,...,...,...,...,...,...,...,...,...,...
5335945,2021-06-25 09:30:00,68,6.36,6.54,6.29,6.41,6.410199,118598.61,1.4440,1.1781,2.1515,-0.014388
5340301,2021-06-28 09:30:00,68,6.34,6.41,6.22,6.25,6.296451,93204.95,-2.4911,0.9259,1.6908,-0.003650
5344660,2021-06-29 09:30:00,68,6.25,6.29,6.18,6.18,6.214845,69680.33,-1.0949,0.6922,1.2641,-0.014652
5349022,2021-06-30 09:30:00,68,6.22,6.22,6.11,6.13,6.160593,49327.06,-0.7380,0.4900,0.8948,0.007435
5353385,2021-07-01 09:30:00,68,6.13,6.18,6.11,6.18,6.147144,35147.00,0.7435,0.3491,0.6376,-0.014760

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
53,2015-01-06 09:30:00,69,307.85,322.60,306.05,310.01,313.825967,2905056.18,4.4848,9.3336,9.3336,-0.036131
2641,2015-01-07 09:30:00,69,308.57,308.93,292.39,297.78,299.073510,1431714.29,-3.9443,4.5999,4.5999,-0.008464
5229,2015-01-08 09:30:00,69,297.42,303.18,287.35,293.83,294.570810,1264409.06,-1.3285,4.0624,4.0624,-0.047561
7817,2015-01-09 09:30:00,69,294.91,295.98,280.52,282.32,284.306668,1243870.98,-3.9168,3.9964,3.9964,-0.023047
10405,2015-01-12 09:30:00,69,280.88,292.03,276.92,278.36,284.058516,1468825.23,-1.4013,4.7192,4.7192,-0.009174
...,...,...,...,...,...,...,...,...,...,...,...,...
5335946,2021-06-25 09:30:00,69,339.64,342.30,335.64,336.08,338.139147,318438.08,-1.0471,0.4513,0.7687,0.009138
5340302,2021-06-28 09:30:00,69,340.53,343.19,338.75,342.30,341.028731,396154.56,1.8519,0.5614,0.9563,-0.005175
5344661,2021-06-29 09:30:00,69,343.64,345.86,340.08,342.75,342.366831,368695.83,0.1299,0.5225,0.8900,-0.005202
5349023,2021-06-30 09:30:00,69,341.86,341.86,336.53,338.30,338.774855,349498.14,-1.2970,0.4953,0.8437,-0.022222
5353386,2021-07-01 09:30:00,69,340.08,340.08,330.75,330.75,334.427142,438830.40,-2.2339,0.6219,1.0593,0.036096

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
54,2015-01-06 09:30:00,70,15.67,15.67,15.67,15.67,15.665975,0.00,0.0000,0.0000,0.0000,0.000000
2642,2015-01-07 09:30:00,70,15.67,15.67,15.67,15.67,15.665975,0.00,0.0000,0.0000,0.0000,0.000000
5230,2015-01-08 09:30:00,70,15.67,15.67,15.67,15.67,15.665975,0.00,0.0000,0.0000,0.0000,0.000000
7818,2015-01-09 09:30:00,70,15.67,15.67,15.67,15.67,15.665975,0.00,0.0000,0.0000,0.0000,0.000000
10406,2015-01-12 09:30:00,70,15.67,15.67,15.67,15.67,15.665975,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335947,2021-06-25 09:30:00,70,29.64,29.99,28.74,28.91,29.181929,422506.89,-3.2634,5.2487,8.4459,-0.024213
5340303,2021-06-28 09:30:00,70,28.77,28.91,28.11,28.32,28.429834,254096.24,-2.0482,3.1566,5.0794,0.009926
5344662,2021-06-29 09:30:00,70,28.08,28.98,27.94,28.50,28.507517,229729.09,0.6150,2.8539,4.5923,0.007371
5349024,2021-06-30 09:30:00,70,28.36,28.95,28.08,28.74,28.647207,182486.06,0.8557,2.2670,3.6479,-0.015854
5353387,2021-07-01 09:30:00,70,28.56,29.19,28.11,28.29,28.497763,190744.11,-1.5758,2.3696,3.8130,-0.052045

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
55,2015-01-06 09:30:00,78,78.62,79.51,76.85,79.27,78.113320,197576.59,0.8188,2.7037,3.5903,0.015259
2643,2015-01-07 09:30:00,78,79.11,81.28,78.06,80.64,79.992398,242662.89,1.7259,3.3207,4.4095,-0.007014
5231,2015-01-08 09:30:00,78,80.31,81.36,79.11,79.75,80.114719,145014.78,-1.0978,1.9844,2.6351,0.019173
7819,2015-01-09 09:30:00,78,79.75,81.68,79.59,80.64,80.941192,212232.90,1.1100,2.9042,3.8566,-0.009901
10407,2015-01-12 09:30:00,78,81.28,83.53,80.47,80.96,82.046911,271050.19,0.3992,3.7091,4.9254,-0.046000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335948,2021-06-25 09:30:00,78,66.78,66.98,66.37,66.57,66.525400,86261.82,-0.3067,0.3291,0.6141,0.021605
5340304,2021-06-28 09:30:00,78,66.37,68.01,66.16,67.60,67.092821,118778.89,1.5385,0.4531,0.8455,-0.012085
5344663,2021-06-29 09:30:00,78,67.80,67.80,66.57,66.98,67.248503,103479.45,-0.9091,0.3948,0.7366,-0.012232
5349025,2021-06-30 09:30:00,78,66.98,67.19,66.16,66.37,66.486480,82665.20,-0.9174,0.3154,0.5885,0.006192
5353388,2021-07-01 09:30:00,78,66.16,67.60,65.96,66.78,66.642162,120243.22,0.6173,0.4587,0.8560,0.015385

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
56,2015-01-06 09:30:00,88,72.26,73.56,69.58,72.76,71.528719,442743.84,1.9231,2.2797,6.9869,0.020101
2644,2015-01-07 09:30:00,88,71.90,75.00,71.03,73.56,73.472414,410609.63,1.0924,2.1142,6.4798,-0.005911
5232,2015-01-08 09:30:00,88,73.34,74.28,71.90,72.91,72.901589,322552.62,-0.8841,1.6608,5.0902,-0.023786
7820,2015-01-09 09:30:00,88,72.91,74.71,70.45,72.04,72.772250,345610.00,-1.1893,1.7795,5.4540,-0.015228
10408,2015-01-12 09:30:00,88,71.17,73.27,70.52,70.81,71.880607,268944.78,-1.7051,1.3848,4.2442,-0.051546
...,...,...,...,...,...,...,...,...,...,...,...,...
5335949,2021-06-25 09:30:00,88,45.70,45.86,44.65,45.05,45.247054,138991.38,-1.0601,0.6180,1.9005,0.000000
5340305,2021-06-28 09:30:00,88,45.70,45.86,44.89,45.54,45.371757,110714.97,1.0714,0.4922,1.5138,-0.012324
5344664,2021-06-29 09:30:00,88,45.70,45.94,44.89,45.05,45.203609,75101.05,-1.0601,0.3339,1.0269,-0.012478
5349026,2021-06-30 09:30:00,88,45.13,45.13,44.25,44.33,44.540672,62711.27,-1.6071,0.2788,0.8575,0.001805
5353389,2021-07-01 09:30:00,88,44.57,44.97,44.41,44.57,44.671007,40521.66,0.5445,0.1802,0.5541,-0.014414

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
57,2015-01-06 09:30:00,89,39.08,40.83,38.88,40.29,39.799118,539131.85,3.4483,3.1869,8.2356,0.014975
2645,2015-01-07 09:30:00,89,40.36,41.43,39.82,40.76,40.700301,384443.99,1.1667,2.2725,5.8726,0.000000
5233,2015-01-08 09:30:00,89,40.96,41.03,40.16,40.56,40.499516,245081.65,-0.4942,1.4487,3.7438,-0.014754
7821,2015-01-09 09:30:00,89,40.96,41.30,40.22,40.49,40.715746,240310.74,-0.1656,1.4205,3.6709,-0.004992
10409,2015-01-12 09:30:00,89,40.36,40.96,40.16,40.29,40.619047,211743.70,-0.4975,1.2517,3.2345,-0.038462
...,...,...,...,...,...,...,...,...,...,...,...,...
5335950,2021-06-25 09:30:00,89,55.35,55.71,55.21,55.71,55.526090,59719.73,0.2551,0.2912,0.6767,-0.005038
5340306,2021-06-28 09:30:00,89,56.27,56.77,55.28,56.20,56.004482,100604.98,0.8906,0.4906,1.1400,-0.011392
5344665,2021-06-29 09:30:00,89,55.99,56.06,55.28,55.35,55.590584,76058.15,-1.5132,0.3709,0.8619,-0.007682
5349027,2021-06-30 09:30:00,89,55.35,55.42,54.86,55.00,55.085261,80556.43,-0.6402,0.3928,0.9128,0.005161
5353390,2021-07-01 09:30:00,89,54.93,55.28,54.71,55.07,54.998087,55356.56,0.1289,0.2699,0.6273,-0.003851

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
58,2015-01-06 09:30:00,90,40.22,42.38,40.19,40.88,41.339383,198440.66,2.7536,3.5915,5.6425,-0.014831
2646,2015-01-07 09:30:00,90,40.82,41.17,38.43,40.68,39.598073,199588.62,-0.4937,3.6123,5.6751,-0.017204
5234,2015-01-08 09:30:00,90,40.22,40.36,39.27,39.78,39.862729,114461.13,-2.1970,2.0716,3.2546,-0.010212
7822,2015-01-09 09:30:00,90,39.53,40.07,38.78,39.38,39.231072,83145.36,-1.0145,1.5048,2.3642,0.050111
10410,2015-01-12 09:30:00,90,39.12,41.46,39.06,40.45,40.745781,147347.23,2.7086,2.6668,4.1897,-0.003509
...,...,...,...,...,...,...,...,...,...,...,...,...
5335951,2021-06-25 09:30:00,90,43.96,44.20,43.64,43.88,43.945920,63822.42,-0.1812,0.3416,0.5654,0.014519
5340307,2021-06-28 09:30:00,90,43.96,44.52,43.80,44.52,44.133873,78924.22,1.4519,0.4224,0.6992,0.008945
5344666,2021-06-29 09:30:00,90,44.52,45.48,44.20,45.08,44.974882,98003.88,1.2522,0.5246,0.8682,-0.010638
5349028,2021-06-30 09:30:00,90,44.92,45.08,44.28,44.36,44.606941,57780.12,-1.5901,0.3093,0.5119,-0.008961
5353391,2021-07-01 09:30:00,90,44.44,44.52,44.04,44.04,44.199975,46715.81,-0.7181,0.2500,0.4138,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
59,2015-01-06 09:30:00,96,20.77,21.81,20.33,21.48,21.201734,269294.09,3.7879,5.2715,12.0313,-0.025000
2647,2015-01-07 09:30:00,96,20.90,21.16,20.22,20.51,20.598501,184390.71,-4.5012,3.6095,8.1153,-0.015385
5235,2015-01-08 09:30:00,96,20.38,20.46,19.75,20.17,20.083310,161693.34,-1.6561,3.1652,7.1164,-0.013021
7823,2015-01-09 09:30:00,96,20.06,20.43,19.93,19.93,20.140001,94959.04,-1.1658,1.8589,4.1793,-0.021108
10411,2015-01-12 09:30:00,96,19.80,19.96,19.41,19.49,19.715465,114631.81,-2.2280,2.2440,5.0451,-0.022911
...,...,...,...,...,...,...,...,...,...,...,...,...
5335952,2021-06-25 09:30:00,96,25.72,25.96,25.16,25.24,25.474555,24306.00,-2.2657,0.4758,1.0355,0.009524
5340308,2021-06-28 09:30:00,96,25.13,25.48,25.13,25.40,25.344510,13431.00,0.6322,0.2629,0.5722,-0.012579
5344667,2021-06-29 09:30:00,96,25.37,25.42,25.00,25.05,25.162606,16038.00,-1.3613,0.3139,0.6833,0.008493
5349029,2021-06-30 09:30:00,96,25.05,25.26,24.97,25.16,25.128033,12693.00,0.4246,0.2485,0.5407,-0.003158
5353392,2021-07-01 09:30:00,96,25.26,25.29,25.00,25.18,25.119523,12165.16,0.1057,0.2381,0.5183,-0.014784

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
60,2015-01-06 09:30:00,99,51.11,52.79,50.82,52.27,52.284255,304858.77,1.8909,5.0301,8.3181,0.024823
2648,2015-01-07 09:30:00,99,52.61,54.43,52.31,53.91,53.462477,395132.93,3.1406,6.5196,10.7813,-0.011765
5236,2015-01-08 09:30:00,99,53.91,54.43,52.23,53.31,52.808821,196084.01,-1.1073,3.2353,5.3502,-0.033613
7824,2015-01-09 09:30:00,99,53.28,53.87,52.08,52.12,52.820014,292003.93,-2.2393,4.8180,7.9674,-0.031884
10412,2015-01-12 09:30:00,99,51.49,52.79,49.92,50.33,51.559338,230492.26,-3.4359,3.8031,6.2890,-0.037425
...,...,...,...,...,...,...,...,...,...,...,...,...
5335953,2021-06-25 09:30:00,99,26.38,26.76,26.26,26.53,26.549640,46182.08,0.5831,0.7620,1.2416,-0.007246
5340309,2021-06-28 09:30:00,99,26.53,26.61,26.07,26.30,26.280122,45216.00,-0.8696,0.7461,1.2156,0.002920
5344668,2021-06-29 09:30:00,99,26.34,26.34,25.95,26.22,26.135944,47164.04,-0.2924,0.7782,1.2680,-0.024745
5349030,2021-06-30 09:30:00,99,26.41,26.41,25.80,25.91,25.995610,35242.47,-1.1730,0.5815,0.9475,0.000000
5353393,2021-07-01 09:30:00,99,25.76,26.07,25.76,25.99,25.904104,24210.01,0.2967,0.3995,0.6509,-0.016418

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
61,2015-01-06 09:30:00,100,10.55,11.16,10.55,11.11,10.906829,5187468.67,6.0526,6.3758,7.2277,0.019512
2649,2015-01-07 09:30:00,100,11.30,11.77,11.11,11.44,11.467340,5191641.94,2.9777,6.3809,7.2335,-0.002392
5237,2015-01-08 09:30:00,100,11.52,11.71,11.30,11.49,11.465411,3249908.52,0.4819,3.9944,4.5281,-0.031175
7825,2015-01-09 09:30:00,100,11.49,11.52,11.02,11.13,11.210232,2754923.08,-3.1175,3.3860,3.8384,-0.014851
10413,2015-01-12 09:30:00,100,11.13,11.41,11.00,11.02,11.199485,3316000.90,-0.9901,4.0756,4.6202,-0.002513
...,...,...,...,...,...,...,...,...,...,...,...,...
5335954,2021-06-25 09:30:00,100,24.83,25.15,24.25,25.12,24.845065,3675077.95,1.2953,2.8476,3.1643,0.000000
5340310,2021-06-28 09:30:00,100,24.99,25.08,24.51,24.96,24.822583,3340791.52,-0.6394,2.5886,2.8764,0.000000
5344669,2021-06-29 09:30:00,100,24.99,25.18,24.70,25.08,24.951052,2854972.47,0.5148,2.2119,2.4579,-0.023136
5349031,2021-06-30 09:30:00,100,24.99,24.99,24.47,24.51,24.638871,2458475.15,-2.3047,1.9047,2.1165,0.006579
5353394,2021-07-01 09:30:00,100,24.41,24.76,24.25,24.57,24.516183,2098427.31,0.2621,1.6258,1.8066,-0.035294

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
62,2015-01-06 09:30:00,150,34.91,35.54,31.71,32.30,33.071246,94434.96,-6.7164,2.9147,5.6577,0.010063
2650,2015-01-07 09:30:00,150,31.61,32.94,29.66,32.68,31.133514,83351.25,1.1692,2.5726,4.9937,0.000623
5238,2015-01-08 09:30:00,150,31.92,32.94,31.55,31.94,31.974165,42551.46,-2.2506,1.3133,2.5493,0.013690
7826,2015-01-09 09:30:00,150,31.94,32.52,31.94,32.36,32.191633,37023.04,1.3068,1.1427,2.2181,-0.017188
10414,2015-01-12 09:30:00,150,32.38,33.69,31.81,32.36,32.588999,59694.38,0.0000,1.8424,3.5763,0.007495
...,...,...,...,...,...,...,...,...,...,...,...,...
5335955,2021-06-25 09:30:00,150,19.05,19.24,18.10,18.14,18.433532,501164.76,-4.7619,6.2180,11.3470,-0.012579
5340311,2021-06-28 09:30:00,150,18.81,19.80,18.22,19.24,18.930030,685969.99,6.0870,8.5109,15.5312,-0.004246
5344670,2021-06-29 09:30:00,150,18.57,19.32,18.26,18.30,18.572347,568475.71,-4.9180,7.0531,12.8710,-0.025586
5349032,2021-06-30 09:30:00,150,18.50,18.53,17.39,17.79,17.952414,476097.76,-2.8017,5.9070,10.7795,-0.041575
5353395,2021-07-01 09:30:00,150,18.02,18.10,17.35,17.39,17.584082,332309.96,-2.2173,4.1230,7.5239,0.006849

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
63,2015-01-06 09:30:00,151,48.14,51.61,47.38,50.05,49.980571,245798.53,5.0185,9.2217,15.8859,0.014286
2651,2015-01-07 09:30:00,151,49.35,50.03,47.91,49.37,48.996635,109929.37,-1.3581,4.1242,7.1047,-0.017606
5239,2015-01-08 09:30:00,151,50.05,50.93,48.49,49.20,49.520075,77999.81,-0.3570,2.9263,5.0411,0.032258
7827,2015-01-09 09:30:00,151,49.17,51.92,48.47,50.73,50.898794,144792.09,3.1218,5.4322,9.3579,-0.047619
10415,2015-01-12 09:30:00,151,50.76,50.76,48.97,49.10,49.741385,88111.88,-3.2258,3.3057,5.6946,-0.043750
...,...,...,...,...,...,...,...,...,...,...,...,...
5335956,2021-06-25 09:30:00,151,19.97,20.14,19.81,20.11,19.964437,22777.01,0.4132,0.8545,1.4198,0.032967
5340312,2021-06-28 09:30:00,151,20.09,21.30,20.00,21.13,20.964563,103506.56,5.0754,3.8833,6.4522,0.010638
5344671,2021-06-29 09:30:00,151,20.75,21.16,20.75,21.16,20.961804,49573.77,0.1305,1.8599,3.0902,-0.011842
5349033,2021-06-30 09:30:00,151,20.97,21.11,20.72,20.89,20.876827,26260.00,-1.3038,0.9852,1.6369,-0.005326
5353396,2021-07-01 09:30:00,151,20.72,20.86,20.44,20.50,20.582722,25919.23,-1.8494,0.9724,1.6157,-0.018742

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
64,2015-01-06 09:30:00,153,69.84,72.16,67.92,68.03,69.292376,106938.70,0.0000,3.6049,4.6418,0.001626
2652,2015-01-07 09:30:00,153,67.75,68.58,64.72,67.92,66.647919,91054.70,-0.1619,3.0695,3.9523,-0.002435
5240,2015-01-08 09:30:00,153,67.86,69.07,67.09,67.70,68.180283,55778.12,-0.3244,1.8803,2.4211,0.017901
7828,2015-01-09 09:30:00,153,67.70,70.23,67.25,68.85,69.180010,63070.42,1.7087,2.1261,2.7376,-0.027178
10416,2015-01-12 09:30:00,153,68.91,70.17,67.20,67.42,68.362052,56456.59,-2.0800,1.9032,2.4506,-0.018899
...,...,...,...,...,...,...,...,...,...,...,...,...
5335957,2021-06-25 09:30:00,153,51.66,54.77,51.26,52.62,52.849545,211186.32,2.3077,6.7693,9.7323,-0.008630
5340313,2021-06-28 09:30:00,153,52.40,53.13,51.83,52.00,52.310899,96253.76,-1.1815,3.0853,4.4358,0.026115
5344672,2021-06-29 09:30:00,153,51.94,53.81,51.55,53.02,53.090326,94340.35,1.9565,3.0239,4.3476,0.046660
5349034,2021-06-30 09:30:00,153,53.30,57.93,53.30,55.50,55.863819,178721.92,4.6908,5.7287,8.2362,-0.007092
5353397,2021-07-01 09:30:00,153,55.79,56.46,54.83,55.33,55.474388,92390.00,-0.3055,2.9614,4.2577,-0.014286

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
65,2015-01-06 09:30:00,155,10.82,10.97,10.77,10.91,10.886318,33150.14,0.2882,0.7053,1.7035,0.024390
2653,2015-01-07 09:30:00,155,10.93,11.41,10.83,11.29,11.176340,44345.97,3.4483,0.9435,2.2788,0.001401
5241,2015-01-08 09:30:00,155,11.19,11.40,11.11,11.21,11.194212,23273.69,-0.6944,0.4952,1.1960,-0.019580
7829,2015-01-09 09:30:00,155,11.21,11.21,10.94,11.04,11.039324,31335.10,-1.5385,0.6667,1.6102,-0.004280
10417,2015-01-12 09:30:00,155,10.99,11.15,10.94,10.96,11.029291,17642.40,-0.7102,0.3754,0.9066,-0.021490
...,...,...,...,...,...,...,...,...,...,...,...,...
5335958,2021-06-25 09:30:00,155,21.18,21.46,20.63,20.63,20.972490,380425.24,-3.1641,2.9955,2.9955,0.007605
5340314,2021-06-28 09:30:00,155,20.62,20.91,20.46,20.68,20.668829,268785.52,0.2280,2.1164,2.1164,0.024151
5344673,2021-06-29 09:30:00,155,20.77,21.34,20.55,21.12,21.110917,310916.94,2.1228,2.4482,2.4482,-0.006632
5349035,2021-06-30 09:30:00,155,21.27,21.98,20.88,21.40,21.539522,517816.78,1.3363,4.0773,4.0773,0.023739
5353398,2021-07-01 09:30:00,155,21.13,21.87,20.99,21.65,21.521336,469379.89,1.1722,3.6959,3.6959,-0.037681

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
66,2015-01-06 09:30:00,156,24.04,24.22,23.01,24.07,23.649037,47301.04,0.1210,3.9975,3.9975,0.058225
2654,2015-01-07 09:30:00,156,23.81,24.51,23.56,24.31,24.037030,44066.51,1.0068,3.7241,3.7241,-0.007311
5242,2015-01-08 09:30:00,156,25.20,26.71,25.01,25.45,25.693900,78528.83,4.6651,6.6366,6.6366,-0.001163
7830,2015-01-09 09:30:00,156,25.01,25.34,24.73,25.07,24.998383,39530.39,-1.4857,3.3408,3.3408,-0.000776
10418,2015-01-12 09:30:00,156,24.98,25.50,24.72,24.91,25.207504,44266.39,-0.6574,3.7410,3.7410,-0.018641
...,...,...,...,...,...,...,...,...,...,...,...,...
5335959,2021-06-25 09:30:00,156,8.40,8.43,8.29,8.30,8.333210,73361.79,-1.4121,0.5730,1.3415,0.002601
5340315,2021-06-28 09:30:00,156,8.31,8.35,8.28,8.34,8.306629,48049.39,0.5208,0.3753,0.8786,-0.002594
5344674,2021-06-29 09:30:00,156,8.33,8.36,8.29,8.31,8.305981,35581.56,-0.3886,0.2779,0.6506,0.013004
5349036,2021-06-30 09:30:00,156,8.31,8.44,8.28,8.41,8.371135,65069.95,1.1704,0.5082,1.1899,-0.010270
5353399,2021-07-01 09:30:00,156,8.42,8.42,8.31,8.33,8.327051,36321.46,-0.8997,0.2837,0.6642,-0.006485

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
67,2015-01-06 09:30:00,157,431.78,437.20,419.11,429.97,428.108936,2849420.00,0.9915,4.5509,6.3917,-0.022440
2655,2015-01-07 09:30:00,157,429.97,429.97,413.08,419.11,420.956902,2944602.93,-2.5245,4.7030,6.6052,0.010043
5243,2015-01-08 09:30:00,157,420.32,429.36,419.71,425.14,423.935911,1969431.96,1.4388,3.1455,4.4178,-0.038352
7831,2015-01-09 09:30:00,157,424.54,424.54,407.05,410.07,412.942523,1924707.25,-3.5461,3.0740,4.3174,-0.020679
10419,2015-01-12 09:30:00,157,408.26,416.70,404.04,404.64,409.987635,1907003.59,-1.3235,3.0458,4.2777,-0.034691
...,...,...,...,...,...,...,...,...,...,...,...,...
5335960,2021-06-25 09:30:00,157,665.81,668.73,656.33,660.70,661.294394,601300.58,-0.7667,0.9183,1.7902,0.036264
5340316,2021-06-28 09:30:00,157,663.62,694.98,659.25,687.69,679.430929,1373938.49,4.0839,2.0984,4.0906,-0.029692
5344675,2021-06-29 09:30:00,157,687.69,687.69,665.81,667.27,673.042668,1144179.24,-2.9692,1.7475,3.4065,0.016393
5349037,2021-06-30 09:30:00,157,667.27,673.10,658.52,669.45,665.480309,766579.85,0.3279,1.1708,2.2823,-0.005376
5353400,2021-07-01 09:30:00,157,678.21,681.85,662.16,673.83,670.927833,708416.34,0.6536,1.0814,2.1070,-0.018378

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
68,2015-01-06 09:30:00,158,21.84,23.27,21.66,22.91,22.859433,172631.99,6.7779,2.4015,4.6239,-0.004859
2656,2015-01-07 09:30:00,158,23.02,23.25,22.15,22.91,22.717808,98478.90,0.0000,1.3699,2.6377,0.001953
5244,2015-01-08 09:30:00,158,22.91,23.11,22.35,22.96,22.687156,103225.31,0.1953,1.4360,2.7649,0.004873
7832,2015-01-09 09:30:00,158,22.96,23.60,22.60,23.07,23.138209,90751.16,0.4873,1.2624,2.4307,0.006790
10420,2015-01-12 09:30:00,158,23.07,23.76,23.00,23.22,23.409379,80934.81,0.6790,1.1259,2.1678,-0.066474
...,...,...,...,...,...,...,...,...,...,...,...,...
5335961,2021-06-25 09:30:00,158,34.83,37.43,34.27,34.74,35.662137,1852497.61,-1.6708,11.7732,20.2419,0.002632
5340317,2021-06-28 09:30:00,158,33.65,35.42,32.53,33.74,34.105038,1645747.86,-2.8887,10.4593,17.9441,0.047244
5344676,2021-06-29 09:30:00,158,33.74,36.43,33.15,35.57,35.023358,1630528.85,5.4243,10.3625,17.7781,-0.047619
5349038,2021-06-30 09:30:00,158,35.33,36.81,33.95,34.01,35.163275,1457461.11,-4.3983,9.2626,15.8911,0.005263
5353401,2021-07-01 09:30:00,158,33.65,34.54,33.06,33.92,33.684400,1079657.53,-0.2604,6.8616,11.7718,-0.125654

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
69,2015-01-06 09:30:00,159,31.60,33.78,31.60,33.75,33.121619,227889.82,6.7847,4.7365,6.8141,-0.030000
2657,2015-01-07 09:30:00,159,34.18,35.64,33.72,33.81,34.496080,294554.99,0.1842,6.1220,8.8074,0.018744
5245,2015-01-08 09:30:00,159,33.16,33.81,32.94,33.81,33.307760,122273.35,0.0000,2.5413,3.6561,-0.029439
7833,2015-01-09 09:30:00,159,33.78,33.93,33.00,33.13,33.417145,94639.08,-2.0221,1.9670,2.8298,-0.025592
10421,2015-01-12 09:30:00,159,32.78,32.88,32.16,32.16,32.516894,104337.92,-2.9081,2.1686,3.1198,-0.018482
...,...,...,...,...,...,...,...,...,...,...,...,...
5335962,2021-06-25 09:30:00,159,19.58,19.58,19.29,19.36,19.416000,80663.92,-1.3072,1.6781,2.1744,0.013267
5340318,2021-06-28 09:30:00,159,19.32,19.61,19.23,19.58,19.435868,96390.58,1.1589,2.0053,2.5983,-0.014730
5344677,2021-06-29 09:30:00,159,19.58,19.68,19.26,19.32,19.352229,87129.12,-1.3093,1.8126,2.3486,-0.008306
5349039,2021-06-30 09:30:00,159,19.29,19.61,19.16,19.20,19.383954,95945.00,-0.6633,1.9960,2.5863,0.008375
5353402,2021-07-01 09:30:00,159,19.13,19.39,18.94,19.07,19.149702,75064.00,-0.6678,1.5616,2.0234,-0.014950

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
38920,2015-01-27 09:30:00,166,17.77,21.10,16.37,19.65,19.377600,12259278.30,32.0565,37.6666,37.6666,-0.043478
41524,2015-01-28 09:30:00,166,18.40,18.99,17.69,17.73,18.078100,6875504.84,-9.7710,21.1250,21.1250,-0.051136
44131,2015-01-29 09:30:00,166,17.60,17.60,16.80,17.17,17.230600,3682041.71,-3.1585,11.3131,11.3131,0.047305
46740,2015-01-30 09:30:00,166,16.70,17.98,16.56,17.60,17.285400,3956047.27,2.5044,12.1549,12.1549,-0.074900
49350,2015-02-02 09:30:00,166,17.49,17.73,16.80,16.85,17.163600,2688310.53,-4.2614,8.2598,8.2598,-0.020396
...,...,...,...,...,...,...,...,...,...,...,...,...
5335963,2021-06-25 09:30:00,166,6.72,6.81,6.71,6.77,6.757748,525569.15,0.6466,0.2332,0.5298,0.017131
5340319,2021-06-28 09:30:00,166,6.77,6.93,6.75,6.88,6.867001,1011979.36,1.7131,0.4491,1.0202,-0.006316
5344678,2021-06-29 09:30:00,166,6.88,6.90,6.81,6.82,6.837442,414062.51,-0.8421,0.1837,0.4174,-0.012712
5349040,2021-06-30 09:30:00,166,6.84,6.85,6.72,6.77,6.797160,456419.30,-0.8493,0.2025,0.4601,0.010730
5353403,2021-07-01 09:30:00,166,6.75,6.81,6.74,6.78,6.774122,366773.94,0.2141,0.1628,0.3697,-0.021231

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
70,2015-01-06 09:30:00,301,10.70,11.17,10.62,11.00,10.948953,390736.34,1.9569,3.2074,5.0665,-0.015444
2658,2015-01-07 09:30:00,301,10.94,11.02,10.70,10.79,10.817211,324178.77,-1.9194,2.6610,4.2034,0.000000
5246,2015-01-08 09:30:00,301,10.77,10.94,10.64,10.83,10.792720,235999.65,0.3914,1.9372,3.0601,-0.045098
7834,2015-01-09 09:30:00,301,10.77,10.85,10.28,10.30,10.491867,364586.94,-4.8733,2.9927,4.7274,-0.014374
10422,2015-01-12 09:30:00,301,10.28,10.51,10.22,10.28,10.392849,214658.95,-0.2049,1.7620,2.7834,-0.039583
...,...,...,...,...,...,...,...,...,...,...,...,...
5335964,2021-06-25 09:30:00,301,44.42,44.42,43.22,44.42,44.332073,387177.96,10.0000,2.2357,2.7482,0.035354
5340320,2021-06-28 09:30:00,301,45.69,46.68,41.54,45.27,44.758283,1254849.01,1.9221,7.2459,8.9069,-0.031220
5344679,2021-06-29 09:30:00,301,47.31,48.92,43.61,45.00,45.723313,962951.68,-0.6116,5.5604,6.8350,0.029708
5349041,2021-06-30 09:30:00,301,45.83,47.86,45.46,46.15,46.416049,800083.59,2.5641,4.6199,5.6790,0.030318
5353404,2021-07-01 09:30:00,301,47.19,48.81,46.61,48.23,47.852979,596636.76,4.5000,3.4451,4.2349,-0.074988

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
71,2015-01-06 09:30:00,333,72.78,78.58,72.78,78.00,76.892883,974089.91,8.8921,4.3515,5.0366,0.062291
2659,2015-01-07 09:30:00,333,77.95,84.82,76.91,82.78,82.215023,871277.70,6.1245,3.8922,4.5050,-0.008197
5247,2015-01-08 09:30:00,333,82.81,84.40,80.72,82.62,82.134618,368274.28,-0.1892,1.6452,1.9042,0.016211
7835,2015-01-09 09:30:00,333,82.13,85.52,80.67,83.80,83.451122,531174.88,1.4218,2.3729,2.7465,-0.027839
10423,2015-01-12 09:30:00,333,83.46,85.63,81.16,81.21,83.814511,433168.49,-3.0841,1.9351,2.2397,0.029923
...,...,...,...,...,...,...,...,...,...,...,...,...
5335965,2021-06-25 09:30:00,333,352.22,352.22,343.75,346.07,346.435942,287028.16,0.0410,0.4171,0.6091,-0.005301
5340321,2021-06-28 09:30:00,333,347.82,348.81,343.14,345.93,345.977825,412552.01,-0.0410,0.5995,0.8755,0.008199
5344680,2021-06-29 09:30:00,333,345.97,349.38,342.76,346.12,345.205315,306845.68,0.0547,0.4459,0.6512,-0.036324
5349042,2021-06-30 09:30:00,333,348.81,348.91,336.80,337.84,340.372633,349799.11,-2.3904,0.5081,0.7419,0.002813
5353405,2021-07-01 09:30:00,333,336.14,339.92,334.96,337.42,336.119571,284444.13,-0.1259,0.4130,0.6029,0.018654

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
72,2015-01-06 09:30:00,338,113.74,122.07,113.12,120.34,118.560819,704952.79,6.9256,6.7390,6.7390,0.044983
2660,2015-01-07 09:30:00,338,119.18,128.63,117.99,123.51,123.827935,730587.00,2.6388,6.9840,6.9840,-0.010596
5248,2015-01-08 09:30:00,338,124.54,126.15,120.13,123.22,122.707869,434867.03,-0.2337,4.1571,4.1571,-0.037483
7836,2015-01-09 09:30:00,338,123.22,123.47,118.85,119.26,120.187307,352990.98,-3.2129,3.3744,3.3744,-0.009040
10424,2015-01-12 09:30:00,338,118.60,122.81,117.53,118.23,120.527121,374594.02,-0.8645,3.5809,3.5809,-0.018596
...,...,...,...,...,...,...,...,...,...,...,...,...
5335966,2021-06-25 09:30:00,338,340.14,340.74,335.40,336.38,337.304056,420629.60,-0.8741,0.9910,1.0088,0.046334
5340322,2021-06-28 09:30:00,338,337.18,345.88,336.19,345.68,342.216338,795872.08,2.7631,1.8751,1.9088,-0.013453
5344681,2021-06-29 09:30:00,338,352.80,362.69,349.04,350.03,353.939367,1157371.28,1.2586,2.7269,2.7759,0.022727
5349043,2021-06-30 09:30:00,338,348.05,358.93,346.47,353.79,354.700731,1003392.31,1.0734,2.3641,2.4066,-0.012222
5353406,2021-07-01 09:30:00,338,355.96,356.56,348.45,353.39,351.289424,613929.77,-0.1118,1.4465,1.4725,-0.020247

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
73,2015-01-06 09:30:00,400,151.01,155.33,149.07,154.73,152.206157,271253.45,2.2660,4.5640,4.5640,0.068335
2661,2015-01-07 09:30:00,400,154.88,170.24,152.94,167.63,166.605477,1083572.26,8.3333,18.2317,18.2317,0.001351
5249,2015-01-08 09:30:00,400,165.47,166.96,162.41,165.47,164.393293,565226.22,-1.2895,9.5103,9.5103,-0.015295
7837,2015-01-09 09:30:00,400,165.69,166.06,161.81,163.08,163.952794,333213.36,-1.4414,5.6065,5.6065,-0.019644
10425,2015-01-12 09:30:00,400,163.16,168.00,161.29,161.37,165.052178,383210.75,-1.0512,6.4477,6.4477,0.028891
...,...,...,...,...,...,...,...,...,...,...,...,...
5335967,2021-06-25 09:30:00,400,97.06,100.54,96.75,100.15,99.441799,197864.95,3.4345,1.9624,3.4585,-0.009245
5340323,2021-06-28 09:30:00,400,100.38,100.38,98.60,99.45,99.310328,115723.58,-0.6950,1.1477,2.0228,-0.008554
5344682,2021-06-29 09:30:00,400,99.45,100.54,98.76,98.84,99.420145,79236.57,-0.6221,0.7859,1.3850,-0.001569
5349044,2021-06-30 09:30:00,400,98.60,99.61,97.68,98.29,98.496753,77298.16,-0.5477,0.7666,1.3511,-0.004713
5353407,2021-07-01 09:30:00,400,98.45,98.45,97.13,97.91,97.550159,73205.82,-0.3934,0.7261,1.2796,-0.019732

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
74,2015-01-06 09:30:00,401,49.91,51.56,48.96,51.14,50.700814,236449.07,2.2953,1.9504,5.5706,-0.045455
2662,2015-01-07 09:30:00,401,50.49,50.49,47.85,48.69,49.049240,236721.74,-4.7868,1.9526,5.5770,-0.015873
5250,2015-01-08 09:30:00,401,48.19,48.69,46.82,47.81,47.381983,254655.81,-1.8068,2.1005,5.9995,0.010484
7838,2015-01-09 09:30:00,401,47.43,47.93,46.17,47.43,46.796397,239360.90,-0.8000,1.9744,5.6392,-0.019154
10426,2015-01-12 09:30:00,401,47.93,49.72,47.62,48.42,48.898158,426884.08,2.0968,3.5212,10.0571,-0.033360
...,...,...,...,...,...,...,...,...,...,...,...,...
5335968,2021-06-25 09:30:00,401,52.13,52.21,51.84,52.00,51.960969,71100.51,-0.4819,0.5031,0.8378,0.016181
5340324,2021-06-28 09:30:00,401,51.88,52.05,51.54,51.96,51.765375,99453.88,-0.0807,0.7037,1.1719,-0.005573
5344683,2021-06-29 09:30:00,401,52.72,53.10,52.09,52.21,52.640513,130349.81,0.4847,0.9223,1.5360,-0.013611
5349045,2021-06-30 09:30:00,401,52.42,52.47,51.71,51.75,51.889195,75738.03,-0.8842,0.5359,0.8925,0.003247
5353408,2021-07-01 09:30:00,401,51.71,52.21,51.58,51.84,51.768733,52367.71,0.1622,0.3705,0.6171,0.007282

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
75,2015-01-06 09:30:00,402,373.63,402.65,367.28,367.28,381.608472,1814095.58,-1.4599,6.0748,8.5804,-0.066667
2663,2015-01-07 09:30:00,402,362.75,362.75,334.03,344.91,346.234721,1315349.57,-6.0905,4.4047,6.2214,0.016964
5251,2015-01-08 09:30:00,402,338.56,347.03,334.94,342.49,340.594025,653242.65,-0.7011,2.1875,3.0898,-0.043020
7839,2015-01-09 09:30:00,402,344.31,347.03,328.89,329.49,333.940665,659923.77,-3.7952,2.2099,3.1214,-0.009174
10427,2015-01-12 09:30:00,402,329.49,344.61,324.36,329.49,335.554883,761034.62,0.0000,2.5485,3.5996,-0.054630
...,...,...,...,...,...,...,...,...,...,...,...,...
5335969,2021-06-25 09:30:00,402,258.60,266.78,256.75,262.69,262.835091,306861.90,1.5805,1.0271,1.4918,-0.008487
5340325,2021-06-28 09:30:00,402,262.69,264.55,258.97,260.46,260.449700,203391.05,-0.8487,0.6808,0.9888,-0.021398
5344684,2021-06-29 09:30:00,402,260.46,261.58,254.89,255.26,257.499545,177969.05,-1.9971,0.5957,0.8652,-0.013120
5349046,2021-06-30 09:30:00,402,254.89,256.00,251.54,252.29,253.457014,130583.74,-1.1645,0.4371,0.6348,0.000000
5353409,2021-07-01 09:30:00,402,251.54,253.77,250.06,250.80,251.305704,94934.99,-0.5891,0.3178,0.4615,0.002954

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
76,2015-01-06 09:30:00,403,75.11,75.28,72.66,73.51,73.485250,30836.73,-2.0787,1.6988,1.8343,0.022949
2664,2015-01-07 09:30:00,403,73.51,76.12,73.51,75.36,75.105089,30877.54,2.5244,1.7011,1.8367,0.017386
5252,2015-01-08 09:30:00,403,75.19,77.09,75.19,76.58,76.415382,25912.58,1.6228,1.4275,1.5414,0.000551
7840,2015-01-09 09:30:00,403,76.50,77.93,76.16,76.54,76.907955,28926.10,-0.0551,1.5936,1.7206,-0.007713
10428,2015-01-12 09:30:00,403,76.54,77.26,76.12,76.12,76.519126,16205.87,-0.5510,0.8928,0.9640,-0.021655
...,...,...,...,...,...,...,...,...,...,...,...,...
5335970,2021-06-25 09:30:00,403,239.12,245.03,237.67,241.31,241.629843,13384.37,0.3152,0.2745,0.5354,-0.026076
5340326,2021-06-28 09:30:00,403,241.31,243.36,233.58,234.11,235.962800,30556.43,-2.9846,0.6266,1.2223,0.023548
5344685,2021-06-29 09:30:00,403,235.02,242.53,234.34,240.56,238.787603,15565.73,2.7526,0.3192,0.6226,-0.015128
5349047,2021-06-30 09:30:00,403,240.56,242.91,233.96,237.60,236.814183,15678.03,-1.2291,0.3213,0.6264,-0.004160
5353410,2021-07-01 09:30:00,403,236.92,237.37,232.97,235.93,234.846828,14361.84,-0.7020,0.2943,0.5739,-0.003856

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
77,2015-01-06 09:30:00,404,23.66,24.51,23.34,24.01,23.977813,373095.28,1.2376,7.5295,10.1272,-0.009901
2665,2015-01-07 09:30:00,404,23.72,23.98,23.13,23.63,23.523137,230715.20,-1.5892,4.6561,6.2625,0.002500
5253,2015-01-08 09:30:00,404,23.48,23.78,23.10,23.63,23.449167,166217.91,0.0000,3.3545,4.5118,-0.024938
7841,2015-01-09 09:30:00,404,23.54,23.63,22.98,23.04,23.203483,141888.56,-2.4845,2.8635,3.8514,-0.024297
10429,2015-01-12 09:30:00,404,22.95,23.39,22.54,22.60,23.009460,150519.49,-1.9108,3.0377,4.0857,0.009174
...,...,...,...,...,...,...,...,...,...,...,...,...
5335971,2021-06-25 09:30:00,404,13.52,13.52,13.41,13.48,13.471473,48392.50,-0.2532,0.6967,1.0048,0.000000
5340327,2021-06-28 09:30:00,404,13.48,13.52,13.38,13.48,13.449916,57806.53,0.0000,0.8322,1.2002,-0.005076
5344686,2021-06-29 09:30:00,404,13.48,13.48,13.38,13.45,13.423568,43108.51,-0.2538,0.6206,0.8951,-0.012755
5349048,2021-06-30 09:30:00,404,13.41,13.41,13.24,13.28,13.309620,45034.05,-1.2723,0.6483,0.9350,0.005168
5353411,2021-07-01 09:30:00,404,13.24,13.35,13.21,13.28,13.299012,31924.30,0.0000,0.4596,0.6628,0.002571

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
78,2015-01-06 09:30:00,407,66.73,68.68,65.75,68.03,67.493434,118902.12,1.9512,1.8437,2.0326,0.009615
2666,2015-01-07 09:30:00,407,67.71,69.12,67.38,68.36,68.207397,93628.94,0.4785,1.4518,1.6005,-0.006349
5254,2015-01-08 09:30:00,407,68.36,68.90,67.60,68.03,68.144464,72090.56,-0.4762,1.1178,1.2323,0.009585
7842,2015-01-09 09:30:00,407,67.92,69.01,67.82,68.58,68.411387,93917.74,0.7974,1.4563,1.6055,-0.031646
10430,2015-01-12 09:30:00,407,68.58,68.90,66.30,66.30,67.828714,96452.14,-3.3228,1.4956,1.6488,-0.022876
...,...,...,...,...,...,...,...,...,...,...,...,...
5335972,2021-06-25 09:30:00,407,46.35,46.57,45.91,46.24,46.112325,47482.00,-0.4728,0.5422,0.7247,0.011905
5340328,2021-06-28 09:30:00,407,46.13,46.68,45.91,46.57,46.393497,44764.19,0.7126,0.5112,0.6832,-0.011765
5344687,2021-06-29 09:30:00,407,46.68,46.68,46.02,46.35,46.297942,47780.29,-0.4717,0.5456,0.7293,-0.023786
5349049,2021-06-30 09:30:00,407,46.13,46.35,44.81,44.81,45.549979,61497.43,-3.3175,0.7022,0.9386,-0.004902
5353412,2021-07-01 09:30:00,407,45.03,45.92,44.81,44.81,45.298651,58935.11,0.0000,0.6730,0.8995,-0.012315

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
79,2015-01-06 09:30:00,408,58.31,58.98,55.24,57.41,57.136324,194731.91,-2.7436,7.7182,9.6107,-0.000980
2667,2015-01-07 09:30:00,408,56.97,58.25,55.68,57.47,57.127946,137142.18,0.0973,5.4357,6.7684,0.046124
5255,2015-01-08 09:30:00,408,56.91,61.94,56.52,60.09,59.784709,177030.57,4.5675,7.0167,8.7370,-0.001876
7843,2015-01-09 09:30:00,408,59.54,62.89,59.20,60.76,61.549555,158559.49,1.1152,6.2845,7.8254,0.000000
10431,2015-01-12 09:30:00,408,59.42,62.50,59.42,60.43,60.797262,100971.04,-0.5515,4.0020,4.9833,-0.031955
...,...,...,...,...,...,...,...,...,...,...,...,...
5335973,2021-06-25 09:30:00,408,117.37,120.32,110.67,116.97,115.837809,261930.34,-1.1511,5.5320,5.5320,-0.000485
5340329,2021-06-28 09:30:00,408,116.97,122.42,116.97,117.54,119.429754,195242.33,0.4852,4.1235,4.1235,-0.007282
5344688,2021-06-29 09:30:00,408,116.91,121.17,115.27,116.80,118.274815,207745.00,-0.6277,4.3876,4.3876,0.070905
5349050,2021-06-30 09:30:00,408,116.06,128.49,114.98,126.73,122.449621,384666.81,8.5034,8.1241,8.1241,0.019178
5353413,2021-07-01 09:30:00,408,124.29,128.72,122.02,126.73,125.364493,275102.78,0.0000,5.8102,5.8102,0.033602

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
80,2015-01-06 09:30:00,409,20.30,21.39,20.24,20.91,20.773956,88451.04,3.1403,2.9971,4.5136,0.019417
2668,2015-01-07 09:30:00,409,20.50,20.82,20.36,20.76,20.600030,62322.41,-0.7612,2.1118,3.1803,-0.004762
5256,2015-01-08 09:30:00,409,20.89,21.69,20.76,21.05,21.147279,75034.75,1.4382,2.5425,3.8290,-0.013397
7844,2015-01-09 09:30:00,409,20.80,20.89,20.48,20.54,20.593662,62512.74,-2.4575,2.1182,3.1900,-0.011639
10432,2015-01-12 09:30:00,409,20.52,20.72,20.32,20.36,20.549683,39032.78,-0.8721,1.3226,1.9918,-0.017664
...,...,...,...,...,...,...,...,...,...,...,...,...
5335974,2021-06-25 09:30:00,409,11.63,11.70,11.22,11.25,11.377094,119024.29,-3.3272,2.9343,3.5021,0.003824
5340330,2021-06-28 09:30:00,409,11.25,11.50,11.18,11.37,11.357527,86407.95,1.1472,2.1302,2.5424,0.000000
5344689,2021-06-29 09:30:00,409,11.29,11.44,11.20,11.31,11.345270,78606.83,-0.5671,1.9379,2.3129,-0.024762
5349051,2021-06-30 09:30:00,409,11.29,11.31,10.88,10.90,10.981874,108699.84,-3.6122,2.6798,3.1983,-0.003906
5353414,2021-07-01 09:30:00,409,11.01,11.07,10.86,10.94,10.942309,61146.22,0.3945,1.5074,1.7991,-0.023529

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
81,2015-01-06 09:30:00,410,35.69,38.26,34.68,37.59,36.652681,657303.68,3.9106,8.8972,12.3915,0.090272
2669,2015-01-07 09:30:00,410,37.10,39.85,36.84,39.04,38.700715,943682.50,3.8402,12.7736,17.7904,-0.033547
5257,2015-01-08 09:30:00,410,40.45,42.10,39.07,39.88,40.526131,1186342.16,2.1450,16.0582,22.3650,0.064254
7845,2015-01-09 09:30:00,410,39.10,43.74,38.98,42.59,41.591582,1296704.63,6.8067,17.5521,24.4456,-0.053435
10433,2015-01-12 09:30:00,410,41.61,42.16,40.42,40.42,41.208135,885686.07,-5.0847,11.9886,16.6970,-0.044721
...,...,...,...,...,...,...,...,...,...,...,...,...
5335975,2021-06-25 09:30:00,410,13.26,13.26,13.26,13.26,13.260290,11138.99,5.0343,0.0663,0.1076,-0.065217
5340331,2021-06-28 09:30:00,410,13.29,13.29,12.65,12.68,12.913904,117924.29,-4.3573,0.7015,1.1388,-0.046512
5344690,2021-06-29 09:30:00,410,12.42,12.51,12.08,12.08,12.286424,60243.24,-4.7836,0.3584,0.5818,0.024390
5349052,2021-06-30 09:30:00,410,11.84,12.31,11.84,12.10,12.155843,33054.00,0.2392,0.1966,0.3192,-0.021429
5353415,2021-07-01 09:30:00,410,12.13,12.31,11.82,11.87,11.937439,44447.83,-1.9093,0.2644,0.4292,-0.012165

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
82,2015-01-06 09:30:00,411,54.21,54.21,54.21,54.21,54.206458,0.00,0.0000,0.0000,0.0000,0.000000
2670,2015-01-07 09:30:00,411,54.21,54.21,54.21,54.21,54.206458,0.00,0.0000,0.0000,0.0000,0.000000
5258,2015-01-08 09:30:00,411,54.21,54.21,54.21,54.21,54.206458,0.00,0.0000,0.0000,0.0000,0.000000
7846,2015-01-09 09:30:00,411,54.21,54.21,54.21,54.21,54.206458,0.00,0.0000,0.0000,0.0000,0.000000
10434,2015-01-12 09:30:00,411,54.21,54.21,54.21,54.21,54.206458,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335976,2021-06-25 09:30:00,411,34.46,34.62,34.05,34.15,34.177000,18556.34,-1.4190,0.8950,1.9749,0.004535
5340332,2021-06-28 09:30:00,411,34.23,34.49,33.82,34.41,34.163805,17235.00,0.7576,0.8313,1.8343,0.005267
5344691,2021-06-29 09:30:00,411,34.39,34.85,34.20,34.62,34.598986,15612.00,0.6015,0.7530,1.6615,-0.014222
5349053,2021-06-30 09:30:00,411,34.57,34.59,33.97,34.07,34.214257,14865.01,-1.5695,0.7170,1.5820,0.003797
5353416,2021-07-01 09:30:00,411,34.15,34.28,33.92,34.20,34.084634,11948.00,0.3797,0.5763,1.2716,0.009834

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
83,2015-01-06 09:30:00,413,33.46,33.46,33.46,33.46,33.462339,0.00,0.0000,0.0000,0.0000,0.000000
2671,2015-01-07 09:30:00,413,33.46,33.46,33.46,33.46,33.462339,0.00,0.0000,0.0000,0.0000,0.000000
5259,2015-01-08 09:30:00,413,33.46,33.46,33.46,33.46,33.462339,0.00,0.0000,0.0000,0.0000,0.000000
7847,2015-01-09 09:30:00,413,33.46,33.46,33.46,33.46,33.462339,0.00,0.0000,0.0000,0.0000,0.000000
10435,2015-01-12 09:30:00,413,33.46,33.46,33.46,33.46,33.462339,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335977,2021-06-25 09:30:00,413,9.64,10.19,9.60,9.87,9.949716,1151581.61,2.3810,2.3675,2.8438,-0.004651
5340333,2021-06-28 09:30:00,413,9.87,9.97,9.74,9.83,9.835827,582840.63,-0.4651,1.1982,1.4393,-0.018692
5344692,2021-06-29 09:30:00,413,9.83,9.83,9.60,9.64,9.694843,465570.14,-1.8692,0.9571,1.1497,-0.019048
5349054,2021-06-30 09:30:00,413,9.64,9.64,9.41,9.46,9.517579,422939.03,-1.9048,0.8695,1.0444,0.009709
5353417,2021-07-01 09:30:00,413,9.46,9.55,9.46,9.55,9.513905,265004.71,0.9709,0.5448,0.6544,-0.019231

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
84,2015-01-06 09:30:00,415,139.68,140.70,132.93,135.39,135.979967,264666.54,-3.0724,2.0853,5.3970,0.000759
2672,2015-01-07 09:30:00,415,134.57,138.96,132.93,135.90,135.472144,204401.33,0.3774,1.6105,4.1681,0.013657
5260,2015-01-08 09:30:00,415,134.67,137.74,133.65,136.41,136.224171,146136.23,0.3759,1.1514,2.9800,-0.026946
7848,2015-01-09 09:30:00,415,136.51,136.92,132.32,132.93,133.673819,189557.54,-2.5468,1.4936,3.8654,-0.009231
10436,2015-01-12 09:30:00,415,132.83,135.39,131.81,132.93,133.312110,149556.82,0.0000,1.1784,3.0497,-0.018634
...,...,...,...,...,...,...,...,...,...,...,...,...
5335978,2021-06-25 09:30:00,415,50.62,50.62,49.37,50.21,49.826702,247343.77,-0.8264,0.6973,1.2170,0.025105
5340334,2021-06-28 09:30:00,415,50.00,52.09,49.79,51.46,51.203165,248500.00,2.5000,0.7005,1.2227,-0.032653
5344693,2021-06-29 09:30:00,415,51.25,51.46,49.58,49.79,50.261815,197526.58,-3.2520,0.5568,0.9719,0.000000
5349055,2021-06-30 09:30:00,415,49.58,50.41,49.16,49.37,49.676086,147834.49,-0.8403,0.4167,0.7274,0.016878
5353418,2021-07-01 09:30:00,415,49.58,51.04,49.37,50.62,50.150944,173498.26,2.5424,0.4891,0.8537,-0.012448

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
85,2015-01-06 09:30:00,416,76.40,77.98,75.94,77.70,77.337169,88361.62,1.5777,1.6622,2.1466,-0.010778
2673,2015-01-07 09:30:00,416,77.51,77.98,75.47,76.59,76.584304,75711.09,-1.4337,1.4242,1.8393,0.101695
5261,2015-01-08 09:30:00,416,76.68,84.29,76.59,84.29,82.540387,268931.87,10.0606,5.0588,6.5334,-0.023077
7849,2015-01-09 09:30:00,416,84.48,85.13,81.60,82.43,83.335026,248257.49,-2.2026,4.6699,6.0311,-0.004499
10437,2015-01-12 09:30:00,416,82.53,87.08,80.76,83.64,84.559476,246192.02,1.4640,4.6311,5.9809,0.022599
...,...,...,...,...,...,...,...,...,...,...,...,...
5335979,2021-06-25 09:30:00,416,39.89,39.99,39.60,39.89,39.761443,27251.00,-0.2427,0.5126,0.6620,0.017032
5340335,2021-06-28 09:30:00,416,39.89,40.37,39.60,39.99,39.973993,59917.00,0.2433,1.1270,1.4555,-0.033493
5344694,2021-06-29 09:30:00,416,40.57,40.57,39.11,39.21,39.513953,77555.00,-1.9417,1.4588,1.8840,-0.007426
5349056,2021-06-30 09:30:00,416,39.21,39.31,38.72,38.72,38.959770,38649.00,-1.2376,0.7270,0.9389,0.004988
5353419,2021-07-01 09:30:00,416,38.92,39.11,38.72,39.02,38.887949,29701.47,0.7519,0.5587,0.7215,-0.027295

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
86,2015-01-06 09:30:00,417,127.77,140.85,126.22,137.11,133.330868,384533.07,6.2726,4.9388,7.8113,0.011494
2674,2015-01-07 09:30:00,417,135.40,140.85,132.76,138.51,137.427131,316137.74,1.0216,4.0603,6.4220,-0.028409
5262,2015-01-08 09:30:00,417,136.96,137.74,131.67,133.07,134.339371,198906.20,-3.9326,2.5547,4.0405,-0.015205
7850,2015-01-09 09:30:00,417,133.07,133.38,129.18,132.13,130.860971,197040.16,-0.7018,2.5307,4.0026,-0.032067
10438,2015-01-12 09:30:00,417,131.04,136.18,129.49,129.49,132.670984,223809.06,-2.0024,2.8745,4.5464,0.001227
...,...,...,...,...,...,...,...,...,...,...,...,...
5335980,2021-06-25 09:30:00,417,79.31,79.66,78.78,79.31,79.184506,64662.47,-0.2222,0.8300,1.4575,0.002232
5340336,2021-06-28 09:30:00,417,79.14,79.84,78.43,79.49,79.018464,103228.54,0.2227,1.3251,2.3268,0.004454
5344695,2021-06-29 09:30:00,417,79.31,80.55,79.14,80.02,79.876938,86872.68,0.6667,1.1151,1.9582,0.013304
5349057,2021-06-30 09:30:00,417,79.66,81.43,79.31,80.37,80.239052,100907.41,0.4415,1.2953,2.2745,-0.010941
5353420,2021-07-01 09:30:00,417,80.72,80.90,79.66,80.19,80.161330,77158.50,-0.2198,0.9904,1.7392,-0.019912

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
87,2015-01-06 09:30:00,418,35.05,38.12,35.02,37.51,36.921850,190772.81,7.2630,4.3579,9.5956,0.000719
2675,2015-01-07 09:30:00,418,37.16,38.71,36.89,37.43,37.675182,122123.45,-0.2138,2.7897,6.1426,0.000719
5263,2015-01-08 09:30:00,418,37.19,37.43,36.62,37.21,36.890038,62137.76,-0.5714,1.4194,3.1254,-0.008621
7851,2015-01-09 09:30:00,418,37.21,37.43,36.52,37.13,36.973712,56513.92,-0.2155,1.2910,2.8426,-0.036232
10439,2015-01-12 09:30:00,418,36.89,37.56,36.06,36.06,36.945375,75426.79,-2.8798,1.7230,3.7939,0.004511
...,...,...,...,...,...,...,...,...,...,...,...,...
3401628,2019-06-14 09:30:00,418,175.62,175.62,175.62,175.62,175.622410,0.00,0.0000,0.0000,0.0000,0.000000
3405242,2019-06-17 09:30:00,418,175.62,175.62,175.62,175.62,175.622410,0.00,0.0000,0.0000,0.0000,0.000000
3408857,2019-06-18 09:30:00,418,175.62,175.62,175.62,175.62,175.622410,0.00,0.0000,0.0000,0.0000,0.000000
3412472,2019-06-19 09:30:00,418,175.62,175.62,175.62,175.62,175.622410,0.00,0.0000,0.0000,0.0000,0.000000
3416088,2019-06-20 09:30:00,418,175.62,175.62,175.62,175.62,175.622410,0.00,0.0000,0.0000,0.0000,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
88,2015-01-06 09:30:00,419,91.84,94.14,91.84,93.60,93.345864,79886.44,2.3704,1.4704,2.6802,0.029070
2676,2015-01-07 09:30:00,419,93.19,95.90,92.78,95.49,94.761324,113701.62,2.0260,2.0928,3.8147,0.001412
5264,2015-01-08 09:30:00,419,95.90,96.58,94.00,96.17,95.253010,102099.15,0.7092,1.8793,3.4254,-0.014104
7852,2015-01-09 09:30:00,419,96.03,96.85,94.41,95.09,95.468376,84824.30,-1.1268,1.5613,2.8458,-0.027182
10440,2015-01-12 09:30:00,419,94.68,95.76,92.65,92.65,94.395607,77572.78,-2.5641,1.4278,2.6026,-0.033824
...,...,...,...,...,...,...,...,...,...,...,...,...
5335981,2021-06-25 09:30:00,419,63.14,63.43,62.85,62.85,63.125576,21342.00,-0.4587,0.3928,0.7059,0.006928
5340337,2021-06-28 09:30:00,419,62.70,63.43,62.70,63.14,63.076342,18464.01,0.4608,0.3399,0.6107,0.004587
5344696,2021-06-29 09:30:00,419,63.28,63.71,62.99,63.43,63.434014,25676.95,0.4587,0.4726,0.8493,0.004566
5349058,2021-06-30 09:30:00,419,63.43,63.86,63.14,63.71,63.588957,19258.81,0.4566,0.3545,0.6370,0.011364
5353421,2021-07-01 09:30:00,419,63.71,64.44,63.43,64.29,63.903188,25001.18,0.9091,0.4602,0.8270,0.002247

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
89,2015-01-06 09:30:00,420,16.36,16.48,16.13,16.45,16.327541,52218.18,0.5825,1.6405,1.7552,0.017442
2677,2015-01-07 09:30:00,420,16.39,16.67,16.29,16.67,16.510165,51214.31,1.3514,1.6090,1.7215,-0.007619
5265,2015-01-08 09:30:00,420,16.67,16.74,16.39,16.55,16.525727,41878.67,-0.7619,1.3157,1.4077,-0.011516
7853,2015-01-09 09:30:00,420,16.55,16.61,16.33,16.36,16.395509,36557.82,-1.1516,1.1485,1.2288,-0.009709
10441,2015-01-12 09:30:00,420,16.36,16.58,16.33,16.39,16.432669,32155.14,0.1942,1.0102,1.0808,-0.043137
...,...,...,...,...,...,...,...,...,...,...,...,...
5335982,2021-06-25 09:30:00,420,22.61,22.93,22.36,22.74,22.689848,178634.78,0.2801,0.9069,1.6717,0.022346
5340338,2021-06-28 09:30:00,420,22.74,23.76,22.68,23.38,23.335225,318253.48,2.7933,1.6158,2.9782,-0.008197
5344697,2021-06-29 09:30:00,420,23.25,23.63,23.06,23.19,23.326967,276379.89,-0.8152,1.4032,2.5864,-0.002755
5349059,2021-06-30 09:30:00,420,23.06,23.50,22.68,22.80,23.060177,209215.42,-1.6438,1.0622,1.9579,-0.011050
5353422,2021-07-01 09:30:00,420,22.99,22.99,22.23,22.61,22.543113,205538.24,-0.8357,1.0435,1.9234,-0.030726

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
90,2015-01-06 09:30:00,421,45.81,46.58,45.36,46.39,46.109838,50397.95,1.4104,1.4333,2.2837,0.026648
2678,2015-01-07 09:30:00,421,46.00,47.23,45.87,47.10,46.720859,59803.75,1.5299,1.7008,2.7099,-0.010929
5266,2015-01-08 09:30:00,421,47.23,47.36,46.26,46.71,46.795059,37410.70,-0.8219,1.0639,1.6952,-0.005525
7854,2015-01-09 09:30:00,421,46.52,46.84,46.26,46.52,46.535036,31041.38,-0.4144,0.8828,1.4066,-0.008333
10442,2015-01-12 09:30:00,421,46.46,46.78,46.20,46.20,46.497614,33959.89,-0.6935,0.9658,1.5388,-0.033613
...,...,...,...,...,...,...,...,...,...,...,...,...
5335983,2021-06-25 09:30:00,421,36.14,36.49,36.07,36.28,36.304961,20882.73,-0.1901,0.3647,0.7969,-0.005671
5340339,2021-06-28 09:30:00,421,36.56,36.56,36.07,36.35,36.273174,20943.00,0.1905,0.3657,0.7992,-0.001901
5344698,2021-06-29 09:30:00,421,36.35,36.42,36.00,36.21,36.155700,21608.01,-0.3802,0.3773,0.8246,-0.017143
5349060,2021-06-30 09:30:00,421,36.28,36.28,35.31,35.52,35.750070,41535.07,-1.9084,0.7253,1.5850,-0.009690
5353423,2021-07-01 09:30:00,421,35.66,35.73,35.10,35.24,35.306433,29034.00,-0.7782,0.5070,1.1079,-0.003914

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
91,2015-01-06 09:30:00,422,110.88,117.37,109.56,115.60,114.048796,511733.96,4.6729,5.8568,6.8578,0.034615
2679,2015-01-07 09:30:00,422,115.01,121.65,114.28,118.99,119.131492,605571.28,2.9337,6.9308,8.1154,-0.008674
5267,2015-01-08 09:30:00,422,118.99,120.62,115.75,118.55,117.732166,312606.52,-0.3717,3.5778,4.1893,-0.025000
7855,2015-01-09 09:30:00,422,117.96,118.40,114.87,115.31,116.222250,230900.66,-2.7363,2.6427,3.0943,-0.019231
10443,2015-01-12 09:30:00,422,115.01,116.19,112.80,112.80,114.814076,206290.20,-2.1739,2.3610,2.7645,-0.044444
...,...,...,...,...,...,...,...,...,...,...,...,...
5335984,2021-06-25 09:30:00,422,108.09,110.31,104.25,108.69,107.345677,344979.81,0.5472,3.8424,5.6569,0.053061
5340340,2021-06-28 09:30:00,422,108.69,117.11,104.99,114.60,111.908985,707993.85,5.4422,7.8858,11.6095,0.103359
5344699,2021-06-29 09:30:00,422,114.45,126.13,114.45,126.13,123.871771,777869.80,10.0645,8.6641,12.7553,0.021077
5349061,2021-06-30 09:30:00,422,126.28,138.56,122.88,130.57,130.968114,963621.24,3.5170,10.7330,15.8012,0.022936
5353424,2021-07-01 09:30:00,422,128.94,135.75,126.87,129.54,130.466830,435651.62,-0.7928,4.8524,7.1437,-0.047085

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
92,2015-01-06 09:30:00,423,341.49,359.90,340.75,356.33,351.783443,283455.33,4.3455,4.3357,5.6418,0.052225
2680,2015-01-07 09:30:00,423,356.05,391.04,354.59,377.58,374.246691,408141.93,5.9640,6.2429,8.1235,-0.010269
5268,2015-01-08 09:30:00,423,374.65,379.14,367.04,373.00,374.344703,189874.63,-1.2130,2.9043,3.7792,-0.004447
7856,2015-01-09 09:30:00,423,370.80,384.17,370.80,371.17,375.812147,199056.66,-0.4912,3.0447,3.9619,-0.022333
10444,2015-01-12 09:30:00,423,369.15,374.46,357.70,358.43,365.060969,219167.27,-3.4304,3.3523,4.3622,0.013198
...,...,...,...,...,...,...,...,...,...,...,...,...
5335985,2021-06-25 09:30:00,423,346.33,346.94,336.81,341.57,341.060480,81326.52,-1.3454,1.2438,1.8293,-0.002075
5340341,2021-06-28 09:30:00,423,341.57,343.09,338.53,339.65,339.843264,73250.71,-0.5633,1.1203,1.6476,0.039216
5344700,2021-06-29 09:30:00,423,340.86,356.25,339.95,355.24,350.614916,100550.55,4.5915,1.5378,2.2617,-0.012579
5349062,2021-06-30 09:30:00,423,354.23,364.25,348.66,349.67,354.182514,66612.92,-1.5678,1.0188,1.4983,0.042270
5353425,2021-07-01 09:30:00,423,349.77,371.65,349.67,363.65,360.745556,96192.42,3.9965,1.4711,2.1637,0.012222

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
93,2015-01-06 09:30:00,425,184.61,187.08,173.78,183.51,182.131187,872991.75,-0.4008,4.2468,8.5680,-0.020408
2681,2015-01-07 09:30:00,425,180.92,180.92,175.01,177.23,177.445693,914183.78,-3.4205,4.1483,7.8336,0.020833
5269,2015-01-08 09:30:00,425,177.23,182.52,176.98,181.41,180.022900,691170.61,2.3611,3.1364,5.9226,-0.047619
7857,2015-01-09 09:30:00,425,180.92,180.92,174.03,174.15,175.946631,575709.77,-4.0027,2.6124,4.9332,-0.029286
10445,2015-01-12 09:30:00,425,172.31,177.97,168.86,169.97,173.053120,708655.06,-2.4028,3.2157,6.0724,-0.024283
...,...,...,...,...,...,...,...,...,...,...,...,...
5335986,2021-06-25 09:30:00,425,245.11,245.11,240.50,243.57,243.041634,527809.75,0.1580,0.7545,1.3153,0.023622
5340342,2021-06-28 09:30:00,425,243.96,251.64,242.80,249.33,248.723696,839581.95,2.3659,1.2003,2.0923,-0.023077
5344701,2021-06-29 09:30:00,425,249.72,251.64,243.19,243.96,245.573398,769247.47,-2.1572,1.0997,1.9170,-0.004724
5349063,2021-06-30 09:30:00,425,243.96,245.11,239.73,243.57,242.319371,560006.75,-0.1575,0.8006,1.3956,0.044304
5353426,2021-07-01 09:30:00,425,242.80,245.49,240.88,244.72,243.441184,487847.50,0.4732,0.6974,1.2157,-0.027273

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
94,2015-01-06 09:30:00,426,100.49,100.49,100.49,100.49,100.487383,0.00,0.0000,0.0000,0.0000,0.000000
2682,2015-01-07 09:30:00,426,100.49,100.49,100.49,100.49,100.487383,0.00,0.0000,0.0000,0.0000,0.000000
5270,2015-01-08 09:30:00,426,100.49,100.49,100.49,100.49,100.487383,0.00,0.0000,0.0000,0.0000,0.000000
7858,2015-01-09 09:30:00,426,100.49,100.49,100.49,100.49,100.487383,0.00,0.0000,0.0000,0.0000,0.000000
10446,2015-01-12 09:30:00,426,100.49,100.49,100.49,100.49,100.487383,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335987,2021-06-25 09:30:00,426,130.04,130.21,126.14,126.99,127.968768,167478.57,-1.9608,1.1352,1.9850,0.022606
5340343,2021-06-28 09:30:00,426,127.33,133.59,127.16,131.90,130.291810,301698.54,3.8667,2.0450,3.5758,-0.019506
5344702,2021-06-29 09:30:00,426,130.21,130.37,127.16,127.33,128.170256,323016.70,-3.4660,2.1895,3.8285,-0.027851
5349064,2021-06-30 09:30:00,426,127.67,128.34,123.43,123.60,125.181796,255261.64,-2.9255,1.7303,3.0254,0.035471
5353427,2021-07-01 09:30:00,426,124.11,130.88,123.94,127.50,127.838393,241244.55,3.1507,1.6353,2.8247,-0.018445

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
95,2015-01-06 09:30:00,428,71.37,75.87,71.37,73.20,73.613296,165881.29,3.6082,2.3079,4.2769,-0.004959
2683,2015-01-07 09:30:00,428,73.44,73.44,71.74,73.44,72.439493,110439.03,0.3317,1.5365,2.8474,0.004983
5271,2015-01-08 09:30:00,428,73.07,73.80,72.35,73.07,73.052492,82653.71,-0.4959,1.1499,2.1311,-0.013223
7859,2015-01-09 09:30:00,428,73.44,73.56,72.10,72.35,72.597295,76575.18,-0.9967,1.0654,1.9743,-0.026801
10447,2015-01-12 09:30:00,428,72.47,72.71,71.01,71.13,71.904181,80117.55,-1.6779,1.1147,2.0657,-0.006885
...,...,...,...,...,...,...,...,...,...,...,...,...
5335988,2021-06-25 09:30:00,428,35.20,35.20,34.23,34.47,34.483321,75748.25,-2.4055,0.7435,6.0828,0.000000
5340344,2021-06-28 09:30:00,428,34.35,34.59,34.11,34.35,34.270895,41998.00,-0.3521,0.4122,3.3725,0.007067
5344703,2021-06-29 09:30:00,428,34.35,34.72,33.99,34.59,34.287889,45932.00,0.7067,0.4508,3.6885,0.000000
5349065,2021-06-30 09:30:00,428,34.59,34.96,34.47,34.59,34.760081,37112.00,0.0000,0.3643,2.9802,-0.014035
5353428,2021-07-01 09:30:00,428,34.59,34.72,33.99,34.11,34.182284,34771.10,-1.4035,0.3413,2.7922,-0.010676

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
96,2015-01-06 09:30:00,429,14.28,14.63,14.22,14.60,14.445205,110185.48,2.2267,2.3550,3.0229,0.031683
2684,2015-01-07 09:30:00,429,14.60,16.01,14.45,15.35,15.286642,290081.37,5.1485,6.1999,7.9583,0.001919
5272,2015-01-08 09:30:00,429,15.06,15.20,14.83,15.06,14.965503,122748.39,-1.8832,2.6235,3.3676,-0.030651
7860,2015-01-09 09:30:00,429,15.09,15.12,14.54,14.63,14.717205,79651.87,-2.8791,1.7024,2.1852,-0.011858
10448,2015-01-12 09:30:00,429,14.63,14.80,14.39,14.48,14.576724,72593.09,-0.9881,1.5515,1.9916,-0.038000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335989,2021-06-25 09:30:00,429,27.40,27.48,27.14,27.29,27.306942,35065.70,-0.4121,0.2691,0.7050,0.017808
5340345,2021-06-28 09:30:00,429,27.48,27.89,27.18,27.85,27.557616,43157.84,2.0690,0.3312,0.8676,-0.009421
5344704,2021-06-29 09:30:00,429,27.97,28.12,27.44,27.59,27.703279,54276.18,-0.9459,0.4166,1.0912,-0.010870
5349066,2021-06-30 09:30:00,429,27.70,27.74,26.38,27.18,27.202306,40663.15,-1.5007,0.3121,0.8175,-0.010989
5353429,2021-07-01 09:30:00,429,27.40,27.40,26.84,26.99,26.997551,33370.24,-0.6925,0.2561,0.6709,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
97,2015-01-06 09:30:00,430,37.10,37.79,36.92,37.65,37.422345,34000.34,1.4797,1.6266,2.0317,0.008537
2685,2015-01-07 09:30:00,430,37.51,37.92,37.05,37.88,37.511094,65519.61,0.6075,3.1345,3.9151,-0.006046
5273,2015-01-08 09:30:00,430,37.83,37.88,37.33,37.65,37.606247,35474.89,-0.6039,1.6971,2.1198,-0.003650
7861,2015-01-09 09:30:00,430,37.60,37.97,37.42,37.56,37.696826,42892.46,-0.2430,2.0520,2.5631,-0.015873
10449,2015-01-12 09:30:00,430,37.47,37.79,37.10,37.15,37.562330,33844.74,-1.0962,1.6191,2.0224,-0.012407
...,...,...,...,...,...,...,...,...,...,...,...,...
5335990,2021-06-25 09:30:00,430,24.68,24.68,24.31,24.35,24.431120,22133.00,-1.3084,0.6672,0.8450,0.005693
5340346,2021-06-28 09:30:00,430,24.31,24.45,24.21,24.45,24.354094,15199.00,0.3788,0.4582,0.5803,0.015094
5344705,2021-06-29 09:30:00,430,24.45,24.81,24.35,24.77,24.654357,34661.00,1.3208,1.0448,1.3233,0.003717
5349067,2021-06-30 09:30:00,430,24.81,25.41,24.77,25.09,25.200458,69693.00,1.3035,2.1008,2.6608,-0.001852
5353430,2021-07-01 09:30:00,430,24.91,25.14,24.63,24.91,24.817173,29742.00,-0.7353,0.8965,1.1355,-0.025974

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
98,2015-01-06 09:30:00,488,31.41,32.22,30.45,31.97,31.544036,409928.63,2.1070,3.7096,5.0477,0.025600
2686,2015-01-07 09:30:00,488,31.72,32.68,31.36,32.48,32.144846,374959.93,1.5873,3.3932,4.6171,0.078003
5274,2015-01-08 09:30:00,488,32.53,34.46,32.32,34.15,33.631140,676628.83,5.1563,6.1231,8.3318,-0.044863
7862,2015-01-09 09:30:00,488,35.06,35.47,33.19,33.34,34.384182,522441.96,-2.3774,4.7278,6.4332,-0.031818
10450,2015-01-12 09:30:00,488,33.49,33.64,32.53,32.53,33.068896,296536.34,-2.4353,2.6835,3.6514,-0.043818
...,...,...,...,...,...,...,...,...,...,...,...,...
5335991,2021-06-25 09:30:00,488,83.52,83.71,81.23,81.52,81.868532,589903.50,-1.9518,3.5553,7.1071,0.023529
5340347,2021-06-28 09:30:00,488,81.14,83.24,80.28,82.85,81.942031,659741.63,1.6393,3.9762,7.9485,-0.018391
5344706,2021-06-29 09:30:00,488,83.04,83.04,80.94,81.52,81.774033,560107.56,-1.6129,3.3757,6.7481,-0.033958
5349068,2021-06-30 09:30:00,488,81.52,81.80,78.94,79.04,79.586240,552455.09,-3.0445,3.3296,6.6560,-0.009697
5353431,2021-07-01 09:30:00,488,78.75,79.32,77.13,77.70,77.888122,596020.24,-1.6908,3.5921,7.1808,-0.009792

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
99,2015-01-06 09:30:00,498,12.44,12.44,12.44,12.44,12.435200,0.00,0.0000,0.0000,0.0000,0.000000
2687,2015-01-07 09:30:00,498,12.44,12.44,12.44,12.44,12.435200,0.00,0.0000,0.0000,0.0000,0.000000
5275,2015-01-08 09:30:00,498,12.44,12.44,12.44,12.44,12.435200,0.00,0.0000,0.0000,0.0000,0.000000
7863,2015-01-09 09:30:00,498,12.44,12.44,12.44,12.44,12.435200,0.00,0.0000,0.0000,0.0000,0.000000
10451,2015-01-12 09:30:00,498,12.44,12.44,12.44,12.44,12.435200,0.00,0.0000,0.0000,0.0000,0.077586
...,...,...,...,...,...,...,...,...,...,...,...,...
5335992,2021-06-25 09:30:00,498,15.78,16.14,15.58,15.92,15.892918,100988.37,0.7092,1.9678,2.2083,-0.001751
5340348,2021-06-28 09:30:00,498,16.00,16.37,15.89,15.98,16.098082,125618.59,0.3521,2.4477,2.7469,-0.001754
5344707,2021-06-29 09:30:00,498,15.98,16.09,15.81,15.86,15.897122,68755.00,-0.7018,1.3397,1.5034,0.008787
5349069,2021-06-30 09:30:00,498,15.95,16.14,15.75,15.95,16.007552,69200.02,0.5300,1.3484,1.5132,-0.024390
5353432,2021-07-01 09:30:00,498,16.09,16.12,15.67,15.70,15.830416,57086.45,-1.5817,1.1123,1.2483,-0.010615

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
100,2015-01-06 09:30:00,501,75.17,75.17,75.17,75.17,75.166784,0.00,0.0000,0.0000,0.0000,0.000000
2688,2015-01-07 09:30:00,501,75.17,75.17,75.17,75.17,75.166784,0.00,0.0000,0.0000,0.0000,0.000000
5276,2015-01-08 09:30:00,501,75.17,75.17,75.17,75.17,75.166784,0.00,0.0000,0.0000,0.0000,0.000000
7864,2015-01-09 09:30:00,501,75.17,75.17,75.17,75.17,75.166784,0.00,0.0000,0.0000,0.0000,0.000000
10452,2015-01-12 09:30:00,501,75.17,75.17,75.17,75.17,75.166784,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335993,2021-06-25 09:30:00,501,79.09,79.29,78.07,79.22,78.699872,72757.08,0.0856,0.9476,1.5568,0.007725
5340349,2021-06-28 09:30:00,501,78.95,79.56,78.27,79.29,78.975698,85105.11,0.0855,1.1084,1.8211,0.014480
5344708,2021-06-29 09:30:00,501,79.56,81.66,79.56,80.51,80.654374,144803.11,1.5385,1.8860,3.0985,-0.004198
5349070,2021-06-30 09:30:00,501,80.71,82.27,79.83,80.51,80.981705,134849.96,0.0000,1.7563,2.8855,-0.008432
5353433,2021-07-01 09:30:00,501,80.38,80.78,78.95,79.29,79.563946,93667.10,-1.5152,1.2200,2.0043,-0.006803

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
101,2015-01-06 09:30:00,502,28.80,30.14,28.68,29.76,29.654426,43817.00,1.2712,2.3901,3.0974,-0.006316
2689,2015-01-07 09:30:00,502,29.58,29.83,28.99,29.39,29.331869,21980.18,-1.2552,1.1989,1.5538,0.002119
5277,2015-01-08 09:30:00,502,29.39,29.48,29.11,29.45,29.242823,18533.02,0.2119,1.0109,1.3101,-0.009514
7865,2015-01-09 09:30:00,502,29.58,29.70,28.96,29.14,29.213245,17007.02,-1.0571,0.9277,1.2022,0.014941
10453,2015-01-12 09:30:00,502,29.17,29.95,29.11,29.64,29.605856,26631.87,1.7094,1.4527,1.8826,-0.001052
...,...,...,...,...,...,...,...,...,...,...,...,...
5335994,2021-06-25 09:30:00,502,17.28,18.15,16.94,17.84,17.488156,28394.17,3.2432,1.5486,2.0069,0.065141
5340350,2021-06-28 09:30:00,502,17.68,18.71,17.68,18.56,18.288946,22847.06,4.0140,1.2461,1.6148,-0.041322
5344709,2021-06-29 09:30:00,502,18.84,19.09,18.03,18.06,18.441507,16399.06,-2.6846,0.8944,1.1591,-0.034483
5349071,2021-06-30 09:30:00,502,18.06,18.15,17.31,17.44,17.615809,8025.32,-3.4483,0.4377,0.5672,-0.025000
5353434,2021-07-01 09:30:00,502,17.44,17.62,17.06,17.09,17.244682,8523.51,-1.9643,0.4649,0.6024,0.005495

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
102,2015-01-06 09:30:00,503,238.26,242.90,232.55,240.85,237.859537,136074.19,1.1189,1.5154,2.0926,0.024920
2690,2015-01-07 09:30:00,503,238.34,246.33,233.84,244.96,240.677682,134172.33,1.7072,1.4942,2.0633,-0.008105
5278,2015-01-08 09:30:00,503,244.27,248.23,240.32,240.47,243.179824,96200.48,-1.8340,1.0713,1.4794,-0.039912
7866,2015-01-09 09:30:00,503,242.30,243.67,233.77,233.84,236.609228,98314.16,-2.7549,1.0949,1.5119,0.001637
10454,2015-01-12 09:30:00,503,232.62,240.54,231.86,234.30,236.453891,117712.22,0.1954,1.3109,1.8102,0.011111
...,...,...,...,...,...,...,...,...,...,...,...,...
5335995,2021-06-25 09:30:00,503,60.15,60.31,58.71,58.71,58.990688,58544.71,-1.6582,0.6513,0.8829,-0.019355
5340351,2021-06-28 09:30:00,503,59.01,59.17,57.64,57.87,58.075419,53521.81,-1.4267,0.5955,0.8071,-0.017105
5344710,2021-06-29 09:30:00,503,57.87,57.95,56.65,56.88,57.204314,67971.86,-1.7105,0.7562,1.0250,-0.008032
5349072,2021-06-30 09:30:00,503,56.88,57.95,56.35,56.35,57.079436,57059.00,-0.9371,0.6348,0.8605,0.000000
5353435,2021-07-01 09:30:00,503,56.42,56.88,55.13,56.42,56.021775,54985.48,0.1351,0.6118,0.8292,0.009447

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
103,2015-01-06 09:30:00,504,14.99,14.99,14.99,14.99,14.993663,0.00,0.0000,0.0000,0.0000,0.000000
2691,2015-01-07 09:30:00,504,14.99,14.99,14.99,14.99,14.993663,0.00,0.0000,0.0000,0.0000,0.000000
5279,2015-01-08 09:30:00,504,14.99,14.99,14.99,14.99,14.993663,0.00,0.0000,0.0000,0.0000,0.000000
7867,2015-01-09 09:30:00,504,14.99,14.99,14.99,14.99,14.993663,0.00,0.0000,0.0000,0.0000,0.000000
10455,2015-01-12 09:30:00,504,14.99,14.99,14.99,14.99,14.993663,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335996,2021-06-25 09:30:00,504,42.63,42.96,41.43,42.08,41.974896,18113.00,-1.2827,0.5830,0.9271,-0.002999
5340352,2021-06-28 09:30:00,504,42.06,42.27,41.47,42.06,41.945665,7066.01,-0.0500,0.2274,0.3617,0.018045
5344711,2021-06-29 09:30:00,504,41.95,42.71,41.68,42.25,42.269722,14126.01,0.4500,0.4547,0.7230,0.030034
5349073,2021-06-30 09:30:00,504,42.71,44.12,42.18,43.93,43.410334,29813.80,3.9821,0.9597,1.5260,-0.035373
5353436,2021-07-01 09:30:00,504,43.99,44.52,41.03,42.37,42.587049,31208.18,-3.5424,1.0045,1.5974,0.003469

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
104,2015-01-06 09:30:00,505,24.87,26.56,23.88,25.96,25.547956,166715.06,4.5333,4.6253,6.7233,-0.023047
2692,2015-01-07 09:30:00,505,25.86,25.86,24.67,25.27,25.233342,94638.09,-2.6786,2.6256,3.8166,0.019659
5280,2015-01-08 09:30:00,505,25.27,26.00,24.84,25.77,25.300901,67450.47,1.9659,1.8713,2.7202,-0.046272
7868,2015-01-09 09:30:00,505,25.77,25.86,24.61,24.61,25.215790,50231.64,-4.4987,1.3936,2.0257,0.002695
10456,2015-01-12 09:30:00,505,24.57,25.14,23.98,24.64,24.636570,43374.33,0.1346,1.2034,1.7492,-0.057796
...,...,...,...,...,...,...,...,...,...,...,...,...
5335997,2021-06-25 09:30:00,505,23.98,24.04,23.81,23.88,23.888452,38651.17,-0.9615,0.6239,0.8638,0.005563
5340353,2021-06-28 09:30:00,505,23.81,23.94,23.78,23.91,23.852354,34362.34,0.1387,0.5547,0.7680,0.012448
5344712,2021-06-29 09:30:00,505,23.94,24.31,23.94,24.21,24.169948,56824.99,1.2465,0.9172,1.2700,-0.016393
5349074,2021-06-30 09:30:00,505,24.24,24.34,23.84,23.91,23.973232,38949.10,-1.2312,0.6287,0.8705,0.001389
5353437,2021-07-01 09:30:00,505,23.84,23.94,23.61,23.78,23.723197,45574.50,-0.5540,0.7356,1.0186,-0.006935

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
105,2015-01-06 09:30:00,506,20.02,20.02,20.02,20.02,20.015749,0.00,0.0000,0.0000,0.0000,0.000000
2693,2015-01-07 09:30:00,506,20.02,20.02,20.02,20.02,20.015749,0.00,0.0000,0.0000,0.0000,0.000000
5281,2015-01-08 09:30:00,506,20.02,20.02,20.02,20.02,20.015749,0.00,0.0000,0.0000,0.0000,0.000000
7869,2015-01-09 09:30:00,506,20.02,20.02,20.02,20.02,20.015749,0.00,0.0000,0.0000,0.0000,0.000000
10457,2015-01-12 09:30:00,506,20.02,20.02,20.02,20.02,20.015749,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5335998,2021-06-25 09:30:00,506,6.06,6.06,6.00,6.03,6.037749,43382.03,-0.4739,0.4672,0.7427,0.014354
5340354,2021-06-28 09:30:00,506,6.00,6.12,6.00,6.12,6.044929,67972.70,1.4286,0.7320,1.1636,-0.009434
5344713,2021-06-29 09:30:00,506,6.09,6.15,6.03,6.03,6.054979,51590.00,-1.4085,0.5556,0.8832,-0.004762
5349075,2021-06-30 09:30:00,506,6.03,6.03,5.94,5.94,5.978879,53497.00,-1.4286,0.5761,0.9158,-0.004785
5353438,2021-07-01 09:30:00,506,6.00,6.03,5.97,5.97,5.996684,32479.66,0.4831,0.3498,0.5560,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
106,2015-01-06 09:30:00,507,39.85,40.33,38.42,39.58,39.259315,456631.79,-0.3356,5.9138,8.0362,0.039282
2694,2015-01-07 09:30:00,507,39.58,41.31,38.78,41.00,40.414262,601793.04,3.5915,7.7938,10.5908,-0.020518
5282,2015-01-08 09:30:00,507,41.13,41.13,39.93,40.29,40.341856,381251.10,-1.7335,4.9376,6.7096,-0.027563
7870,2015-01-09 09:30:00,507,40.29,41.00,38.74,39.62,39.994928,425780.41,-1.6538,5.5143,7.4932,-0.011338
10458,2015-01-12 09:30:00,507,39.18,40.42,39.00,39.18,39.787481,327995.26,-1.1211,4.2479,5.7723,-0.037844
...,...,...,...,...,...,...,...,...,...,...,...,...
5335999,2021-06-25 09:30:00,507,26.92,27.10,26.69,27.10,26.919259,80077.38,0.6780,0.9642,1.2780,-0.005025
5340355,2021-06-28 09:30:00,507,27.24,27.28,26.92,27.24,27.099004,71561.39,0.5051,0.8617,1.1421,-0.004963
5344714,2021-06-29 09:30:00,507,27.10,27.14,26.69,26.73,26.849460,91801.20,-1.8425,1.1054,1.4651,0.020513
5349076,2021-06-30 09:30:00,507,26.96,28.12,26.96,27.79,27.800625,248370.22,3.9655,2.9906,3.9638,0.013400
5353439,2021-07-01 09:30:00,507,27.52,28.49,27.47,27.89,28.011267,166097.04,0.3317,1.9999,2.6508,-0.033058

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
107,2015-01-06 09:30:00,509,47.17,47.17,47.17,47.17,47.172237,0.00,0.0000,0.0000,0.0000,0.000000
2695,2015-01-07 09:30:00,509,47.17,47.17,47.17,47.17,47.172237,0.00,0.0000,0.0000,0.0000,0.000000
5283,2015-01-08 09:30:00,509,47.17,47.17,47.17,47.17,47.172237,0.00,0.0000,0.0000,0.0000,0.000000
7871,2015-01-09 09:30:00,509,47.17,47.17,47.17,47.17,47.172237,0.00,0.0000,0.0000,0.0000,0.000000
10459,2015-01-12 09:30:00,509,47.17,47.17,47.17,47.17,47.172237,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5336000,2021-06-25 09:30:00,509,30.80,32.36,30.80,30.80,31.386106,203050.00,-3.0675,2.4598,2.4598,-0.009404
5340356,2021-06-28 09:30:00,509,31.09,31.19,29.53,30.80,30.308162,119903.28,0.0000,1.4525,1.4525,0.009494
5344715,2021-06-29 09:30:00,509,30.80,31.77,29.82,31.09,31.010873,94196.34,0.9494,1.1411,1.1411,-0.012539
5349077,2021-06-30 09:30:00,509,31.09,31.97,30.41,30.80,31.051807,71134.00,-0.9404,0.8617,0.8617,-0.015873
5353440,2021-07-01 09:30:00,509,30.70,30.80,29.92,30.02,30.275025,79531.96,-2.5316,0.9635,0.9635,0.016129

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
108,2015-01-06 09:30:00,510,56.93,58.79,56.93,58.28,58.130580,253713.91,2.7372,4.1652,4.4416,0.007130
2696,2015-01-07 09:30:00,510,58.07,58.79,56.52,58.69,57.744485,242177.37,0.7105,3.9758,4.2396,0.007080
5284,2015-01-08 09:30:00,510,58.48,59.21,58.07,59.00,58.716450,187864.07,0.5291,3.0842,3.2888,0.024605
7872,2015-01-09 09:30:00,510,58.90,60.86,58.38,60.45,59.933736,272220.56,2.4561,4.4691,4.7656,-0.022298
10460,2015-01-12 09:30:00,510,60.35,61.49,59.31,59.31,60.418166,211625.67,-1.8836,3.4743,3.7048,-0.022807
...,...,...,...,...,...,...,...,...,...,...,...,...
5336001,2021-06-25 09:30:00,510,49.40,50.24,48.98,49.92,49.701445,151688.00,1.0549,2.6934,3.0411,0.010482
5340357,2021-06-28 09:30:00,510,49.71,50.03,49.40,49.92,49.704571,93476.00,0.0000,1.6598,1.8740,-0.014523
5344716,2021-06-29 09:30:00,510,50.24,50.24,49.19,49.51,49.540943,80086.01,-0.8351,1.4220,1.6056,-0.014737
5349078,2021-06-30 09:30:00,510,49.51,49.51,48.36,48.57,48.828063,91313.25,-1.8947,1.6214,1.8307,0.017094
5353441,2021-07-01 09:30:00,510,48.78,49.82,48.57,49.51,49.225149,114421.01,1.9313,2.0317,2.2940,-0.023109

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
109,2015-01-06 09:30:00,511,136.74,144.19,136.58,142.09,141.023849,661220.38,6.8210,5.7257,6.6340,0.027397
2697,2015-01-07 09:30:00,511,142.25,147.28,137.54,146.15,143.002515,734587.81,2.8571,6.3610,7.3701,0.010000
5285,2015-01-08 09:30:00,511,146.15,150.53,144.20,148.26,148.075415,783540.00,1.4444,6.7849,7.8612,-0.029703
7873,2015-01-09 09:30:00,511,147.61,148.74,144.04,144.52,145.863735,443364.19,-2.5192,3.8392,4.4483,-0.015873
10461,2015-01-12 09:30:00,511,143.22,145.82,142.41,142.41,144.030411,387719.99,-1.4607,3.3574,3.8900,0.002304
...,...,...,...,...,...,...,...,...,...,...,...,...
2602728,2018-07-11 09:30:00,511,12.99,13.32,12.34,12.99,12.804038,583019.38,1.2658,5.0486,5.6901,0.012658
2606257,2018-07-12 09:30:00,511,12.83,12.99,12.50,12.99,12.782928,364110.56,0.0000,3.1530,3.5536,-0.025000
2609786,2018-07-13 09:30:00,511,12.99,13.15,12.50,12.83,12.813781,360783.09,-1.2500,3.1242,3.4483,-0.128205
2613313,2018-07-16 09:30:00,511,12.67,12.83,11.53,11.53,11.925537,631435.26,-10.1266,5.4679,6.0352,-0.058824
2616840,2018-07-17 09:30:00,511,11.04,11.20,10.39,10.39,10.576119,764262.65,-9.8592,6.6181,7.3047,-0.046875

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
110,2015-01-06 09:30:00,513,129.60,130.31,125.85,127.16,127.673023,25591.22,-1.9013,1.4404,2.7148,0.020555
2698,2015-01-07 09:30:00,513,127.56,131.86,126.11,130.91,130.094618,46076.36,2.9485,2.5934,4.8879,0.016918
5286,2015-01-08 09:30:00,513,130.18,132.67,129.81,132.25,131.882497,26705.37,1.0214,1.5031,2.8330,0.006734
7874,2015-01-09 09:30:00,513,132.38,136.31,131.36,133.46,134.317725,21256.85,0.9120,1.1964,2.2550,-0.004525
10462,2015-01-12 09:30:00,513,133.27,134.92,132.41,132.67,133.736186,14043.17,-0.5894,0.7904,1.4897,-0.000198
...,...,...,...,...,...,...,...,...,...,...,...,...
5336002,2021-06-25 09:30:00,513,431.31,431.31,418.20,418.46,422.449461,90716.83,-3.5778,1.5071,2.4942,0.074571
5340358,2021-06-28 09:30:00,513,417.59,450.29,415.78,447.70,438.773693,155938.85,6.9882,2.5907,4.2874,-0.006151
5344717,2021-06-29 09:30:00,513,448.74,451.67,436.31,445.97,444.377277,94453.31,-0.3854,1.5692,2.5969,-0.012766
5349079,2021-06-30 09:30:00,513,445.97,450.89,435.62,438.04,441.583249,73924.44,-1.7795,1.2281,2.0325,-0.014694
5353442,2021-07-01 09:30:00,513,440.28,443.21,426.13,431.48,430.068989,71620.52,-1.4967,1.1899,1.9691,-0.005965

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
111,2015-01-06 09:30:00,514,30.35,30.35,30.35,30.35,30.353688,0.00,0.0000,0.0000,0.0000,0.000000
2699,2015-01-07 09:30:00,514,30.35,30.35,30.35,30.35,30.353688,0.00,0.0000,0.0000,0.0000,0.000000
5287,2015-01-08 09:30:00,514,30.35,30.35,30.35,30.35,30.353688,0.00,0.0000,0.0000,0.0000,0.000000
7875,2015-01-09 09:30:00,514,30.35,30.35,30.35,30.35,30.353688,0.00,0.0000,0.0000,0.0000,0.000000
10463,2015-01-12 09:30:00,514,30.35,30.35,30.35,30.35,30.353688,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5336003,2021-06-25 09:30:00,514,14.88,14.92,14.79,14.88,14.838643,16245.76,0.0000,0.1925,0.5230,0.000000
5340359,2021-06-28 09:30:00,514,14.83,14.92,14.75,14.83,14.821679,21413.00,-0.2924,0.2538,0.6894,0.000000
5344718,2021-06-29 09:30:00,514,14.83,14.88,14.79,14.83,14.826899,14814.96,0.0000,0.1756,0.4769,-0.008798
5349080,2021-06-30 09:30:00,514,14.79,14.83,14.70,14.70,14.749471,15575.00,-0.8798,0.1846,0.5014,0.000000
5353443,2021-07-01 09:30:00,514,14.70,14.88,14.66,14.79,14.768176,16776.48,0.5917,0.1988,0.5401,0.005917

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
112,2015-01-06 09:30:00,516,189.98,193.71,187.80,189.98,190.802219,207616.07,0.0819,2.9473,4.1584,-0.016327
2700,2015-01-07 09:30:00,516,190.44,191.53,183.45,188.42,186.687060,237029.61,-0.8183,3.3649,4.7476,0.004979
5288,2015-01-08 09:30:00,516,187.34,192.00,186.87,190.29,189.667324,170589.13,0.9901,2.4217,3.4168,-0.027250
7876,2015-01-09 09:30:00,516,188.27,190.29,183.76,185.47,185.920617,173986.34,-2.5327,2.4699,3.4848,0.005942
10464,2015-01-12 09:30:00,516,183.14,192.00,183.14,183.76,188.700332,256893.38,-0.9220,3.6468,5.1454,0.054008
...,...,...,...,...,...,...,...,...,...,...,...,...
5336004,2021-06-25 09:30:00,516,836.13,844.90,793.47,797.46,817.543302,383226.65,-4.6711,2.0237,2.7929,0.038981
5340360,2021-06-28 09:30:00,516,797.85,844.51,797.85,820.58,825.912596,484383.29,2.9000,2.5579,3.5301,-0.049543
5344719,2021-06-29 09:30:00,516,828.95,835.33,779.91,791.08,799.165942,532866.26,-3.5957,2.8140,3.8835,-0.068826
5349081,2021-06-30 09:30:00,516,787.89,787.89,720.10,735.25,740.174179,765722.16,-7.0565,4.0436,5.5805,0.014130
5353444,2021-07-01 09:30:00,516,733.66,761.17,714.12,750.01,743.328115,451458.58,2.0065,2.3841,3.2902,-0.000536

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
113,2015-01-06 09:30:00,517,32.04,33.89,31.79,32.54,32.788625,101176.84,1.9789,4.5472,6.5288,-0.011688
2701,2015-01-07 09:30:00,517,32.42,32.42,31.07,32.00,31.497794,65306.40,-1.6818,2.9351,4.2141,-0.014455
5289,2015-01-08 09:30:00,517,32.04,32.04,31.20,31.58,31.565156,34351.76,-1.3158,1.5439,2.2167,-0.026667
7877,2015-01-09 09:30:00,517,31.58,31.58,30.48,30.52,30.846905,43433.33,-3.3333,1.9520,2.8027,0.039726
10465,2015-01-12 09:30:00,517,30.73,33.34,30.73,31.87,32.173522,105971.61,4.4138,4.7627,6.8382,-0.013175
...,...,...,...,...,...,...,...,...,...,...,...,...
5336005,2021-06-25 09:30:00,517,36.04,36.72,35.91,36.59,36.364368,117233.80,1.5038,0.4740,2.1109,0.000000
5340361,2021-06-28 09:30:00,517,36.59,36.86,36.18,36.59,36.536455,67810.00,0.0000,0.2742,1.2210,-0.003704
5344720,2021-06-29 09:30:00,517,36.59,36.72,36.31,36.31,36.480899,63735.00,-0.7407,0.2577,1.1476,-0.014870
5349082,2021-06-30 09:30:00,517,36.45,36.45,36.04,36.04,36.181442,63021.63,-0.7463,0.2548,1.1347,0.000000
5353445,2021-07-01 09:30:00,517,35.91,36.18,35.91,35.91,35.997161,51587.86,-0.3759,0.2086,0.9289,0.000000

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
114,2015-01-06 09:30:00,518,45.99,46.24,45.07,46.16,45.626717,279487.75,0.3643,2.7147,2.8827,0.010909
2702,2015-01-07 09:30:00,518,46.07,47.08,45.32,46.66,46.342108,366921.66,1.0889,3.5640,3.7845,-0.014388
5290,2015-01-08 09:30:00,518,46.58,46.58,45.65,45.99,45.983575,237042.08,-1.4363,2.3024,2.4449,-0.003650
7878,2015-01-09 09:30:00,518,45.91,46.83,45.65,45.99,46.273418,251049.36,0.0000,2.4385,2.5894,-0.007326
10466,2015-01-12 09:30:00,518,45.74,46.32,45.40,45.40,45.814361,210514.73,-1.2750,2.0448,2.1713,-0.040590
...,...,...,...,...,...,...,...,...,...,...,...,...
5336006,2021-06-25 09:30:00,518,30.91,30.99,30.66,30.74,30.771039,51494.47,-0.5420,0.5002,0.8001,0.008174
5340362,2021-06-28 09:30:00,518,30.74,31.08,30.66,31.08,30.820463,47798.36,1.0899,0.4643,0.7426,-0.005405
5344721,2021-06-29 09:30:00,518,30.99,30.99,30.74,30.83,30.854809,44290.04,-0.8086,0.4302,0.6881,0.002717
5349083,2021-06-30 09:30:00,518,30.83,30.99,30.74,30.74,30.861510,42201.00,-0.2717,0.4099,0.6557,-0.002710
5353446,2021-07-01 09:30:00,518,30.91,30.91,30.66,30.83,30.767689,39869.68,0.2725,0.3873,0.6195,0.002717

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
115,2015-01-06 09:30:00,519,74.59,79.30,73.36,78.23,76.652119,83320.16,4.8799,2.5471,2.7197,0.017316
2703,2015-01-07 09:30:00,519,77.62,79.52,76.61,79.13,78.569024,57602.95,1.1453,1.7609,1.8802,-0.012766
5291,2015-01-08 09:30:00,519,78.96,79.07,77.28,77.90,77.960856,30147.56,-1.5570,0.9216,0.9840,0.000000
7879,2015-01-09 09:30:00,519,77.95,79.07,77.45,78.46,78.571824,53283.57,0.7189,1.6289,1.7392,-0.004310
10467,2015-01-12 09:30:00,519,77.95,79.69,77.56,77.62,78.927429,40277.74,-1.0707,1.2313,1.3147,-0.028860
...,...,...,...,...,...,...,...,...,...,...,...,...
5336007,2021-06-25 09:30:00,519,87.23,88.34,84.53,84.93,86.109683,368119.97,-2.5501,2.6455,4.5569,0.014019
5340363,2021-06-28 09:30:00,519,84.93,86.04,84.53,85.72,85.323108,266730.56,0.9346,1.9169,3.3018,0.012903
5344722,2021-06-29 09:30:00,519,86.12,88.02,85.72,87.63,87.080400,412825.21,2.2222,2.9668,5.1103,-0.020928
5349084,2021-06-30 09:30:00,519,87.23,87.63,83.98,85.01,85.250086,370765.11,-2.9891,2.6645,4.5896,0.000929
5353447,2021-07-01 09:30:00,519,85.40,85.40,82.78,85.09,84.133325,357427.65,0.0934,2.5687,4.4245,-0.051068

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
411433,2015-08-19 09:30:00,520,17.34,17.34,17.34,17.34,17.342480,0.00,0.0000,0.0000,0.0000,0.000000
414211,2015-08-20 09:30:00,520,17.34,17.34,17.34,17.34,17.342480,0.00,0.0000,0.0000,0.0000,0.000000
416989,2015-08-21 09:30:00,520,17.34,17.34,17.34,17.34,17.342480,0.00,0.0000,0.0000,0.0000,0.000000
419767,2015-08-24 09:30:00,520,17.34,17.34,17.34,17.34,17.342480,0.00,0.0000,0.0000,0.0000,0.000000
422545,2015-08-25 09:30:00,520,17.34,17.34,17.34,17.34,17.342480,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5336008,2021-06-25 09:30:00,520,22.48,22.48,22.00,22.00,22.234704,59008.78,-1.5337,0.5830,0.8443,0.000000
5340364,2021-06-28 09:30:00,520,22.00,22.14,22.00,22.00,22.076360,33387.61,0.0000,0.3299,0.4777,-0.012461
5344723,2021-06-29 09:30:00,520,22.00,22.07,21.73,21.80,21.848097,37455.89,-0.9346,0.3701,0.5360,-0.006309
5349085,2021-06-30 09:30:00,520,21.73,21.80,21.59,21.59,21.687696,28385.88,-0.9434,0.2805,0.4062,0.031746
5353448,2021-07-01 09:30:00,520,21.59,23.03,21.52,22.41,22.426636,110351.05,3.8095,1.0903,1.5790,-0.015385

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
116,2015-01-06 09:30:00,521,31.57,33.31,31.57,32.88,32.552342,305744.64,4.3011,5.1726,8.0793,0.002985
2704,2015-01-07 09:30:00,521,32.44,33.31,32.10,32.68,32.669036,227544.20,-0.5891,3.8496,6.0129,-0.026786
5292,2015-01-08 09:30:00,521,32.54,32.68,31.28,31.72,31.773251,278259.98,-2.9630,4.7077,7.3530,-0.006116
7880,2015-01-09 09:30:00,521,31.67,31.86,31.18,31.38,31.471105,111414.91,-1.0687,1.8849,2.9442,-0.012308
10468,2015-01-12 09:30:00,521,31.47,31.81,31.18,31.23,31.562621,124157.86,-0.4630,2.1005,3.2809,-0.021807
...,...,...,...,...,...,...,...,...,...,...,...,...
5336009,2021-06-25 09:30:00,521,18.56,18.67,18.46,18.62,18.568621,102028.05,-0.2833,1.1693,1.6349,-0.002841
5340365,2021-06-28 09:30:00,521,18.62,18.62,18.41,18.56,18.491402,118063.44,-0.2841,1.3531,1.8918,-0.011396
5344724,2021-06-29 09:30:00,521,18.56,18.56,18.25,18.35,18.359177,146330.13,-1.1396,1.6771,2.3448,-0.023055
5349086,2021-06-30 09:30:00,521,18.35,18.35,17.93,17.98,18.072513,140793.82,-2.0173,1.6136,2.2561,0.005900
5353449,2021-07-01 09:30:00,521,17.93,18.09,17.82,17.98,17.929710,103918.00,0.0000,1.1910,1.6652,-0.014663

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
117,2015-01-06 09:30:00,523,53.56,54.49,50.60,53.40,52.329899,282051.76,-2.3092,6.3391,9.7885,0.022105
2705,2015-01-07 09:30:00,523,52.14,54.33,51.26,53.95,52.737650,215210.14,1.0277,4.8369,7.4688,-0.015448
5293,2015-01-08 09:30:00,523,53.29,53.56,52.14,52.46,52.654783,132064.04,-2.7467,2.9681,4.5832,-0.023013
7881,2015-01-09 09:30:00,523,52.46,52.46,50.98,51.20,51.517141,116598.83,-2.4059,2.6206,4.0465,-0.004283
10469,2015-01-12 09:30:00,523,51.26,52.14,50.87,51.20,51.568178,85893.33,0.0000,1.9305,2.9809,-0.026882
...,...,...,...,...,...,...,...,...,...,...,...,...
5336010,2021-06-25 09:30:00,523,23.00,24.34,22.94,24.34,23.994931,124458.67,4.8991,1.9844,3.6270,-0.021739
5340366,2021-06-28 09:30:00,523,24.61,25.41,24.14,24.47,24.726468,128819.86,0.5495,2.0539,3.7541,-0.016667
5344725,2021-06-29 09:30:00,523,24.07,24.41,23.47,23.74,23.803020,71875.00,-3.0055,1.1460,2.0946,-0.022599
5349087,2021-06-30 09:30:00,523,23.67,23.67,22.80,22.87,23.167773,63590.01,-3.6620,1.0139,1.8532,-0.008671
5353450,2021-07-01 09:30:00,523,23.14,23.94,22.87,22.87,23.344305,63148.31,0.0000,1.0069,1.8403,-0.046647

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
118,2015-01-06 09:30:00,524,56.54,58.50,56.13,57.54,57.144097,21870.73,1.7713,0.8110,1.6739,-0.027888
2706,2015-01-07 09:30:00,524,57.13,57.13,53.63,55.68,55.064474,45952.22,-3.2437,1.7040,3.5170,-0.004098
5294,2015-01-08 09:30:00,524,55.54,56.22,54.27,55.54,55.406374,22025.64,-0.2453,0.8168,1.6858,0.021399
7882,2015-01-09 09:30:00,524,55.31,57.27,55.22,56.45,56.571381,31092.10,1.6393,1.1530,2.3797,-0.044319
10470,2015-01-12 09:30:00,524,56.50,57.59,53.72,54.77,56.447551,27829.83,-2.9839,1.0320,2.1300,-0.021922
...,...,...,...,...,...,...,...,...,...,...,...,...
5336011,2021-06-25 09:30:00,524,37.00,37.35,36.46,36.46,36.765580,19903.54,-1.8568,0.2970,1.1395,0.006775
5340367,2021-06-28 09:30:00,524,36.36,36.71,36.11,36.61,36.360090,15835.56,0.4054,0.2363,0.9066,-0.008075
5344726,2021-06-29 09:30:00,524,36.66,36.71,35.97,36.31,36.189617,15123.69,-0.8075,0.2257,0.8658,0.033921
5349088,2021-06-30 09:30:00,524,36.31,38.33,36.26,37.74,37.322821,52000.60,3.9349,0.7760,2.9771,0.006562
5353451,2021-07-01 09:30:00,524,37.54,37.54,36.76,37.30,37.067604,25227.04,-1.1749,0.3764,1.4443,-0.026076

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
119,2015-01-06 09:30:00,525,106.72,112.20,106.45,110.30,110.001247,93638.73,2.7095,1.8470,4.6801,0.024570
2707,2015-01-07 09:30:00,525,110.17,112.94,109.29,112.81,111.519117,121164.44,2.2699,2.3899,6.0558,-0.013789
5295,2015-01-08 09:30:00,525,112.88,112.88,110.24,111.66,111.414226,61717.18,-1.0198,1.2173,3.0846,0.009726
7883,2015-01-09 09:30:00,525,111.32,115.24,110.85,112.40,113.281957,114459.25,0.6667,2.2577,5.7207,-0.013847
10471,2015-01-12 09:30:00,525,112.40,115.58,111.59,112.13,114.093337,141859.58,-0.2408,2.7981,7.0901,0.006105
...,...,...,...,...,...,...,...,...,...,...,...,...
5336012,2021-06-25 09:30:00,525,29.95,30.85,29.87,30.40,30.408695,184915.20,0.4975,3.2186,5.2274,0.027363
5340368,2021-06-28 09:30:00,525,30.25,31.68,30.25,30.92,30.977504,186000.88,1.7327,3.2375,5.2581,-0.033898
5344727,2021-06-29 09:30:00,525,31.07,31.15,29.72,29.95,30.398162,172313.44,-3.1630,2.9993,4.8711,-0.030075
5349089,2021-06-30 09:30:00,525,30.02,30.17,29.04,29.19,29.497548,130060.54,-2.5126,2.2638,3.6767,0.000000
5353452,2021-07-01 09:30:00,525,29.12,29.57,28.74,29.34,29.201105,89604.15,0.5155,1.5596,2.5330,-0.028424

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
120,2015-01-06 09:30:00,526,47.36,49.91,47.36,48.87,48.868232,12828.91,3.3438,1.3336,2.1795,0.043434
2708,2015-01-07 09:30:00,526,48.35,50.85,48.35,50.45,50.218463,16903.59,3.2356,1.7572,2.8718,0.016650
5296,2015-01-08 09:30:00,526,49.81,51.79,49.44,51.29,50.945834,16782.97,1.6650,1.7447,2.8513,-0.005299
7884,2015-01-09 09:30:00,526,51.27,51.76,50.77,51.02,51.183020,6488.58,-0.5299,0.6745,1.1023,-0.013559
10472,2015-01-12 09:30:00,526,51.04,51.59,50.62,50.65,51.102722,9164.73,-0.7264,0.9527,1.5570,-0.032892
...,...,...,...,...,...,...,...,...,...,...,...,...
5336013,2021-06-25 09:30:00,526,73.90,74.19,72.19,72.22,72.860095,18492.01,-2.0771,1.9223,3.6178,0.003735
5340369,2021-06-28 09:30:00,526,72.76,73.85,72.02,72.89,72.753114,14095.00,0.9237,1.4653,2.7576,0.006428
5344728,2021-06-29 09:30:00,526,73.03,73.87,72.19,73.50,72.911979,12662.50,0.8475,1.3163,2.4773,-0.040336
5349090,2021-06-30 09:30:00,526,73.50,73.50,70.66,70.79,71.497263,20087.00,-3.6975,2.0882,3.9299,-0.075306
5353453,2021-07-01 09:30:00,526,70.54,70.56,64.73,65.45,66.323890,45669.94,-7.5393,4.7476,8.9350,0.012879

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
121,2015-01-06 09:30:00,528,103.41,107.83,97.85,104.72,103.333093,788124.29,1.7488,7.0050,10.7737,-0.023126
2709,2015-01-07 09:30:00,528,102.59,102.59,98.17,99.73,99.975593,631178.93,-4.7656,5.6100,8.6283,0.004082
5297,2015-01-08 09:30:00,528,100.22,102.02,98.17,100.38,99.939597,457182.43,0.6563,4.0635,6.2497,-0.062602
7885,2015-01-09 09:30:00,528,100.63,100.87,94.33,94.82,96.459382,547836.46,-5.5420,4.8693,7.4890,-0.011275
10473,2015-01-12 09:30:00,528,94.33,99.15,92.85,95.15,95.870347,579698.00,0.3451,5.1525,7.9245,-0.012281
...,...,...,...,...,...,...,...,...,...,...,...,...
5336014,2021-06-25 09:30:00,528,97.61,99.07,97.13,98.34,98.127496,111993.33,0.1235,0.7636,1.1726,0.022195
5340370,2021-06-28 09:30:00,528,98.34,100.40,97.98,100.28,99.725687,175729.57,1.9729,1.1981,1.8399,-0.007238
5344729,2021-06-29 09:30:00,528,100.52,100.52,99.19,99.55,99.652932,124224.28,-0.7255,0.8470,1.3007,-0.003645
5349091,2021-06-30 09:30:00,528,99.80,100.16,97.73,98.22,98.431855,114392.59,-1.3398,0.7799,1.1977,0.002439
5353454,2021-07-01 09:30:00,528,99.43,99.92,98.22,99.43,99.315832,141791.41,1.2346,0.9667,1.4846,-0.029197

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
122,2015-01-06 09:30:00,529,27.41,28.35,27.41,27.77,27.902482,81061.15,1.3289,1.4292,3.1592,-0.003279
2710,2015-01-07 09:30:00,529,27.77,27.80,27.20,27.68,27.490571,60473.20,-0.3279,1.0662,2.3568,0.006579
5298,2015-01-08 09:30:00,529,27.68,28.11,27.41,27.77,27.699410,41661.98,0.3289,0.7345,1.6237,0.002179
7886,2015-01-09 09:30:00,529,27.87,28.47,27.56,28.20,28.107982,77285.51,1.5301,1.3626,3.0120,-0.013043
10474,2015-01-12 09:30:00,529,27.93,28.29,27.56,27.56,27.917356,48494.22,-2.2605,0.8550,1.8900,-0.009912
...,...,...,...,...,...,...,...,...,...,...,...,...
5336015,2021-06-25 09:30:00,529,17.37,17.37,17.18,17.28,17.290745,12171.00,-0.3650,0.2136,0.4802,0.001825
5340371,2021-06-28 09:30:00,529,17.34,17.37,17.21,17.31,17.280619,13123.18,0.1832,0.2303,0.5178,0.020036
5344730,2021-06-29 09:30:00,529,17.37,17.97,17.37,17.72,17.724255,44625.24,2.3766,0.7831,1.7608,-0.017857
5349092,2021-06-30 09:30:00,529,17.72,17.72,17.50,17.53,17.576165,21627.41,-1.0714,0.3795,0.8534,0.010909
5353455,2021-07-01 09:30:00,529,17.40,17.63,17.40,17.53,17.518259,15614.40,0.0000,0.2740,0.6161,-0.021583

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
123,2015-01-06 09:30:00,530,50.48,51.45,49.19,51.05,50.272707,73072.43,0.1738,3.3862,4.6204,0.053509
2711,2015-01-07 09:30:00,530,50.48,53.84,50.12,53.26,52.569343,139431.29,4.3365,6.4613,8.8163,-0.009159
5299,2015-01-08 09:30:00,530,53.18,53.75,51.94,52.69,52.686233,71082.68,-1.0806,3.2940,4.4946,0.005042
7887,2015-01-09 09:30:00,530,52.69,54.55,51.45,53.31,53.326918,120616.12,1.1765,5.5894,7.6266,-0.000836
10475,2015-01-12 09:30:00,530,52.95,55.70,52.82,53.93,54.357680,154466.64,1.1628,7.1581,9.7670,-0.034310
...,...,...,...,...,...,...,...,...,...,...,...,...
5336016,2021-06-25 09:30:00,530,38.72,39.61,38.52,38.72,38.945726,72994.13,-0.7576,1.2193,1.7065,-0.012658
5340372,2021-06-28 09:30:00,530,38.92,39.02,38.13,38.33,38.431428,74210.63,-1.0178,1.2396,1.7350,-0.010256
5344731,2021-06-29 09:30:00,530,38.42,38.42,37.93,38.23,38.147678,61887.34,-0.2571,1.0338,1.4469,0.005181
5349093,2021-06-30 09:30:00,530,38.03,38.33,37.93,38.23,38.071814,51334.70,0.0000,0.8575,1.2001,-0.002577
5353456,2021-07-01 09:30:00,530,38.23,38.42,37.83,38.23,38.116150,52939.15,0.0000,0.8843,1.2377,-0.028424

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
124,2015-01-06 09:30:00,531,147.90,149.00,144.03,146.90,147.027626,93922.07,-0.6716,1.3710,3.3336,0.000758
2712,2015-01-07 09:30:00,531,145.69,146.46,143.59,145.47,144.900805,66052.84,-0.9767,0.9642,2.3444,0.005299
5300,2015-01-08 09:30:00,531,145.80,149.55,145.25,147.34,147.838842,77745.11,1.2898,1.1348,2.7594,-0.035392
7888,2015-01-09 09:30:00,531,146.57,146.90,142.27,142.60,143.786074,63162.31,-3.2210,0.9220,2.2418,-0.006245
10476,2015-01-12 09:30:00,531,141.38,143.26,139.95,140.39,141.678016,61526.54,-1.5480,0.8981,2.1838,-0.037706
...,...,...,...,...,...,...,...,...,...,...,...,...
5336017,2021-06-25 09:30:00,531,104.04,104.29,102.63,103.65,103.594730,29944.38,-0.1229,0.4371,1.0391,0.020910
5340373,2021-06-28 09:30:00,531,103.65,104.29,103.14,103.65,103.543732,30146.00,0.0000,0.4400,1.0461,-0.019277
5344732,2021-06-29 09:30:00,531,105.82,106.20,103.91,104.29,104.738360,47024.94,0.6150,0.6864,1.6319,-0.004914
5349094,2021-06-30 09:30:00,531,103.78,103.78,103.14,103.27,103.407313,26031.00,-0.9780,0.3800,0.9033,-0.004938
5353457,2021-07-01 09:30:00,531,103.27,103.91,102.51,102.76,102.889683,26093.58,-0.4938,0.3809,0.9055,-0.017370

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
125,2015-01-06 09:30:00,532,62.65,62.65,60.08,62.43,61.163976,75824.48,-0.3472,2.2119,2.9801,0.047585
2713,2015-01-07 09:30:00,532,61.26,64.95,61.04,64.43,63.232663,71909.38,3.2056,2.0977,2.8263,0.003390
5301,2015-01-08 09:30:00,532,64.17,66.13,63.30,65.08,64.824965,63437.21,1.0128,1.8506,2.4933,-0.008784
7889,2015-01-09 09:30:00,532,64.39,64.91,63.13,63.69,63.880895,45949.03,-2.1390,1.3404,1.8059,-0.018405
10477,2015-01-12 09:30:00,532,63.82,64.34,63.30,63.78,63.863928,32336.90,0.1366,0.9433,1.2709,0.024306
...,...,...,...,...,...,...,...,...,...,...,...,...
5336018,2021-06-25 09:30:00,532,57.06,59.94,56.83,58.97,58.669370,120266.02,2.1538,3.5007,6.9113,0.067784
5340374,2021-06-28 09:30:00,532,58.30,64.83,57.86,62.07,62.017287,236320.99,5.2711,6.8788,13.5806,-0.025678
5344733,2021-06-29 09:30:00,532,62.25,62.92,60.21,61.19,61.248243,163094.00,-1.4306,4.7473,9.3725,-0.016105
5349095,2021-06-30 09:30:00,532,60.65,63.18,59.19,59.19,60.946753,137616.61,-3.2656,4.0057,7.9084,0.116071
5353458,2021-07-01 09:30:00,532,59.68,65.09,59.23,65.09,63.768062,134436.17,9.9775,3.9132,7.7256,-0.056667

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
126,2015-01-06 09:30:00,533,13.32,13.32,13.32,13.32,13.323882,0.00,0.0000,0.0000,0.0000,0.000000
2714,2015-01-07 09:30:00,533,13.32,13.32,13.32,13.32,13.323882,0.00,0.0000,0.0000,0.0000,-0.100503
5302,2015-01-08 09:30:00,533,13.32,13.32,13.32,13.32,13.323882,0.00,0.0000,0.0000,0.0000,-0.022346
7890,2015-01-09 09:30:00,533,11.98,12.92,11.98,12.01,12.153523,831391.03,-9.8827,12.1393,20.1208,0.000000
10478,2015-01-12 09:30:00,533,11.72,12.10,11.65,11.81,11.858478,372759.96,-1.6729,5.4427,9.0213,-0.020952
...,...,...,...,...,...,...,...,...,...,...,...,...
5336019,2021-06-25 09:30:00,533,6.57,6.66,6.50,6.64,6.607476,73764.09,1.0309,1.0770,1.7667,0.000000
5340375,2021-06-28 09:30:00,533,6.64,6.66,6.55,6.64,6.601155,62658.06,0.0000,0.9148,1.5007,0.000000
5344734,2021-06-29 09:30:00,533,6.64,6.71,6.57,6.64,6.629375,51145.50,0.0000,0.7468,1.2250,-0.010204
5349096,2021-06-30 09:30:00,533,6.64,6.64,6.55,6.57,6.575869,35631.00,-1.0204,0.5202,0.8534,0.000000
5353459,2021-07-01 09:30:00,533,6.57,6.61,6.52,6.55,6.550583,34757.50,-0.3436,0.5075,0.8325,-0.027491

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
127,2015-01-06 09:30:00,534,30.05,31.97,30.05,31.44,31.415818,58746.31,4.7490,2.7719,2.7754,0.015584
2715,2015-01-07 09:30:00,534,31.36,32.21,30.58,31.80,31.437401,40041.96,1.1658,1.8893,1.8918,-0.003836
5303,2015-01-08 09:30:00,534,31.85,32.17,31.15,31.60,31.596219,30206.74,-0.6402,1.4253,1.4271,-0.029525
7891,2015-01-09 09:30:00,534,31.72,31.76,30.79,30.99,31.108363,20036.39,-1.9330,0.9454,0.9466,-0.003968
10479,2015-01-12 09:30:00,534,30.79,31.27,30.54,30.66,30.975608,27527.31,-1.0512,1.2988,1.3005,-0.037185
...,...,...,...,...,...,...,...,...,...,...,...,...
5336020,2021-06-25 09:30:00,534,58.87,58.87,57.07,57.45,57.576295,40268.07,-1.9929,0.8193,1.7040,-0.020999
5340376,2021-06-28 09:30:00,534,57.61,57.61,56.07,56.32,56.640540,39378.00,-1.9608,0.8012,1.6664,-0.002959
5344735,2021-06-29 09:30:00,534,56.40,57.07,55.40,55.90,56.274247,35525.08,-0.7407,0.7228,1.5033,-0.017062
5349097,2021-06-30 09:30:00,534,56.24,56.32,55.07,55.36,55.686011,26380.00,-0.9701,0.5367,1.1163,-0.015849
5353460,2021-07-01 09:30:00,534,55.28,55.61,54.23,54.36,54.622595,37170.13,-1.8086,0.7562,1.5730,0.014571

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
128,2015-01-06 09:30:00,536,32.96,34.19,32.74,33.93,33.462287,96869.14,-0.8866,3.8666,3.8666,0.015335
2716,2015-01-07 09:30:00,536,33.93,34.67,33.52,34.50,34.315968,96116.42,1.6613,3.8366,3.8366,-0.000629
5304,2015-01-08 09:30:00,536,34.46,35.13,34.19,34.43,34.596337,83165.33,-0.1886,3.3196,3.3196,0.010705
7892,2015-01-09 09:30:00,536,34.43,35.04,33.83,34.59,34.545814,86336.11,0.4408,3.4462,3.4462,-0.015576
10480,2015-01-12 09:30:00,536,34.80,35.28,34.28,34.39,34.890366,107933.15,-0.5643,4.3082,4.3082,-0.025316
...,...,...,...,...,...,...,...,...,...,...,...,...
5336021,2021-06-25 09:30:00,536,10.32,10.43,10.17,10.29,10.293117,128851.15,-0.3559,0.4663,0.8127,-0.003584
5340377,2021-06-28 09:30:00,536,10.25,10.62,10.14,10.21,10.341971,354135.44,-0.7143,1.2817,2.2335,-0.021583
5344736,2021-06-29 09:30:00,536,10.21,10.29,9.92,9.95,10.008442,216625.71,-2.5180,0.7840,1.3662,-0.014706
5349098,2021-06-30 09:30:00,536,9.99,9.99,9.81,9.81,9.842044,97608.80,-1.4760,0.3533,0.6156,0.000000
5353461,2021-07-01 09:30:00,536,9.84,9.84,9.77,9.77,9.799802,79832.40,-0.3745,0.2889,0.5035,0.003731

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
129,2015-01-06 09:30:00,537,50.79,54.59,50.04,51.71,52.173405,700292.93,3.8150,13.6586,17.2511,-0.012387
2717,2015-01-07 09:30:00,537,51.14,51.71,49.81,51.02,50.688824,324477.75,-1.3363,6.3286,7.9932,0.035348
5305,2015-01-08 09:30:00,537,50.50,53.09,49.81,52.35,51.955152,298329.20,2.5959,5.8186,7.3491,-0.041850
7893,2015-01-09 09:30:00,537,52.29,52.29,50.27,50.50,51.061985,175923.55,-3.5204,3.4312,4.3337,-0.028736
10481,2015-01-12 09:30:00,537,50.10,51.60,49.29,49.47,50.516640,196988.23,-2.0525,3.8421,4.8526,-0.031953
...,...,...,...,...,...,...,...,...,...,...,...,...
5336022,2021-06-25 09:30:00,537,32.88,33.07,32.76,32.95,32.877837,26029.60,0.1887,0.1503,0.5854,0.007547
5340378,2021-06-28 09:30:00,537,32.88,33.19,32.76,33.19,33.032327,46316.72,0.7533,0.2675,1.0417,-0.007491
5344737,2021-06-29 09:30:00,537,33.13,33.13,32.76,32.82,32.937399,25416.96,-1.1215,0.1468,0.5717,-0.011321
5349099,2021-06-30 09:30:00,537,32.88,32.88,32.26,32.45,32.570098,39891.01,-1.1342,0.2304,0.8972,-0.001908
5353462,2021-07-01 09:30:00,537,32.51,32.64,32.33,32.45,32.464622,24898.00,0.0000,0.1438,0.5600,0.009560

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
130,2015-01-06 09:30:00,538,1042.85,1089.57,1033.28,1072.24,1063.688752,198489.54,2.8504,1.9061,5.1811,0.031587
2718,2015-01-07 09:30:00,538,1071.41,1163.04,1056.56,1109.88,1112.004773,232618.20,3.5104,2.2338,6.0720,-0.005527
5306,2015-01-08 09:30:00,538,1105.26,1109.38,1083.47,1101.13,1094.469228,113365.45,-0.7883,1.0886,2.9591,0.001802
7894,2015-01-09 09:30:00,538,1099.15,1148.84,1095.68,1101.13,1114.499238,115356.32,0.0000,1.1077,3.0111,-0.028486
10482,2015-01-12 09:30:00,538,1101.13,1112.19,1069.76,1069.76,1086.266054,132380.17,-2.8486,1.2712,3.4555,0.004630
...,...,...,...,...,...,...,...,...,...,...,...,...
5336023,2021-06-25 09:30:00,538,2069.57,2074.65,2019.73,2033.27,2032.991756,56484.89,-2.1542,0.9380,1.2215,0.022509
5340379,2021-06-28 09:30:00,538,2038.91,2089.70,2012.58,2085.93,2068.272063,71637.78,2.5902,1.1897,1.5492,0.046554
5344738,2021-06-29 09:30:00,538,2084.81,2193.15,2081.42,2166.81,2150.753913,119358.82,3.8774,1.9822,2.5813,-0.013621
5349100,2021-06-30 09:30:00,538,2181.86,2233.96,2148.19,2150.07,2180.713114,99726.07,-0.7726,1.6561,2.1567,0.023859
5353463,2021-07-01 09:30:00,538,2152.14,2200.67,2125.62,2176.59,2170.911670,85908.66,1.2335,1.4267,1.8579,0.023047

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
131,2015-01-06 09:30:00,539,103.99,107.15,103.20,107.01,105.834823,421125.16,3.8265,1.9793,6.2060,0.000000
2719,2015-01-07 09:30:00,539,106.09,107.93,104.65,106.09,105.909759,320919.02,-0.8600,1.5083,4.7293,0.004957
5307,2015-01-08 09:30:00,539,106.09,107.01,104.25,106.49,105.924220,273110.59,0.3717,1.2836,4.0247,-0.053021
7895,2015-01-09 09:30:00,539,106.62,106.62,101.36,101.62,103.360615,239310.07,-4.5679,1.1247,3.5266,-0.023437
10483,2015-01-12 09:30:00,539,100.97,103.20,98.86,99.39,100.799639,220415.34,-2.1992,1.0359,3.2482,-0.036000
...,...,...,...,...,...,...,...,...,...,...,...,...
5336024,2021-06-25 09:30:00,539,69.76,70.33,69.39,69.76,69.881145,62486.13,0.0000,0.2447,0.7668,0.000000
5340380,2021-06-28 09:30:00,539,69.95,70.33,68.83,69.20,69.297911,83346.00,-0.8065,0.3263,1.0228,0.008043
5344739,2021-06-29 09:30:00,539,69.95,70.70,69.76,70.51,70.398741,218673.38,1.8970,0.8562,2.6835,0.002660
5349101,2021-06-30 09:30:00,539,70.51,71.83,70.33,70.70,71.051363,144738.28,0.2660,0.5667,1.7762,-0.002653
5353464,2021-07-01 09:30:00,539,70.70,70.89,69.58,70.51,70.158696,75002.89,-0.2653,0.2937,0.9204,-0.013298

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
132,2015-01-06 09:30:00,540,239.35,250.08,236.37,238.16,242.201807,935847.43,1.7827,7.3002,14.0972,-0.004259
2720,2015-01-07 09:30:00,540,233.19,242.33,229.62,233.39,234.508794,468525.69,-2.0017,3.6548,7.0577,0.016253
5308,2015-01-08 09:30:00,540,232.20,236.77,228.43,235.97,233.241522,322476.51,1.1064,2.5155,4.8576,-0.040404
7896,2015-01-09 09:30:00,540,235.97,236.37,226.44,226.64,229.646285,279607.60,-3.9562,2.1811,4.2119,-0.023684
10484,2015-01-12 09:30:00,540,226.44,232.00,224.26,224.45,228.369082,324403.43,-0.9641,2.5305,4.8867,-0.044924
...,...,...,...,...,...,...,...,...,...,...,...,...
5336025,2021-06-25 09:30:00,540,224.08,226.51,222.46,224.08,224.119282,170589.05,-0.3597,0.2447,0.4568,0.021661
5340381,2021-06-28 09:30:00,540,224.08,232.17,222.46,228.93,227.767641,438192.99,2.1661,0.6286,1.1734,-0.024735
5344740,2021-06-29 09:30:00,540,228.93,228.93,223.27,224.08,225.227542,270989.24,-2.1201,0.3888,0.7256,-0.007246
5349102,2021-06-30 09:30:00,540,223.27,224.89,220.84,221.65,222.517563,162768.00,-1.0830,0.2335,0.4358,0.000000
5353465,2021-07-01 09:30:00,540,221.65,223.27,219.23,220.84,220.754054,201370.81,-0.3650,0.2889,0.5392,-0.007299

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
133,2015-01-06 09:30:00,541,182.68,187.15,182.32,186.44,185.591268,123614.88,2.0568,1.6483,2.3985,0.026923
2721,2015-01-07 09:30:00,541,186.08,192.16,183.57,191.27,189.237680,192014.50,2.5912,2.5604,3.7257,-0.011236
5309,2015-01-08 09:30:00,541,191.09,193.23,188.22,190.01,190.661892,130023.24,-0.6548,1.7338,2.5228,-0.003788
7897,2015-01-09 09:30:00,541,188.94,190.73,186.61,188.76,188.185624,108003.52,-0.6591,1.4401,2.0956,0.003802
10485,2015-01-12 09:30:00,541,188.22,192.88,187.15,188.58,190.259319,126600.91,-0.0948,1.6881,2.4564,-0.032197
...,...,...,...,...,...,...,...,...,...,...,...,...
5336026,2021-06-25 09:30:00,541,175.44,185.90,174.54,180.22,179.951002,90263.17,2.3769,0.8412,1.6616,0.006678
5340382,2021-06-28 09:30:00,541,179.02,180.52,177.23,179.32,178.770476,35405.62,-0.4975,0.3300,0.6518,-0.004975
5344741,2021-06-29 09:30:00,541,180.22,182.31,177.83,178.72,179.741795,44495.31,-0.3333,0.4147,0.8191,-0.008333
5349103,2021-06-30 09:30:00,541,179.32,180.22,176.63,177.23,177.679610,25248.50,-0.8361,0.2353,0.4648,-0.008403
5353466,2021-07-01 09:30:00,541,177.83,178.42,176.33,176.93,176.947385,22997.78,-0.1686,0.2143,0.4234,-0.010169

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
134,2015-01-06 09:30:00,543,31.69,33.02,31.42,32.55,32.137207,364051.65,3.2710,3.5512,6.6080,0.000000
2722,2015-01-07 09:30:00,543,32.28,32.28,30.71,31.79,31.671056,340307.76,-2.3379,3.3196,6.1771,0.017490
5310,2015-01-08 09:30:00,543,32.28,32.97,31.20,31.86,32.078540,261222.57,0.2317,2.5481,4.7416,-0.065770
7898,2015-01-09 09:30:00,543,32.84,32.84,30.68,30.86,31.275355,210091.75,-3.1587,2.0494,3.8135,-0.017600
10486,2015-01-12 09:30:00,543,30.68,31.57,30.00,30.02,30.886772,226624.63,-2.7049,2.2106,4.1136,-0.034202
...,...,...,...,...,...,...,...,...,...,...,...,...
5336027,2021-06-25 09:30:00,543,17.86,18.00,17.77,17.91,17.890129,133880.58,0.5291,0.7478,1.3377,0.007895
5340383,2021-06-28 09:30:00,543,17.91,17.95,17.81,17.91,17.877877,117508.96,0.0000,0.6563,1.1741,0.010444
5344742,2021-06-29 09:30:00,543,18.05,18.52,18.05,18.33,18.273237,486608.89,2.3684,2.7179,4.8620,-0.015504
5349104,2021-06-30 09:30:00,543,18.24,18.28,17.91,17.95,18.051760,263531.74,-2.0566,1.4719,2.6331,-0.005249
5353467,2021-07-01 09:30:00,543,17.95,18.00,17.77,17.86,17.847248,187209.61,-0.5249,1.0456,1.8705,-0.007916

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
135,2015-01-06 09:30:00,544,25.67,25.67,25.67,25.67,25.671576,0.00,0.0000,0.0000,0.0000,0.000000
2723,2015-01-07 09:30:00,544,25.67,25.67,25.67,25.67,25.671576,0.00,0.0000,0.0000,0.0000,0.000000
5311,2015-01-08 09:30:00,544,25.67,25.67,25.67,25.67,25.671576,0.00,0.0000,0.0000,0.0000,0.000000
7899,2015-01-09 09:30:00,544,25.67,25.67,25.67,25.67,25.671576,0.00,0.0000,0.0000,0.0000,0.000000
10487,2015-01-12 09:30:00,544,25.67,25.67,25.67,25.67,25.671576,0.00,0.0000,0.0000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5336028,2021-06-25 09:30:00,544,22.72,22.76,22.36,22.65,22.572869,31504.88,0.3231,0.3232,1.0335,-0.004823
5340384,2021-06-28 09:30:00,544,22.69,22.69,22.40,22.61,22.536394,24811.46,-0.1610,0.2546,0.8139,0.000000
5344743,2021-06-29 09:30:00,544,22.58,22.72,22.47,22.65,22.597308,23938.00,0.1613,0.2456,0.7853,-0.004847
5349105,2021-06-30 09:30:00,544,22.58,22.65,22.36,22.40,22.462713,16884.20,-1.1272,0.1732,0.5539,-0.011364
5353468,2021-07-01 09:30:00,544,22.47,22.47,22.10,22.21,22.233282,20659.25,-0.8143,0.2120,0.6777,-0.004926

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
136,2015-01-06 09:30:00,545,21.85,22.14,20.98,21.81,21.646215,35160.53,-0.1463,2.2485,2.2485,0.001481
2724,2015-01-07 09:30:00,545,21.57,22.13,21.23,21.85,21.795585,35574.89,0.2198,2.2750,2.2750,0.000000
5312,2015-01-08 09:30:00,545,21.60,21.97,21.41,21.60,21.682639,23170.47,-1.1696,1.4817,1.4817,-0.001479
7900,2015-01-09 09:30:00,545,21.60,21.85,21.25,21.57,21.513938,27479.01,-0.1479,1.7573,1.7573,0.002222
10488,2015-01-12 09:30:00,545,21.57,22.05,21.28,21.87,21.639505,30301.52,1.4074,1.9378,1.9378,0.011086
...,...,...,...,...,...,...,...,...,...,...,...,...
5336029,2021-06-25 09:30:00,545,16.36,16.45,16.10,16.23,16.221320,399844.76,-2.0672,4.1676,6.1771,0.034301
5340385,2021-06-28 09:30:00,545,16.23,16.92,16.15,16.75,16.708319,574219.90,3.1662,5.9852,8.8710,-0.015306
5344744,2021-06-29 09:30:00,545,16.79,16.83,16.36,16.66,16.539561,413428.90,-0.5115,4.3092,6.3870,-0.031088
5349106,2021-06-30 09:30:00,545,16.53,16.62,15.98,16.02,16.239738,311987.00,-3.8560,3.2519,4.8198,0.008021
5353469,2021-07-01 09:30:00,545,16.02,16.36,15.72,16.23,16.052134,384218.81,1.3369,4.0048,5.9357,-0.042440

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
137,2015-01-06 09:30:00,546,13.17,13.46,13.15,13.41,13.283655,20469.78,2.3591,1.3998,1.3998,0.003769
2725,2015-01-07 09:30:00,546,13.67,14.04,13.56,13.72,13.790312,27077.17,2.3047,1.8516,1.8516,-0.011264
5313,2015-01-08 09:30:00,546,13.72,13.89,13.46,13.56,13.608664,15666.59,-1.1264,1.0713,1.0713,-0.001266
7901,2015-01-09 09:30:00,546,13.56,13.72,13.49,13.55,13.570206,12756.00,-0.1266,0.8723,0.8723,-0.017744
10489,2015-01-12 09:30:00,546,13.55,13.63,13.39,13.43,13.527970,12903.75,-0.8872,0.8824,0.8824,-0.034839
...,...,...,...,...,...,...,...,...,...,...,...,...
5336030,2021-06-25 09:30:00,546,12.21,12.50,12.19,12.21,12.308800,43113.57,0.0000,0.6262,1.0245,0.002976
5340386,2021-06-28 09:30:00,546,12.28,12.28,12.16,12.27,12.215940,23651.12,0.4491,0.3435,0.5620,-0.008902
5344745,2021-06-29 09:30:00,546,12.32,12.34,12.17,12.21,12.236596,22673.59,-0.4471,0.3293,0.5388,-0.007485
5349107,2021-06-30 09:30:00,546,12.21,12.25,12.08,12.10,12.125823,30415.00,-0.8982,0.4418,0.7227,-0.016591
5353470,2021-07-01 09:30:00,546,12.12,12.14,11.74,11.86,11.877954,80652.88,-1.9637,1.1715,1.9165,0.001534

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
138,2015-01-06 09:30:00,547,141.14,143.55,137.07,139.05,138.836220,252575.88,-0.8942,3.0254,3.8609,0.020301
2726,2015-01-07 09:30:00,547,139.05,143.34,135.39,142.29,139.941314,246397.71,2.3308,2.9514,3.7665,0.016949
5314,2015-01-08 09:30:00,547,141.87,141.87,137.80,140.72,139.663211,152318.62,-1.1021,1.8245,2.3284,0.021014
7902,2015-01-09 09:30:00,547,144.28,153.27,144.28,145.85,148.824934,378644.74,3.6404,4.5355,5.7880,-0.031228
10490,2015-01-12 09:30:00,547,147.31,150.34,144.28,145.32,147.671746,187551.10,-0.3584,2.2465,2.8669,-0.024176
...,...,...,...,...,...,...,...,...,...,...,...,...
5336031,2021-06-25 09:30:00,547,202.53,206.56,199.88,200.41,202.795686,273550.92,-1.2539,2.2211,2.2341,-0.004767
5340387,2021-06-28 09:30:00,547,200.20,201.47,196.17,199.14,198.548906,279731.23,-0.6349,2.2713,2.2846,0.026078
5344746,2021-06-29 09:30:00,547,199.24,204.23,199.14,204.02,202.857187,312163.19,2.4494,2.5346,2.5494,-0.024896
5349108,2021-06-30 09:30:00,547,204.44,206.24,199.03,199.35,202.299433,270902.77,-2.2869,2.1996,2.2124,0.007447
5353471,2021-07-01 09:30:00,547,199.35,200.62,196.49,200.09,198.358039,222586.16,0.3723,1.8073,1.8179,-0.054382

,timestamp,ticker,open,high,low,close,vwap,volume,pct_chg,turnover,free_turnover,1d_ret
139,2015-01-06 09:30:00,548,26.41,27.82,26.17,27.44,27.323204,126620.81,3.9113,2.5365,3.6398,0.006266
2727,2015-01-07 09:30:00,548,27.48,28.37,26.89,27.82,27.738105,123670.74,1.3802,2.4774,3.5550,-0.007472
5315,2015-01-08 09:30:00,548,27.65,27.79,26.99,27.30,27.289461,77695.58,-1.8564,1.5564,2.2334,-0.023839
7903,2015-01-09 09:30:00,548,27.44,27.72,26.75,26.79,27.043275,61319.83,-1.8916,1.2284,1.7627,-0.024422
10491,2015-01-12 09:30:00,548,26.79,27.13,25.89,26.48,26.523702,58431.32,-1.1568,1.1705,1.6796,0.039526
...,...,...,...,...,...,...,...,...,...,...,...,...
5336032,2021-06-25 09:30:00,548,13.50,13.54,13.43,13.50,13.493440,14745.13,0.2639,0.2954,0.4364,0.005263
5340388,2021-06-28 09:30:00,548,13.50,13.61,13.47,13.58,13.529690,26509.02,0.5263,0.5310,0.7846,-0.005236
5344747,2021-06-29 09:30:00,548,13.58,13.58,13.47,13.50,13.516896,17119.03,-0.5236,0.3429,0.5067,0.000000
5349109,2021-06-30 09:30:00,548,13.50,13.54,13.43,13.50,13.472117,14626.58,0.0000,0.2930,0.4329,-0.005263
5353472,2021-07-01 09:30:00,548,13.50,13.50,13.40,13.43,13.435156,19479.11,-0.5263,0.3902,0.5765,-0.013228

KeyboardInterrupt:

In [27]:
import numpy as np 
import Research.utils.normalization as norm
data = pd.DataFrame(np.random.uniform(10,100,(2,2)))

In [28]:
data

           0          1
0  18.803458  78.017467
1  34.730430  70.799333

In [105]:
data = pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Corr/2015-01-01_2015-03-01.par")
data.set_index(["timestamp","ticker"],inplace=True)
grouped = data.groupby("timestamp")

In [49]:
from tqdm import tqdm
for ticker , df in tqdm(grouped):
    display(df)
    a = df['0']
    df = df.apply(lambda x: norm.normalize_s(x,weight=None, sigma=1, fill=True, fillvalue='mean'),axis=1)
    display(df)
    display(a)
    display(norm.normalize_s(a,weight=None, sigma=1, fill=True, fillvalue='mean'))

  0%|          | 0/5 [00:00<?, ?it/s]

                                      0            1            2  \
timestamp           ticker
2015-02-16 09:30:00 1       1047.509016   165.116922   249.851660
                    2       5734.296871  3871.305252  2296.206307
                    4          1.642506     5.157167     1.294367
                    5          0.000000     0.000000     0.000000
                    6         72.269658    54.692880    11.679193
...                                 ...          ...          ...
                    603806     0.443253     0.247522     0.639169
                    603889     5.337591     0.419260     0.359393
                    603988     0.801172     1.477298     0.696822
                    603993     0.167547     1.009791     0.165149
                    603998     0.828789     0.422953     0.478456

                                      3            4            5  \
timestamp           ticker
2015-02-16 09:30:00 1        924.464829   243.390500   183.194222
                    2       4441.200376  4079.822467  1564.848673
                    4          1.901233     6.506182     1.342306
                    5          0.000000     0.000000     0.000000
                    6         56.316516    53.318840     8.058444
...                                 ...          ...          ...
                    603806     0.457222     0.524244     0.531124
                    603889     4.156316     0.671042     0.272120
                    603988     0.914261     3.249069     0.589089
                    603993     0.168873     1.040073     0.088347
                    603998     0.432567     0.670000     0.448060

                                      6            7            8  \
timestamp           ticker
2015-02-16 09:30:00 1        926.891342   158.088300    78.887819
                    2       4471.782349  3782.803471  1117.956856
                    4          0.990144     5.159844     0.916989
                    5          0.000000     0.000000     0.000000
                    6         54.038229    46.167377     6.291302
...                                 ...          ...          ...
                    603806     0.403511     0.269633     0.471518
                    603889     3.629171     0.416376     0.253022
                    603988     0.546361     1.412584     0.475973
                    603993     0.093889     0.961456     0.061560
                    603998     0.657067     0.370296     0.309842

                                      9  ...            98         99  \
timestamp           ticker               ...
2015-02-16 09:30:00 1        957.587687  ...  2.883648e+05   0.116978
                    2       4870.817595  ...  1.025901e+06   3.012376
                    4          1.578639  ...  3.782357e+03   1.557890
                    5          0.000000  ...  0.000000e+00   0.000000
                    6         62.654442  ...  2.336550e+04  -0.280675
...                                 ...  ...           ...        ...
                    603806     0.427070  ...  8.267586e+02   0.000678
                    603889     4.535161  ...  5.204022e+03 -48.302955
                    603988     0.616414  ...  1.675187e+03   0.035864
                    603993     0.150109  ...  3.658018e+05   1.168993
                    603998     0.663326  ...  9.579909e+03   2.013009

                                  100       101        102        103  \
timestamp           ticker
2015-02-16 09:30:00 1       -0.507560  0.002424   0.231962  -1.006395
                    2        0.118208 -0.861521   3.629944   0.139334
                    4        1.926868  0.031814   2.108953   2.608465
                    5        0.000000  0.000000   0.000000   0.000000
                    6       -1.198191 -0.013635  -0.462520  -2.031838
...                               ...       ...        ...        ...
                    603806   2.649378 -0.038791   0.000678   2.649378
                    603889  14.766937 -0.287986 -48.302955  14.766937
                    603988  14.374524  0.474857   0.035864  14.374524
                    603993   3.082360  0.398447   9.519912  25.101230
                    603998   7.865893  0.301897   2.013009   7.865893

                                 104         105        106       107
timestamp           ticker
2015-02-16 09:30:00 1       0.004792    0.802678   0.314303  0.293151
                    2      -1.037331    2.578219   0.815432  1.056843
                    4       0.043077    1.218091   1.909151  0.450947
                    5       0.000000    0.000000   0.000000  0.000000
                    6      -0.023094    7.412170   1.994877  0.174507
...                              ...         ...        ...       ...
                    603806 -0.038791    0.224472   2.835027  0.137790
                    603889 -0.287986  236.659717  69.099245  1.950497
                    603988  0.474857    1.696498  29.088795  0.837588
                    603993  3.244925    2.980177   6.933482  1.858351
                    603998  0.301897   20.001105  21.877881  3.514249

[2587 rows x 108 columns]

  0%|          | 0/5 [00:13<?, ?it/s]

KeyboardInterrupt:

In [4]:
pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.14/Return/2015-01-01_2015-03-01.par")

,timestamp,ticker,0,1,2,3,4,5,6,7,...,17,18,19,20,21,22,23,24,25,26
0,2015-02-16 09:30:00,1,-0.036897,-0.005706,0.024267,-0.040536,-0.030881,0.027536,-0.026921,-0.005058,...,0.031142,-0.885340,-1.021538,-1.301542,-0.456068,-0.564761,0.031193,-0.456076,-0.564789,0.031117
1,2015-02-17 09:30:00,1,-0.116090,-0.016628,0.012338,-0.111045,-0.018498,0.001429,-0.110617,-0.000737,...,-0.183559,5.688138,-3.153600,-1.091618,-0.013531,-0.422615,-0.183519,-0.013511,-0.422573,-0.183590
2,2015-02-25 09:30:00,1,-0.111188,-0.007209,-0.002855,-0.111809,-0.041778,0.004992,-0.113722,-0.009458,...,-0.157414,-1.000000,-0.449661,-1.292316,-0.122953,-0.544786,-0.157369,-0.122997,-0.544778,-0.157381
3,2015-02-26 09:30:00,1,-0.104510,-0.023712,-0.018188,-0.062306,-0.033062,-0.026334,-0.077180,-0.032481,...,-0.698289,-2.269975,1.067292,-3.327506,0.378450,-0.356482,-0.698278,0.378502,-0.356485,-0.698302
4,2015-02-27 09:30:00,1,-0.037584,-0.004175,0.008029,-0.085064,-0.013679,0.009322,-0.037390,-0.037763,...,-0.004721,-2.037526,-0.165594,-1.963556,-0.499706,0.311514,-0.004678,-0.499703,0.311495,-0.004718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12930,2015-02-16 09:30:00,603998,-0.069035,0.045455,0.026866,-0.041535,-0.007112,0.017640,-0.022323,0.020833,...,0.115635,-1.530513,-2.148737,1.769046,-0.535531,-0.677477,0.115646,-0.535531,-0.677477,0.115646
12931,2015-02-17 09:30:00,603998,-0.020059,-0.009169,0.023810,-0.047167,-0.043430,-0.008451,-0.011638,-0.022801,...,-0.296592,-0.635865,-0.882305,-0.893510,-0.127159,-0.729320,-0.296586,-0.127159,-0.729320,-0.296586
12932,2015-02-25 09:30:00,603998,-0.034000,-0.044382,0.003721,0.027572,-0.011142,-0.004196,0.023333,-0.025788,...,-0.088741,-2.532869,-5.017303,-3.164697,0.290528,-0.520650,-0.088732,0.290528,-0.520650,-0.088732
12933,2015-02-26 09:30:00,603998,0.051388,-0.009075,0.009654,0.028948,-0.020548,0.012195,0.041480,-0.010239,...,0.097097,-0.361280,-1.343917,-0.720887,0.810701,-0.554142,0.097092,0.810701,-0.554142,0.097092
12934,2015-02-27 09:30:00,603998,0.050656,-0.037705,0.023195,0.064450,-0.043667,0.037982,0.051121,-0.021937,...,0.009042,-2.370464,-0.216151,-1.311437,1.065500,-0.627484,0.009047,1.065500,-0.627484,0.009047

In [120]:
corr = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Cov/2018-01-01_2018-03-01.par").iloc[10000,:])
corr = corr.T.set_index(["timestamp","ticker"])
corr.index

MultiIndex([('2018-01-16 09:30:00', 727)],
           names=['timestamp', 'ticker'])

In [121]:
data = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Data/2018-01-01_2018-03-01.par").iloc[10000,:])
data = data.T.set_index(["timestamp","ticker"])
data.index

MultiIndex([('2018-01-16 09:30:00', 727)],
           names=['timestamp', 'ticker'])

In [122]:
corr

,,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2018-01-16 09:30:00,727,0.021232,0.056231,-0.028736,0.012684,0.056178,0.031429,0.005484,0.054071,-0.009736,0.016936,...,147509.455295,-0.09682,-0.03738,1.456459,-0.103758,-0.040061,1.561176,0.012005,0.027539,0.60395

In [123]:
pd.DataFrame(np.array(corr).reshape(-1,3))

              0            1              2
0      0.021232     0.056231      -0.028736
1      0.012684     0.056178       0.031429
2      0.005484     0.054071      -0.009736
3      0.016936     0.054655      -0.007158
4   2792.048386 -1534.373284  -32609.604473
5     -0.184954    -0.098573      -0.430083
6      0.011432    -0.006282      -0.133513
7      0.012251     -0.00673      -0.143111
8      0.014182     0.048867      -0.022076
9      0.010716     0.049291       0.015573
10     0.018081     0.048029       0.012094
11  1887.182426 -2024.522003   26885.290709
12    -0.101127     -0.03246        0.38924
13     0.007727     -0.00829       0.110076
14      0.00828    -0.008883       0.117991
15     0.013618     0.052911      -0.004531
16     0.015628     0.051167       -0.00454
17    153.47848 -4661.000911  -26640.289827
18    -0.020088    -0.018923      -0.321937
19     0.000627    -0.019084      -0.109074
20     0.000672    -0.020453      -0.116915
21     0.013263     0.050527       0.007248
22  -396.833198 -3538.002093   10112.362103
23     0.045665     0.012289        0.19637
24    -0.001626    -0.014487       0.041402
25    -0.001743    -0.015525        0.04438
26  1074.399019 -3298.421357    7962.052618
27    -0.053292    -0.017599       0.124513
28     0.004398    -0.013505       0.032598
29     0.004713    -0.014473       0.034943
30 -23644.82132 -9125.625377  355730.590956
31  2735.516489  6275.494843   137616.81361
32  2931.786262  6726.636251  147509.455295
33     -0.09682     -0.03738       1.456459
34    -0.103758    -0.040061       1.561176
35     0.012005     0.027539        0.60395

In [124]:
array = np.array(data.drop("target",axis=1))
array = pd.DataFrame(array.reshape(30,-1))
array

        0      1      2      3          4          5       6       7       8
0   14.26  14.37  14.09  14.14  14.244446  196084.98 -1.5686  0.8028  0.8605
1   14.14  14.14  13.69  13.75  13.919325  252882.38 -2.7888  1.0354  1.1098
2   13.75  13.92  13.69  13.86  13.778459  170549.52  0.8197  0.6983  0.7485
3   13.86  13.92  13.69   13.8  13.793109  168779.84 -0.4065   0.691  0.7407
4    13.8  13.97  13.75  13.92  13.892279  166227.12  0.8163  0.6806  0.7295
5   13.86  14.03  13.86  13.97  13.949189  180923.46  0.4049  0.7407   0.794
6   13.97  13.97  13.75  13.75  13.834242   167064.2 -1.6129   0.684  0.7332
7   13.75  13.92  13.69  13.86  13.839876   176816.0  0.8197  0.7239   0.776
8   13.86  13.97  13.86  13.97  13.914818  185296.18   0.813  0.7586  0.8132
9   13.92  13.92  13.75   13.8  13.823536  192566.41 -1.2097  0.7884  0.8451
10   13.8  13.86  13.69   13.8  13.777332  143964.51     0.0  0.5894  0.6318
11  13.75  13.86  13.75   13.8  13.807195  113125.44     0.0  0.4632  0.4965
12   13.8  13.86  13.64  13.69  13.729437   170781.0 -0.8163  0.6992  0.7495
13  13.69  13.69  13.41  13.58  13.538985   244842.0  -0.823  1.0024  1.0745
14  13.52  13.58  13.47  13.47  13.510812  153896.84 -0.8299  0.6301  0.6754
15  13.52  13.52  13.19  13.24  13.356985  217440.16 -1.6736  0.8903  0.9543
16  13.13  13.35  13.13   13.3  13.239784  167433.18  0.4255  0.6855  0.7348
17  13.24  13.35  13.19  13.19  13.264013  184393.62 -0.8475   0.755  0.8092
18  13.19   13.3  13.19  13.24  13.247109  152124.12  0.4274  0.6228  0.6676
19  13.24  13.52  13.24  13.41  13.408824   209621.0  1.2766  0.8582  0.9199
20  13.52  14.71  13.47   14.2  14.214582  786754.99  5.8824  3.2212  3.4528
21  14.03  14.14  13.92  14.09  14.030328  405413.83 -0.7937  1.6599  1.7792
22  14.03  14.09  13.92  13.92  13.986378   236726.0    -1.2  0.9692  1.0389
23  13.92  14.31  13.92  14.09  14.119356  245819.97  1.2146  1.0064  1.0788
24  14.09  14.26  13.97   14.2  14.089492  217149.36     0.8  0.8891   0.953
25  14.14   14.2  14.03  14.09   14.08104  182850.21 -0.7937  0.7486  0.8025
26  14.09  14.14  13.86  13.97  14.003282  201453.53    -0.8  0.8248  0.8841
27  13.92  14.42  13.86  14.31  14.141895   330347.1  2.4194  1.3525  1.4498
28  14.26  14.31  14.09  14.14  14.175139   248868.0 -1.1811  1.0189  1.0922
29  14.14   14.2  13.92  13.92  14.043852   182393.0 -1.5936  0.7468  0.8005

In [125]:
a = array.iloc[0:10,[0,1]]
a = a.astype("float")
a

       0      1
0  14.26  14.37
1  14.14  14.14
2  13.75  13.92
3  13.86  13.92
4  13.80  13.97
5  13.86  14.03
6  13.97  13.97
7  13.75  13.92
8  13.86  13.97
9  13.92  13.92

In [126]:
a.cov()

          0         1
0  0.027712  0.021232
1  0.021232  0.020446

In [98]:
data = pd.read_csv("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/data.csv")
data.set_index(["timestamp","ticker"],inplace=True)
data

                               open     high      low    close         vwap  \
timestamp           ticker
2015-01-06 09:30:00 1       1136.15  1156.75  1108.44  1138.28  1134.052643
                    2       1774.23  1885.20  1753.27  1838.34  1823.031224
                    4         63.31    64.62    62.18    63.76    63.277989
                    5         38.00    38.00    38.00    38.00    37.997172
                    6        225.64   234.85   223.10   225.00   228.438278
...                             ...      ...      ...      ...          ...
2021-07-01 09:30:00 688700    47.80    54.50    47.03    53.38    50.715300
                    688777    90.21    95.08    89.32    94.42    93.250464
                    688788   138.07   149.35   137.11   146.22   145.197985
                    688819    44.04    45.64    43.95    45.15    45.026221
                    688981    59.69    62.50    59.40    61.82    61.542000

                                volume  pct_chg  turnover  free_turnover  \
timestamp           ticker
2015-01-06 09:30:00 1       2860436.43   1.1364    2.9079         5.7657
                    2       6560835.70   7.2662    6.7834         8.1741
                    4         28095.12   0.7707    3.3496         4.5343
                    5             0.00   0.0000    0.0000         0.0000
                    6       1078647.12   0.4255    8.0562        13.2751
...                                ...      ...       ...            ...
2021-07-01 09:30:00 688700    64336.83  14.5494   19.2222        19.2222
                    688777    19001.61   4.6111    4.6288         4.6288
                    688788    13572.56   5.1954    7.7977         7.7977
                    688819    47249.01   1.8544    4.6754         4.6754
                    688981   777950.53   4.3376    7.1003         7.1003

                              1d_ret
timestamp           ticker
2015-01-06 09:30:00 1      -0.018297
                    2      -0.023288
                    4       0.051118
                    5       0.000000
                    6      -0.028571
...                              ...
2021-07-01 09:30:00 688700 -0.040395
                    688777 -0.005927
                    688788 -0.025238
                    688819 -0.022042
                    688981 -0.019086

[5357704 rows x 10 columns]

In [104]:
data['open'].unstack().rolling(window=10).std()

ticker,1,2,4,5,6,7,8,9,10,11,...,688689,688690,688696,688698,688699,688700,688777,688788,688819,688981
timestamp,,,,,,,,,,,,,,,,,,,,,
2015-01-06 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-07 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-08 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-09 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-12 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25 09:30:00,79.819471,82.078113,6.736320,0.388015,1.313718,1.368691,0.530334,9.206389,0.310448,1.638809,...,2.585834,NaN,49.005231,0.788755,6.897538,NaN,1.724244,3.181944,1.221388,1.502435
2021-06-28 09:30:00,57.607758,65.872981,7.234652,0.322897,1.349800,1.567429,0.427147,6.198738,0.269858,1.689018,...,2.416643,NaN,48.578956,0.850649,5.500526,NaN,1.876707,3.333548,1.167535,1.496567
2021-06-29 09:30:00,35.235479,47.975523,6.317481,0.430121,1.350990,1.943302,0.256231,6.579545,0.264668,1.259499,...,2.479178,NaN,49.836406,0.905578,11.532223,4.795769,1.496045,2.854514,1.008194,1.708269
2021-06-30 09:30:00,35.189522,44.532049,3.599457,0.431201,1.281028,2.206906,0.212143,9.259003,0.237779,0.746161,...,2.066648,NaN,55.289812,0.924074,16.937733,5.360009,1.490156,4.488256,1.213537,1.638788
2021-07-01 09:30:00,38.190187,54.807181,3.673833,0.418537,1.167046,2.278866,0.284261,10.024714,0.585070,0.516485,...,1.590000,NaN,54.304193,0.927291,31.428251,6.070395,1.448303,4.625389,1.311540,1.390925