In [1]:
alpha_name = "AlphaNetV1_Original_Input_1208"
path = "/home/wuwenjun/Alpha_Factor/" + alpha_name
output_path = r'/home/wuwenjun/factor_lib/ti0/wuwenjun'

In [5]:
import time
from Research.backtest.bt import BTDaily
from Research.feature.ft import FeatureAnalysis
import Research.utils.namespace as namespace
import Research.utils.normalization as norm
from Platform.database.mysql import MysqlAPI
from Platform.utils.persistence import convert_to_standard_daily_feature_csv, convert_to_standard_daily_feature_par
from Platform.config.mysql_info import FACTOR_LIB_MYSQL_TIO
from os import walk
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from progressbar import ProgressBar
from tqdm import tqdm

In [6]:
df = pd.read_csv("/home/wuwenjun/Alpha_Factor/AlphaNetV1_Original_Input_1208/result/20190101_20190630.csv")
df['timestamp'] = pd.to_datetime(df['timestamp'].astype(str))
df.rename(columns = {"AlphaNet":alpha_name},inplace=True)
display(df)
convert_to_standard_daily_feature_csv(alpha_name, df, output_path)

        symbol           timestamp  AlphaNetV1_Original_Input_1208
0            1 2019-01-02 09:30:00                        0.001571
1            1 2019-01-03 09:30:00                        0.060317
2            1 2019-01-04 09:30:00                        0.174096
3            1 2019-01-07 09:30:00                        0.301100
4            1 2019-01-08 09:30:00                        0.143749
...        ...                 ...                             ...
405732    2947 2019-06-26 09:30:00                       -0.172733
405733    2947 2019-06-27 09:30:00                       -0.034923
405734    2947 2019-06-28 09:30:00                       -0.060424
405735  601865 2019-06-27 09:30:00                       -0.048363
405736  601865 2019-06-28 09:30:00                       -0.019299

[405737 rows x 3 columns]

In [8]:
data = pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input/2018-12-31_2019-06-30.par")
data = data[['timestamp','ticker','target']]
data

                  timestamp  ticker    target
945     2019-01-02 09:30:00       1  0.037274
946     2019-01-03 09:30:00       1  0.075163
947     2019-01-04 09:30:00       1  0.094156
948     2019-01-07 09:30:00       1  0.038618
949     2019-01-08 09:30:00       1  0.039054
...                     ...     ...       ...
4606885 2019-06-26 09:30:00    2947  0.127581
4606886 2019-06-27 09:30:00    2947  0.001206
4606887 2019-06-28 09:30:00    2947 -0.023740
4607376 2019-06-27 09:30:00  601865  0.014549
4607377 2019-06-28 09:30:00  601865  0.056751

[405737 rows x 3 columns]

In [10]:
data.set_index(["timestamp","symbol"],inplace=True)
df.set_index(["timestamp","symbol"],inplace=True)

In [37]:
import time
from Research.backtest.bt import BTDaily
from Research.feature.ft import FeatureAnalysis
import Research.utils.namespace as namespace
import Research.utils.normalization as norm
import numpy as np
   
config_path = r'/home/ShareFolder/lgc/Modules/Research/config/feature_bt_template'
print('Loading the configuration from ' + config_path)
configs = namespace.load_namespace(config_path)
FT = FeatureAnalysis(configs, feature_path=r"/home/wuwenjun/factor_lib")
alpha_list = list(FT.features_in_path.keys())[-1:]
print(alpha_list)
start_date = '2019-01-01'
end_date = '2019-06-30'
FT.load_feature_from_file(alpha_list, start_date, end_date, universe='Investable',
                                       timedelta=None, transformer=norm.standard_scale)
FT.load_return_data()

for alpha_name in alpha_list:
    FT.get_intersection_ic(feature_name=alpha_name, truncate_fold=None, method='spearman',
                                     period=('1d', '3d', '5d'))
    ic_flag, trading_direction = FT.test_ic(alpha_name, verbose=False)
#     df, df_all = FT.get_ic_summary_by_month(num=6)

    if trading_direction == -1:
        negative = True
    else:
        negative = False
    FT.get_top_return(alpha_name, negative=negative, trade_type='long-short', transmission_rate=0.0,
                            tax_rate=0.0005, verbose=True)

Loading the configuration from /home/ShareFolder/lgc/Modules/Research/config/feature_bt_template

  0%|                                                                                                                         | 0/118 [00:00<?, ?it/s]

['AlphaNetV1_Original_Input_1208']

Loading Feature...: 100%|███████████████████████████████████████████████████████████████████████████████████████████| 118/118 [00:01<00:00, 75.25it/s]
Loading target...: 100%|████████████████████████████████████████████████████████████████████████████████████████████| 118/118 [00:01<00:00, 88.09it/s]
Merging feature and return...: 100%|████████████████████████████████████████████████████████████████████████████████| 118/118 [00:01<00:00, 62.10it/s]
Calculating IC value...: 100%|██████████████████████████████████████████████████████████████████████████████████████| 118/118 [00:02<00:00, 49.90it/s]
Calculating IC value...: 100%|█████████████████████████████████████████████████████████████████████████████████████| 118/118 [00:01<00:00, 111.24it/s]
Getting BT result for date: 20190628...: 100%|██████████████████████████████████████████████████████████████████████| 118/118 [00:06<00:00, 19.00it/s]

AlphaNetV1_Original_Input_1208 back-test result for long-short mode:

Back test summary: "long-short" mode
+-------------------+-------------+----------+-----------+------------+----------+-------------+--------------------------+-------------------+------------+
|      period       |  stock_num  |  return  |  ret_std  |  ret_year  |  sharpe  |  win_ratio  |      max_dd|period       |  max_dd_day|date  |  turnover  |
+===================+=============+==========+===========+============+==========+=============+==========================+===================+============+
| 20190102-20190628 |     427     |  -23.13  |   43.13   |   -41.56   |  -1.53   |    45.30    | 41.06(20190131-20190403) |  6.77(20190225)   |   97.52    |
+-------------------+-------------+----------+-----------+------------+----------+-------------+--------------------------+-------------------+------------+