In [51]:
Alpha_Name = "Original_Input_Moving_7_Shift_5"
sequence = 6
LR = 0.001
epoch_num = 30
feature_num = 108

In [93]:
import pandas as pd
original = pd.read_parquet("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.par")
original

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
task_id,,,,,,,,
0,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2019-01-01,2019-06-01,waiting
1,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2020-01-01,2020-06-01,finished
3,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2020-06-01,2021-01-01,running
4,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2021-01-01,2021-06-01,waiting
5,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2019-01-01,2019-06-01,waiting
6,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2019-06-01,2020-01-01,waiting
7,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2020-01-01,2020-06-01,waiting
8,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2020-06-01,2021-01-01,waiting
9,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2021-01-01,2021-06-01,waiting

In [65]:
time_list = ["2019-01-01","2019-06-01","2020-01-01","2020-06-01","2021-01-01","2021-06-01"]
time_list2 = []
for i in range(len(time_list)-1):
    time_list2.append([time_list[i],time_list[i+1]])
time_list2 = pd.DataFrame(time_list2,columns=["start_date","end_date"])
time_list2

   start_date    end_date
0  2019-01-01  2019-06-01
1  2019-06-01  2020-01-01
2  2020-01-01  2020-06-01
3  2020-06-01  2021-01-01
4  2021-01-01  2021-06-01

In [66]:
task = pd.DataFrame([Alpha_Name,sequence,LR,epoch_num,feature_num],index=["Alpha_Name","sequence","LR","epoch_num","feature_num"]).T
task['value']=1
time_list2['value']=1
task = pd.merge(task,time_list2,how='left',on='value')
del task['value']
task["status"] = "waiting"
task

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
0,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2019-01-01,2019-06-01,waiting
1,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2020-01-01,2020-06-01,waiting
3,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2020-06-01,2021-01-01,waiting
4,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2021-01-01,2021-06-01,waiting

In [78]:
task = pd.concat([original,task],axis=0)
task.reset_index(drop=True,inplace=True)
task.index.names = ["task_id"]
if task.duplicated().any() == True:
    task = original
    raise ValueError("concains duplicates value")
task

ValueError: concains duplicates value

In [90]:
# task.loc[0,"status"] = "running"
index = task[task["status"] == "waiting"].index[0]
task.loc[index]

Alpha_Name     Original_Input_Moving_10_Shift_5
sequence                                      5
LR                                        0.001
epoch_num                                    30
feature_num                                 108
start_date                           2019-01-01
end_date                             2019-06-01
status                                  waiting
Name: 0, dtype: object

In [91]:
task

,Alpha_Name,sequence,LR,epoch_num,feature_num,start_date,end_date,status
task_id,,,,,,,,
0,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2019-01-01,2019-06-01,waiting
1,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2019-06-01,2020-01-01,waiting
2,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2020-01-01,2020-06-01,finished
3,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2020-06-01,2021-01-01,running
4,Original_Input_Moving_10_Shift_5,5,0.001,30,108,2021-01-01,2021-06-01,waiting
5,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2019-01-01,2019-06-01,waiting
6,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2019-06-01,2020-01-01,waiting
7,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2020-01-01,2020-06-01,waiting
8,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2020-06-01,2021-01-01,waiting
9,Original_Input_Moving_7_Shift_5,6,0.001,30,108,2021-01-01,2021-06-01,waiting

In [92]:
task.to_parquet("/home/ShareFolder/feature_platform/ti0/wuwenjun/#Factor_Description/Task.par")