In [3]:
import multiprocessing as mp
import time
import pandas as pd
from tqdm import tqdm
import datetime
from datetime import timedelta

In [6]:
from os import walk
data_path = "/home/wuwenjun/Data/AlphaNet_Original_Input"
data_path = "/home/wuwenjun/Data/AlphaNet_Original_Input"
dataframe_list = pd.DataFrame()
for f, _, i in walk(data_path):
    for j in tqdm(i):
        dataframe_list = pd.concat([dataframe_list,pd.read_parquet(f + "/" + j)],axis=0)

100%|██████████| 8/8 [02:11<00:00, 16.44s/it]

,,2,3,4,5,6,7,8,9,10,11,...,323,324,325,326,327,328,329,330,331,target
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2015-02-16 09:30:00,1,15.84,15.99,16.28,15.60,16.02,15.9605,2860436.43,1.1364,2.9079,5.7657,...,14.18,13.84,13.95,14.0189,887743.10,0.6494,0.9025,1.7894,0.09,0.005735
2015-02-17 09:30:00,1,16.02,15.85,16.39,15.55,15.78,15.9408,2166421.40,-1.4981,2.2024,4.3668,...,14.01,13.73,13.92,13.8643,721202.39,-0.2151,0.7332,1.4537,-0.03,0.001433
2015-02-25 09:30:00,1,15.78,15.56,15.83,15.30,15.48,15.4977,1700120.67,-1.9011,1.7283,3.4269,...,14.11,13.93,13.99,14.0256,680491.59,0.5029,0.6918,1.3717,0.07,-0.029915
2015-02-26 09:30:00,1,15.48,15.50,15.57,14.90,14.96,15.1167,1407714.21,-3.3592,1.4311,2.8375,...,14.05,13.76,13.80,13.8414,577392.33,-1.3581,0.5870,1.1638,-0.19,-0.021739
2015-02-27 09:30:00,1,14.96,14.90,15.87,14.71,15.08,15.2895,2508500.23,0.8021,2.5501,5.0564,...,14.08,13.60,14.07,13.8859,1025544.24,1.9565,1.0426,2.0672,0.27,-0.049075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-23 09:30:00,601399,4.23,4.22,4.43,4.02,4.14,4.1756,633234.82,-2.1277,12.8295,12.8295,...,3.45,3.40,3.42,3.4202,204842.80,-0.2915,0.8616,0.8616,-0.01,-0.017544
2021-06-24 09:30:00,601399,4.14,4.13,4.55,4.11,4.23,4.3572,591570.35,2.1739,11.9854,11.9854,...,3.42,3.37,3.40,3.3891,181447.57,-0.5848,0.7632,0.7632,-0.02,-0.020649
2021-06-25 09:30:00,601399,4.23,4.10,4.11,3.96,3.96,4.0407,504073.25,-6.3830,10.2126,10.2126,...,3.39,3.34,3.36,3.3594,154445.60,-1.1765,0.6496,0.6496,-0.04,-0.011940
2021-06-28 09:30:00,601399,3.96,3.95,3.99,3.82,3.83,3.8798,388797.28,-3.2828,7.8771,7.8771,...,3.45,3.35,3.41,3.4084,200886.20,1.4881,0.8450,0.8450,0.05,-0.052326
2021-06-29 09:30:00,601399,3.83,3.80,3.83,3.66,3.67,3.7162,307810.00,-4.1775,6.2363,6.2363,...,3.44,3.37,3.38,3.3942,144365.21,-0.8798,0.6072,0.6072,-0.03,-0.023810

In [7]:
time_list = [20190101,20190630,20191231,20200601,20201231,20210630]

In [16]:
time_start = time_list[0]
time_end = time_list[1]

In [17]:
train_frame = dataframe_list[dataframe_list['timestamp'] < pd.to_datetime(time_start)]
test_frame = dataframe_list[(dataframe_list['timestamp'] > pd.to_datetime(time_start))
                            & (dataframe_list['timestamp'] < pd.to_datetime(time_end))]

In [19]:
dataframe_list

,index,timestamp,ticker,2,3,4,5,6,7,8,...,323,324,325,326,327,328,329,330,331,target
0,0,2015-02-16 09:30:00,1,15.84,15.99,16.28,15.60,16.02,15.9605,2860436.43,...,14.18,13.84,13.95,14.0189,887743.10,0.6494,0.9025,1.7894,0.09,0.005735
1,1,2015-02-17 09:30:00,1,16.02,15.85,16.39,15.55,15.78,15.9408,2166421.40,...,14.01,13.73,13.92,13.8643,721202.39,-0.2151,0.7332,1.4537,-0.03,0.001433
2,2,2015-02-25 09:30:00,1,15.78,15.56,15.83,15.30,15.48,15.4977,1700120.67,...,14.11,13.93,13.99,14.0256,680491.59,0.5029,0.6918,1.3717,0.07,-0.029915
3,3,2015-02-26 09:30:00,1,15.48,15.50,15.57,14.90,14.96,15.1167,1407714.21,...,14.05,13.76,13.80,13.8414,577392.33,-1.3581,0.5870,1.1638,-0.19,-0.021739
4,4,2015-02-27 09:30:00,1,14.96,14.90,15.87,14.71,15.08,15.2895,2508500.23,...,14.08,13.60,14.07,13.8859,1025544.24,1.9565,1.0426,2.0672,0.27,-0.049075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4720052,4720052,2021-06-23 09:30:00,601399,4.23,4.22,4.43,4.02,4.14,4.1756,633234.82,...,3.45,3.40,3.42,3.4202,204842.80,-0.2915,0.8616,0.8616,-0.01,-0.017544
4720053,4720053,2021-06-24 09:30:00,601399,4.14,4.13,4.55,4.11,4.23,4.3572,591570.35,...,3.42,3.37,3.40,3.3891,181447.57,-0.5848,0.7632,0.7632,-0.02,-0.020649
4720054,4720054,2021-06-25 09:30:00,601399,4.23,4.10,4.11,3.96,3.96,4.0407,504073.25,...,3.39,3.34,3.36,3.3594,154445.60,-1.1765,0.6496,0.6496,-0.04,-0.011940
4720055,4720055,2021-06-28 09:30:00,601399,3.96,3.95,3.99,3.82,3.83,3.8798,388797.28,...,3.45,3.35,3.41,3.4084,200886.20,1.4881,0.8450,0.8450,0.05,-0.052326
4720056,4720056,2021-06-29 09:30:00,601399,3.83,3.80,3.83,3.66,3.67,3.7162,307810.00,...,3.44,3.37,3.38,3.3942,144365.21,-0.8798,0.6072,0.6072,-0.03,-0.023810