In [9]:
import shutil
from tqdm import tqdm
# shutil.rmtree("/home/wuwenjun/Data_lib/ti0/wuwenjun/5_Input_20220111_10d_norm_ret/")

In [1]:
import sys
sys.path.append("/home/wuwenjun/jupyter_code/Shannon/AlphaNet/packages/")
target = "10d_ret_norm_standard_scale" # 有用
target = "10d_ret_norm" # 有用
target = "10d_ret_StandardScale_MinMax_10"

In [50]:
from AlphaNet.Data import DataLoader
data_loader = DataLoader()
data_loader.load_data_from_file(alpha_name= target,start_date="2020-01-01",end_date="2022-01-01",data_path="/home/wuwenjun/feature_platform/ti0/wuwenjun/")
# data_loader.load_data_from_file(alpha_name="10d_ret_norm_standard_scale",start_date="2020-01-01",end_date = "2021-06-01",data_path="/home/wuwenjun/feature_platform/ti0/wuwenjun")

100%|██████████| 486/486 [00:02<00:00, 168.48it/s]

                            10d_ret_StandardScale_MinMax_10
timestamp           ticker
2020-01-02 09:30:00 000001                        -5.551395
                    000002                        -6.203258
                    000004                        -5.390784
                    000005                        -5.142255
                    000006                        -5.327572
...                                                     ...
2021-06-01 09:30:00 688699                        -6.236975
                    688777                        -6.432447
                    688788                        -6.486812
                    688819                        -6.124710
                    688981                        -6.088935

[1366034 rows x 1 columns]

In [51]:
data_loader.feature_data.columns = [target]
data_loader.feature_data.reset_index(inplace=True)
data_loader.feature_data.rename(columns = {"ticker":"symbol"},inplace=True)
data_loader.feature_data

                  timestamp  symbol  10d_ret_StandardScale_MinMax_10
0       2020-01-02 09:30:00  000001                        -5.551395
1       2020-01-02 09:30:00  000002                        -6.203258
2       2020-01-02 09:30:00  000004                        -5.390784
3       2020-01-02 09:30:00  000005                        -5.142255
4       2020-01-02 09:30:00  000006                        -5.327572
...                     ...     ...                              ...
1366029 2021-06-01 09:30:00  688699                        -6.236975
1366030 2021-06-01 09:30:00  688777                        -6.432447
1366031 2021-06-01 09:30:00  688788                        -6.486812
1366032 2021-06-01 09:30:00  688819                        -6.124710
1366033 2021-06-01 09:30:00  688981                        -6.088935

[1366034 rows x 3 columns]

In [52]:
from Platform.utils.persistence import convert_to_standard_daily_feature_csv, convert_to_standard_daily_feature_par
output_path = r'/home/wuwenjun/factor_lib/ti0/wuwenjun'
convert_to_standard_daily_feature_csv(target, data_loader.feature_data, output_path)

In [58]:
import time
from Research.backtest.bt import BTDaily
from Research.feature.ft import FeatureAnalysis
import Research.utils.namespace as namespace
import Research.utils.normalization as norm
import numpy as np
config_path = r'/home/ShareFolder/lgc/Modules/Research/config/feature_bt_template'
print('Loading the configuration from ' + config_path)
configs = namespace.load_namespace(config_path)
FT = FeatureAnalysis(configs, feature_path=r"/home/ShareFolder/feature_platform/")
alpha_list = list(FT.features_in_path.keys())
print(alpha_list)
start_date = '2015-01-01'
end_date = '2021-06-01'
FT.load_feature_from_file(alpha_list, start_date, end_date, universe='Investable',
                                       timedelta=None, transformer=norm.standard_scale)

Loading the configuration from /home/ShareFolder/lgc/Modules/Research/config/feature_bt_template
['COV_open_high_10', 'COV_high_close_10', 'COV_high_low_10', 'COV_open_free_turnover_10', 'COV_open_turnover_10', 'COV_low_turnover_10', 'COV_low_pct_chg_10', 'COV_low_volume_10', 'COV_low_vwap_10', 'COV_low_close_10', 'COV_high_free_turnover_10', 'COV_high_turnover_10', 'COV_high_pct_chg_10', 'COV_high_volume_10', 'COV_high_vwap_10', 'COV_open_pct_chg_10', 'COV_open_volume_10', 'COV_open_vwap_10', 'COV_turnover_free_turnover_10', 'COV_pct_chg_free_turnover_10', 'COV_pct_chg_turnover_10', 'COV_volume_free_turnover_10', 'COV_volume_turnover_10', 'COV_volume_pct_chg_10', 'COV_vwap_free_turnover_10', 'COV_vwap_turnover_10', 'COV_vwap_pct_chg_10', 'COV_vwap_volume_10', 'COV_close_free_turnover_10', 'COV_close_turnover_10', 'COV_close_pct_chg_10', 'COV_close_volume_10', 'COV_close_vwap_10', 'COV_low_free_turnover_10', 'COV_open_close_10', 'COV_open_low_10', 'STD_open_10', 'STD_free_turnover_10', 'STD_turnover_10', 'STD_pct_chg_10', 'STD_volume_10', 'STD_vwap_10', 'STD_close_10', 'STD_low_10', 'STD_high_10', 'CORR_open_high_10', 'CORR_turnover_free_turnover_10', 'CORR_pct_chg_free_turnover_10', 'CORR_pct_chg_turnover_10', 'CORR_volume_free_turnover_10', 'CORR_volume_turnover_10', 'CORR_volume_pct_chg_10', 'CORR_vwap_free_turnover_10', 'CORR_vwap_turnover_10', 'CORR_vwap_pct_chg_10', 'CORR_vwap_volume_10', 'CORR_close_free_turnover_10', 'CORR_close_turnover_10', 'CORR_close_pct_chg_10', 'CORR_close_volume_10', 'CORR_close_vwap_10', 'CORR_low_free_turnover_10', 'CORR_low_turnover_10', 'CORR_low_pct_chg_10', 'CORR_low_volume_10', 'CORR_low_vwap_10', 'CORR_low_close_10', 'CORR_high_free_turnover_10', 'CORR_high_turnover_10', 'CORR_high_pct_chg_10', 'CORR_high_volume_10', 'CORR_high_vwap_10', 'CORR_high_close_10', 'CORR_high_low_10', 'CORR_open_free_turnover_10', 'CORR_open_turnover_10', 'CORR_open_pct_chg_10', 'CORR_open_volume_10', 'CORR_open_vwap_10', 'CORR_open_close_10', 'CORR_open_low_10', 'ZSCORE_open_10', 'ZSCORE_free_turnover_10', 'ZSCORE_turnover_10', 'ZSCORE_pct_chg_10', 'ZSCORE_volume_10', 'ZSCORE_vwap_10', 'ZSCORE_close_10', 'ZSCORE_low_10', 'ZSCORE_high_10', 'mstd', 'mco']

Loading Feature...: 100%|████████████████████████████████████████████████████████████████████████████████████| 143428/143428 [04:48<00:00, 497.75it/s]

(                            COV_open_high_10  ...        mco
 timestamp           ticker                    ...
 2016-01-15 09:30:00 600652         48.604900  ...  48.604900
                     600651         11.628838  ...  11.628838
                     600653          4.200676  ...   4.200676
                     600601          1.395313  ...   1.395313
                     600611          0.077647  ...   0.077647
 ...                                      ...  ...        ...
 2021-05-31 09:30:00 300479         -0.040684  ...  -0.040684
                     300162         -0.040706  ...  -0.040706
                     300257         -0.040730  ...  -0.040730
                     300196         -0.040863  ...  -0.040863
                     688027         -0.040965  ...  -0.040965

 [4229284 rows x 92 columns],
 None)

In [61]:
from AlphaNet.Data import con

In [60]:
    pool = mp.Pool(10)
    result = {}
    t1 = time.time()
    grouped = df.groupby("ticker")
    for ticker , one_data in tqdm(grouped):
        result[ticker] = (pool.apply_async(test, args=(one_data,)))   #维持执行的进程总数为10，当一个进程执行完后启动一个新进程.
    pool.close()
    pool.join()
    t2 = time.time()
    print("并行执行时间：", int(t2 - t1))
    df_list = []
    for i in tqdm(result):
        df_list.append(result[i].get())
    final_df = pd.concat(df_list)
final_df

92

In [17]:
import pandas as pd 
a = pd.DataFrame([[2,2,3],[2,2,3],[2,2,3]]).set_index([0])
a.index

Int64Index([2, 2, 2], dtype='int64', name=0)

In [22]:
len(list(a.index.names))

1