In [1]:
import pandas as pd 
import DataAPI
import os

In [22]:
start_date = "2015-01-01"
end_date = "2021-06-01"

In [23]:
time_list_old = DataAPI.get_trading_days(start_date, end_date)
time_list = []
for date in time_list_old:
    time_list.append(str(date.year) + "-"+ str(date.month).zfill(2) + "-"+str(date.day).zfill(2))
time_list

['2015-01-05',
 '2015-01-06',
 '2015-01-07',
 '2015-01-08',
 '2015-01-09',
 '2015-01-12',
 '2015-01-13',
 '2015-01-14',
 '2015-01-15',
 '2015-01-16',
 '2015-01-19',
 '2015-01-20',
 '2015-01-21',
 '2015-01-22',
 '2015-01-23',
 '2015-01-26',
 '2015-01-27',
 '2015-01-28',
 '2015-01-29',
 '2015-01-30',
 '2015-02-02',
 '2015-02-03',
 '2015-02-04',
 '2015-02-05',
 '2015-02-06',
 '2015-02-09',
 '2015-02-10',
 '2015-02-11',
 '2015-02-12',
 '2015-02-13',
 '2015-02-16',
 '2015-02-17',
 '2015-02-25',
 '2015-02-26',
 '2015-02-27',
 '2015-03-02',
 '2015-03-03',
 '2015-03-04',
 '2015-03-05',
 '2015-03-06',
 '2015-03-09',
 '2015-03-10',
 '2015-03-11',
 '2015-03-12',
 '2015-03-13',
 '2015-03-16',
 '2015-03-17',
 '2015-03-18',
 '2015-03-19',
 '2015-03-20',
 '2015-03-23',
 '2015-03-24',
 '2015-03-25',
 '2015-03-26',
 '2015-03-27',
 '2015-03-30',
 '2015-03-31',
 '2015-04-01',
 '2015-04-02',
 '2015-04-03',
 '2015-04-07',
 '2015-04-08',
 '2015-04-09',
 '2015-04-10',
 '2015-04-13',
 '2015-04-14',
 '2015-04-15',
 '2015-04-16',
 '2015-04-17',
 '2015-04-20',
 '2015-04-21',
 '2015-04-22',
 '2015-04-23',
 '2015-04-24',
 '2015-04-27',
 '2015-04-28',
 '2015-04-29',
 '2015-04-30',
 '2015-05-04',
 '2015-05-05',
 '2015-05-06',
 '2015-05-07',
 '2015-05-08',
 '2015-05-11',
 '2015-05-12',
 '2015-05-13',
 '2015-05-14',
 '2015-05-15',
 '2015-05-18',
 '2015-05-19',
 '2015-05-20',
 '2015-05-21',
 '2015-05-22',
 '2015-05-25',
 '2015-05-26',
 '2015-05-27',
 '2015-05-28',
 '2015-05-29',
 '2015-06-01',
 '2015-06-02',
 '2015-06-03',
 '2015-06-04',
 '2015-06-05',
 '2015-06-08',
 '2015-06-09',
 '2015-06-10',
 '2015-06-11',
 '2015-06-12',
 '2015-06-15',
 '2015-06-16',
 '2015-06-17',
 '2015-06-18',
 '2015-06-19',
 '2015-06-23',
 '2015-06-24',
 '2015-06-25',
 '2015-06-26',
 '2015-06-29',
 '2015-06-30',
 '2015-07-01',
 '2015-07-02',
 '2015-07-03',
 '2015-07-06',
 '2015-07-07',
 '2015-07-08',
 '2015-07-09',
 '2015-07-10',
 '2015-07-13',
 '2015-07-14',
 '2015-07-15',
 '2015-07-16',
 '2015-07-17',
 '2015-07-20',
 '2015-07-21',
 '2015-07-22',
 '2015-07-23',
 '2015-07-24',
 '2015-07-27',
 '2015-07-28',
 '2015-07-29',
 '2015-07-30',
 '2015-07-31',
 '2015-08-03',
 '2015-08-04',
 '2015-08-05',
 '2015-08-06',
 '2015-08-07',
 '2015-08-10',
 '2015-08-11',
 '2015-08-12',
 '2015-08-13',
 '2015-08-14',
 '2015-08-17',
 '2015-08-18',
 '2015-08-19',
 '2015-08-20',
 '2015-08-21',
 '2015-08-24',
 '2015-08-25',
 '2015-08-26',
 '2015-08-27',
 '2015-08-28',
 '2015-08-31',
 '2015-09-01',
 '2015-09-02',
 '2015-09-07',
 '2015-09-08',
 '2015-09-09',
 '2015-09-10',
 '2015-09-11',
 '2015-09-14',
 '2015-09-15',
 '2015-09-16',
 '2015-09-17',
 '2015-09-18',
 '2015-09-21',
 '2015-09-22',
 '2015-09-23',
 '2015-09-24',
 '2015-09-25',
 '2015-09-28',
 '2015-09-29',
 '2015-09-30',
 '2015-10-08',
 '2015-10-09',
 '2015-10-12',
 '2015-10-13',
 '2015-10-14',
 '2015-10-15',
 '2015-10-16',
 '2015-10-19',
 '2015-10-20',
 '2015-10-21',
 '2015-10-22',
 '2015-10-23',
 '2015-10-26',
 '2015-10-27',
 '2015-10-28',
 '2015-10-29',
 '2015-10-30',
 '2015-11-02',
 '2015-11-03',
 '2015-11-04',
 '2015-11-05',
 '2015-11-06',
 '2015-11-09',
 '2015-11-10',
 '2015-11-11',
 '2015-11-12',
 '2015-11-13',
 '2015-11-16',
 '2015-11-17',
 '2015-11-18',
 '2015-11-19',
 '2015-11-20',
 '2015-11-23',
 '2015-11-24',
 '2015-11-25',
 '2015-11-26',
 '2015-11-27',
 '2015-11-30',
 '2015-12-01',
 '2015-12-02',
 '2015-12-03',
 '2015-12-04',
 '2015-12-07',
 '2015-12-08',
 '2015-12-09',
 '2015-12-10',
 '2015-12-11',
 '2015-12-14',
 '2015-12-15',
 '2015-12-16',
 '2015-12-17',
 '2015-12-18',
 '2015-12-21',
 '2015-12-22',
 '2015-12-23',
 '2015-12-24',
 '2015-12-25',
 '2015-12-28',
 '2015-12-29',
 '2015-12-30',
 '2015-12-31',
 '2016-01-04',
 '2016-01-05',
 '2016-01-06',
 '2016-01-07',
 '2016-01-08',
 '2016-01-11',
 '2016-01-12',
 '2016-01-13',
 '2016-01-14',
 '2016-01-15',
 '2016-01-18',
 '2016-01-19',
 '2016-01-20',
 '2016-01-21',
 '2016-01-22',
 '2016-01-25',
 '2016-01-26',
 '2016-01-27',
 '2016-01-28',
 '2016-01-29',
 '2016-02-01',
 '2016-02-02',
 '2016-02-03',
 '2016-02-04',
 '2016-02-05',
 '2016-02-15',
 '2016-02-16',
 '2016-02-17',
 '2016-02-18',
 '2016-02-19',
 '2016-02-22',
 '2016-02-23',
 '2016-02-24',
 '2016-02-25',
 '2016-02-26',
 '2016-02-29',
 '2016-03-01',
 '2016-03-02',
 '2016-03-03',
 '2016-03-04',
 '2016-03-07',
 '2016-03-08',
 '2016-03-09',
 '2016-03-10',
 '2016-03-11',
 '2016-03-14',
 '2016-03-15',
 '2016-03-16',
 '2016-03-17',
 '2016-03-18',
 '2016-03-21',
 '2016-03-22',
 '2016-03-23',
 '2016-03-24',
 '2016-03-25',
 '2016-03-28',
 '2016-03-29',
 '2016-03-30',
 '2016-03-31',
 '2016-04-01',
 '2016-04-05',
 '2016-04-06',
 '2016-04-07',
 '2016-04-08',
 '2016-04-11',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-18',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-25',
 '2016-04-26',
 '2016-04-27',
 '2016-04-28',
 '2016-04-29',
 '2016-05-03',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-09',
 '2016-05-10',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-16',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-23',
 '2016-05-24',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-30',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-06',
 '2016-06-07',
 '2016-06-08',
 '2016-06-13',
 '2016-06-14',
 '2016-06-15',
 '2016-06-16',
 '2016-06-17',
 '2016-06-20',
 '2016-06-21',
 '2016-06-22',
 '2016-06-23',
 '2016-06-24',
 '2016-06-27',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-01',
 '2016-07-04',
 '2016-07-05',
 '2016-07-06',
 '2016-07-07',
 '2016-07-08',
 '2016-07-11',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-15',
 '2016-07-18',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-25',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-08-01',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-08',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-15',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-22',
 '2016-08-23',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-29',
 '2016-08-30',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-05',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-12',
 '2016-09-13',
 '2016-09-14',
 '2016-09-19',
 '2016-09-20',
 '2016-09-21',
 '2016-09-22',
 '2016-09-23',
 '2016-09-26',
 '2016-09-27',
 '2016-09-28',
 '2016-09-29',
 '2016-09-30',
 '2016-10-10',
 '2016-10-11',
 '2016-10-12',
 '2016-10-13',
 '2016-10-14',
 '2016-10-17',
 '2016-10-18',
 '2016-10-19',
 '2016-10-20',
 '2016-10-21',
 '2016-10-24',
 '2016-10-25',
 '2016-10-26',
 '2016-10-27',
 '2016-10-28',
 '2016-10-31',
 '2016-11-01',
 '2016-11-02',
 '2016-11-03',
 '2016-11-04',
 '2016-11-07',
 '2016-11-08',
 '2016-11-09',
 '2016-11-10',
 '2016-11-11',
 '2016-11-14',
 '2016-11-15',
 '2016-11-16',
 '2016-11-17',
 '2016-11-18',
 '2016-11-21',
 '2016-11-22',
 '2016-11-23',
 '2016-11-24',
 '2016-11-25',
 '2016-11-28',
 '2016-11-29',
 '2016-11-30',
 '2016-12-01',
 '2016-12-02',
 '2016-12-05',
 '2016-12-06',
 '2016-12-07',
 '2016-12-08',
 '2016-12-09',
 '2016-12-12',
 '2016-12-13',
 '2016-12-14',
 '2016-12-15',
 '2016-12-16',
 '2016-12-19',
 '2016-12-20',
 '2016-12-21',
 '2016-12-22',
 '2016-12-23',
 '2016-12-26',
 '2016-12-27',
 '2016-12-28',
 '2016-12-29',
 '2016-12-30',
 '2017-01-03',
 '2017-01-04',
 '2017-01-05',
 '2017-01-06',
 '2017-01-09',
 '2017-01-10',
 '2017-01-11',
 '2017-01-12',
 '2017-01-13',
 '2017-01-16',
 '2017-01-17',
 '2017-01-18',
 '2017-01-19',
 '2017-01-20',
 '2017-01-23',
 '2017-01-24',
 '2017-01-25',
 '2017-01-26',
 '2017-02-03',
 '2017-02-06',
 '2017-02-07',
 '2017-02-08',
 '2017-02-09',
 '2017-02-10',
 '2017-02-13',
 '2017-02-14',
 '2017-02-15',
 '2017-02-16',
 '2017-02-17',
 '2017-02-20',
 '2017-02-21',
 '2017-02-22',
 '2017-02-23',
 '2017-02-24',
 '2017-02-27',
 '2017-02-28',
 '2017-03-01',
 '2017-03-02',
 '2017-03-03',
 '2017-03-06',
 '2017-03-07',
 '2017-03-08',
 '2017-03-09',
 '2017-03-10',
 '2017-03-13',
 '2017-03-14',
 '2017-03-15',
 '2017-03-16',
 '2017-03-17',
 '2017-03-20',
 '2017-03-21',
 '2017-03-22',
 '2017-03-23',
 '2017-03-24',
 '2017-03-27',
 '2017-03-28',
 '2017-03-29',
 '2017-03-30',
 '2017-03-31',
 '2017-04-05',
 '2017-04-06',
 '2017-04-07',
 '2017-04-10',
 '2017-04-11',
 '2017-04-12',
 '2017-04-13',
 '2017-04-14',
 '2017-04-17',
 '2017-04-18',
 '2017-04-19',
 '2017-04-20',
 '2017-04-21',
 '2017-04-24',
 '2017-04-25',
 '2017-04-26',
 '2017-04-27',
 '2017-04-28',
 '2017-05-02',
 '2017-05-03',
 '2017-05-04',
 '2017-05-05',
 '2017-05-08',
 '2017-05-09',
 '2017-05-10',
 '2017-05-11',
 '2017-05-12',
 '2017-05-15',
 '2017-05-16',
 '2017-05-17',
 '2017-05-18',
 '2017-05-19',
 '2017-05-22',
 '2017-05-23',
 '2017-05-24',
 '2017-05-25',
 '2017-05-26',
 '2017-05-31',
 '2017-06-01',
 '2017-06-02',
 '2017-06-05',
 '2017-06-06',
 '2017-06-07',
 '2017-06-08',
 '2017-06-09',
 '2017-06-12',
 '2017-06-13',
 '2017-06-14',
 '2017-06-15',
 '2017-06-16',
 '2017-06-19',
 '2017-06-20',
 '2017-06-21',
 '2017-06-22',
 '2017-06-23',
 '2017-06-26',
 '2017-06-27',
 '2017-06-28',
 '2017-06-29',
 '2017-06-30',
 '2017-07-03',
 '2017-07-04',
 '2017-07-05',
 '2017-07-06',
 '2017-07-07',
 '2017-07-10',
 '2017-07-11',
 '2017-07-12',
 '2017-07-13',
 '2017-07-14',
 '2017-07-17',
 '2017-07-18',
 '2017-07-19',
 '2017-07-20',
 '2017-07-21',
 '2017-07-24',
 '2017-07-25',
 '2017-07-26',
 '2017-07-27',
 '2017-07-28',
 '2017-07-31',
 '2017-08-01',
 '2017-08-02',
 '2017-08-03',
 '2017-08-04',
 '2017-08-07',
 '2017-08-08',
 '2017-08-09',
 '2017-08-10',
 '2017-08-11',
 '2017-08-14',
 '2017-08-15',
 '2017-08-16',
 '2017-08-17',
 '2017-08-18',
 '2017-08-21',
 '2017-08-22',
 '2017-08-23',
 '2017-08-24',
 '2017-08-25',
 '2017-08-28',
 '2017-08-29',
 '2017-08-30',
 '2017-08-31',
 '2017-09-01',
 '2017-09-04',
 '2017-09-05',
 '2017-09-06',
 '2017-09-07',
 '2017-09-08',
 '2017-09-11',
 '2017-09-12',
 '2017-09-13',
 '2017-09-14',
 '2017-09-15',
 '2017-09-18',
 '2017-09-19',
 '2017-09-20',
 '2017-09-21',
 '2017-09-22',
 '2017-09-25',
 '2017-09-26',
 '2017-09-27',
 '2017-09-28',
 '2017-09-29',
 '2017-10-09',
 '2017-10-10',
 '2017-10-11',
 '2017-10-12',
 '2017-10-13',
 '2017-10-16',
 '2017-10-17',
 '2017-10-18',
 '2017-10-19',
 '2017-10-20',
 '2017-10-23',
 '2017-10-24',
 '2017-10-25',
 '2017-10-26',
 '2017-10-27',
 '2017-10-30',
 '2017-10-31',
 '2017-11-01',
 '2017-11-02',
 '2017-11-03',
 '2017-11-06',
 '2017-11-07',
 '2017-11-08',
 '2017-11-09',
 '2017-11-10',
 '2017-11-13',
 '2017-11-14',
 '2017-11-15',
 '2017-11-16',
 '2017-11-17',
 '2017-11-20',
 '2017-11-21',
 '2017-11-22',
 '2017-11-23',
 '2017-11-24',
 '2017-11-27',
 '2017-11-28',
 '2017-11-29',
 '2017-11-30',
 '2017-12-01',
 '2017-12-04',
 '2017-12-05',
 '2017-12-06',
 '2017-12-07',
 '2017-12-08',
 '2017-12-11',
 '2017-12-12',
 '2017-12-13',
 '2017-12-14',
 '2017-12-15',
 '2017-12-18',
 '2017-12-19',
 '2017-12-20',
 '2017-12-21',
 '2017-12-22',
 '2017-12-25',
 '2017-12-26',
 '2017-12-27',
 '2017-12-28',
 '2017-12-29',
 '2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10',
 '2018-01-11',
 '2018-01-12',
 '2018-01-15',
 '2018-01-16',
 '2018-01-17',
 '2018-01-18',
 '2018-01-19',
 '2018-01-22',
 '2018-01-23',
 '2018-01-24',
 '2018-01-25',
 '2018-01-26',
 '2018-01-29',
 '2018-01-30',
 '2018-01-31',
 '2018-02-01',
 '2018-02-02',
 '2018-02-05',
 '2018-02-06',
 '2018-02-07',
 '2018-02-08',
 '2018-02-09',
 '2018-02-12',
 '2018-02-13',
 '2018-02-14',
 '2018-02-22',
 '2018-02-23',
 '2018-02-26',
 '2018-02-27',
 '2018-02-28',
 '2018-03-01',
 '2018-03-02',
 '2018-03-05',
 '2018-03-06',
 '2018-03-07',
 '2018-03-08',
 '2018-03-09',
 '2018-03-12',
 '2018-03-13',
 '2018-03-14',
 '2018-03-15',
 '2018-03-16',
 '2018-03-19',
 '2018-03-20',
 '2018-03-21',
 '2018-03-22',
 '2018-03-23',
 '2018-03-26',
 '2018-03-27',
 '2018-03-28',
 '2018-03-29',
 '2018-03-30',
 '2018-04-02',
 '2018-04-03',
 '2018-04-04',
 '2018-04-09',
 '2018-04-10',
 '2018-04-11',
 '2018-04-12',
 '2018-04-13',
 '2018-04-16',
 '2018-04-17',
 '2018-04-18',
 '2018-04-19',
 '2018-04-20',
 '2018-04-23',
 '2018-04-24',
 '2018-04-25',
 '2018-04-26',
 '2018-04-27',
 '2018-05-02',
 '2018-05-03',
 '2018-05-04',
 '2018-05-07',
 '2018-05-08',
 '2018-05-09',
 '2018-05-10',
 '2018-05-11',
 '2018-05-14',
 '2018-05-15',
 '2018-05-16',
 '2018-05-17',
 '2018-05-18',
 '2018-05-21',
 '2018-05-22',
 '2018-05-23',
 '2018-05-24',
 '2018-05-25',
 '2018-05-28',
 '2018-05-29',
 '2018-05-30',
 '2018-05-31',
 '2018-06-01',
 '2018-06-04',
 '2018-06-05',
 '2018-06-06',
 '2018-06-07',
 '2018-06-08',
 '2018-06-11',
 '2018-06-12',
 '2018-06-13',
 '2018-06-14',
 '2018-06-15',
 '2018-06-19',
 '2018-06-20',
 '2018-06-21',
 '2018-06-22',
 '2018-06-25',
 '2018-06-26',
 '2018-06-27',
 '2018-06-28',
 '2018-06-29',
 '2018-07-02',
 '2018-07-03',
 '2018-07-04',
 '2018-07-05',
 '2018-07-06',
 '2018-07-09',
 '2018-07-10',
 '2018-07-11',
 '2018-07-12',
 '2018-07-13',
 '2018-07-16',
 '2018-07-17',
 '2018-07-18',
 '2018-07-19',
 '2018-07-20',
 '2018-07-23',
 '2018-07-24',
 '2018-07-25',
 '2018-07-26',
 '2018-07-27',
 '2018-07-30',
 '2018-07-31',
 '2018-08-01',
 '2018-08-02',
 '2018-08-03',
 '2018-08-06',
 '2018-08-07',
 '2018-08-08',
 '2018-08-09',
 '2018-08-10',
 '2018-08-13',
 '2018-08-14',
 '2018-08-15',
 '2018-08-16',
 '2018-08-17',
 '2018-08-20',
 '2018-08-21',
 '2018-08-22',
 '2018-08-23',
 '2018-08-24',
 '2018-08-27',
 '2018-08-28',
 '2018-08-29',
 '2018-08-30',
 '2018-08-31',
 '2018-09-03',
 '2018-09-04',
 '2018-09-05',
 '2018-09-06',
 '2018-09-07',
 '2018-09-10',
 '2018-09-11',
 '2018-09-12',
 '2018-09-13',
 '2018-09-14',
 '2018-09-17',
 '2018-09-18',
 '2018-09-19',
 '2018-09-20',
 '2018-09-21',
 '2018-09-25',
 '2018-09-26',
 '2018-09-27',
 '2018-09-28',
 '2018-10-08',
 '2018-10-09',
 '2018-10-10',
 '2018-10-11',
 '2018-10-12',
 '2018-10-15',
 '2018-10-16',
 '2018-10-17',
 '2018-10-18',
 '2018-10-19',
 '2018-10-22',
 '2018-10-23',
 '2018-10-24',
 '2018-10-25',
 '2018-10-26',
 '2018-10-29',
 '2018-10-30',
 '2018-10-31',
 '2018-11-01',
 '2018-11-02',
 '2018-11-05',
 '2018-11-06',
 '2018-11-07',
 '2018-11-08',
 '2018-11-09',
 '2018-11-12',
 '2018-11-13',
 '2018-11-14',
 '2018-11-15',
 '2018-11-16',
 '2018-11-19',
 '2018-11-20',
 '2018-11-21',
 '2018-11-22',
 '2018-11-23',
 '2018-11-26',
 '2018-11-27',
 '2018-11-28',
 '2018-11-29',
 '2018-11-30',
 '2018-12-03',
 '2018-12-04',
 '2018-12-05',
 '2018-12-06',
 '2018-12-07',
 '2018-12-10',
 '2018-12-11',
 '2018-12-12',
 '2018-12-13',
 '2018-12-14',
 '2018-12-17',
 '2018-12-18',
 '2018-12-19',
 '2018-12-20',
 '2018-12-21',
 '2018-12-24',
 '2018-12-25',
 '2018-12-26',
 '2018-12-27',
 '2018-12-28',
 '2019-01-02',
 '2019-01-03',
 '2019-01-04',
 '2019-01-07',
 '2019-01-08',
 '2019-01-09',
 '2019-01-10',
 '2019-01-11',
 '2019-01-14',
 '2019-01-15',
 '2019-01-16',
 '2019-01-17',
 '2019-01-18',
 '2019-01-21',
 '2019-01-22',
 '2019-01-23',
 '2019-01-24',
 '2019-01-25',
 '2019-01-28',
 '2019-01-29',
 '2019-01-30',
 '2019-01-31',
 '2019-02-01',
 '2019-02-11',
 '2019-02-12',
 ...]

In [61]:
import multiprocessing as mp
import time
from tqdm import tqdm
pool = mp.Pool(10)
t1 = time.time()
result = {}
def test(i):
    data = DataAPI.get_stock_daily_return(i, ti=0, tp=31, price='vwap', period=["1d","2d","3d","4d","5d","10d"], freq='1min').reset_index()
    data['timestamp'] += pd.to_timedelta(5,"m")
    return data.set_index(["timestamp","ticker"])
for i in tqdm(time_list):
    result[i]  = (pool.apply_async(test, args=(i,)))   #维持执行的进程总数为10，当一个进程执行完后启动一个新进程.
pool.close()
pool.join()
t2 = time.time()
print("并行执行时间：", int(t2 - t1))

100%|██████████| 1560/1560 [00:00<00:00, 162287.67it/s]

并行执行时间： 4

In [62]:
target_df = []
for i in tqdm(result):
    target_df.append(result[i].get())
target_df = pd.concat(target_df,axis=0)
target_df

100%|██████████| 1560/1560 [00:00<00:00, 279465.01it/s]

                              1d_ret    2d_ret    3d_ret    4d_ret    5d_ret  \
timestamp           ticker
2015-01-05 09:30:00 000001 -0.003120 -0.031001 -0.036996 -0.067138 -0.070556
                    000002 -0.001994 -0.019423 -0.041521 -0.070923 -0.097998
                    000004  0.014671  0.048657  0.065601  0.071498  0.038417
                    000005  0.000000  0.000000  0.000000  0.000000  0.000000
                    000006 -0.040209 -0.039435 -0.042880 -0.053565 -0.085893
...                              ...       ...       ...       ...       ...
2021-06-01 09:30:00 688699 -0.057854 -0.088197 -0.089355 -0.008459 -0.079010
                    688777 -0.035939 -0.049675 -0.066356 -0.011289 -0.028392
                    688788 -0.031378 -0.048310 -0.066576 -0.043054 -0.060163
                    688819  0.025589  0.011450  0.004278  0.060774  0.056411
                    688981 -0.011507 -0.023025 -0.038161 -0.011591 -0.013660

                             10d_ret  trading_status
timestamp           ticker
2015-01-05 09:30:00 000001 -0.104853               0
                    000002 -0.136266               0
                    000004  0.018452               0
                    000005  0.000000               3
                    000006 -0.131916               0
...                              ...             ...
2021-06-01 09:30:00 688699 -0.041999               0
                    688777 -0.060290               0
                    688788 -0.065377               0
                    688819 -0.031494               0
                    688981 -0.028147               0

[5281482 rows x 7 columns]

In [63]:
target_df.drop("trading_status",inplace=True,axis=1)
target_df

                              1d_ret    2d_ret    3d_ret    4d_ret    5d_ret  \
timestamp           ticker
2015-01-05 09:30:00 000001 -0.003120 -0.031001 -0.036996 -0.067138 -0.070556
                    000002 -0.001994 -0.019423 -0.041521 -0.070923 -0.097998
                    000004  0.014671  0.048657  0.065601  0.071498  0.038417
                    000005  0.000000  0.000000  0.000000  0.000000  0.000000
                    000006 -0.040209 -0.039435 -0.042880 -0.053565 -0.085893
...                              ...       ...       ...       ...       ...
2021-06-01 09:30:00 688699 -0.057854 -0.088197 -0.089355 -0.008459 -0.079010
                    688777 -0.035939 -0.049675 -0.066356 -0.011289 -0.028392
                    688788 -0.031378 -0.048310 -0.066576 -0.043054 -0.060163
                    688819  0.025589  0.011450  0.004278  0.060774  0.056411
                    688981 -0.011507 -0.023025 -0.038161 -0.011591 -0.013660

                             10d_ret
timestamp           ticker
2015-01-05 09:30:00 000001 -0.104853
                    000002 -0.136266
                    000004  0.018452
                    000005  0.000000
                    000006 -0.131916
...                              ...
2021-06-01 09:30:00 688699 -0.041999
                    688777 -0.060290
                    688788 -0.065377
                    688819 -0.031494
                    688981 -0.028147

[5281482 rows x 6 columns]

In [68]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
ssr = StandardScaler()
mmr = MinMaxScaler(feature_range=(-30,3))
print(scaler.fit_transform(data))
columns = group.columns
final_list = []
for name,group in tqdm(target_df.groupby("timestamp")):
    fina_df = group.copy()
#     fina_df[[str(i) +"_StandardScaler" for i in group.columns]] = ssr.fit_transform(group)
    fina_df[[str(i) +"_MinMaxScaler_30" for i in group.columns]] = mmr.fit_transform(group)
    final_list.append(group)

  0%|          | 0/1560 [00:00<?, ?it/s]

TypeError: 'float' object is not subscriptable

In [65]:
pd.concat(final_list,axis=0)

                              1d_ret    2d_ret    3d_ret    4d_ret    5d_ret  \
timestamp           ticker
2015-01-05 09:30:00 000001 -0.003120 -0.031001 -0.036996 -0.067138 -0.070556
                    000002 -0.001994 -0.019423 -0.041521 -0.070923 -0.097998
                    000004  0.014671  0.048657  0.065601  0.071498  0.038417
                    000005  0.000000  0.000000  0.000000  0.000000  0.000000
                    000006 -0.040209 -0.039435 -0.042880 -0.053565 -0.085893
...                              ...       ...       ...       ...       ...
2021-06-01 09:30:00 688699 -0.057854 -0.088197 -0.089355 -0.008459 -0.079010
                    688777 -0.035939 -0.049675 -0.066356 -0.011289 -0.028392
                    688788 -0.031378 -0.048310 -0.066576 -0.043054 -0.060163
                    688819  0.025589  0.011450  0.004278  0.060774  0.056411
                    688981 -0.011507 -0.023025 -0.038161 -0.011591 -0.013660

                             10d_ret  1d_ret_StandardScaler  \
timestamp           ticker
2015-01-05 09:30:00 000001 -0.104853              -0.541929
                    000002 -0.136266              -0.503045
                    000004  0.018452               0.072339
                    000005  0.000000              -0.434206
                    000006 -0.131916              -1.822556
...                              ...                    ...
2021-06-01 09:30:00 688699 -0.041999              -2.225986
                    688777 -0.060290              -1.456454
                    688788 -0.065377              -1.296282
                    688819 -0.031494               0.704046
                    688981 -0.028147              -0.598535

                            2d_ret_StandardScaler  3d_ret_StandardScaler  \
timestamp           ticker
2015-01-05 09:30:00 000001              -1.584587              -1.475431
                    000002              -1.277469              -1.573327
                    000004               0.528394               0.743830
                    000005              -0.762266              -0.675178
                    000006              -1.808308              -1.602709
...                                           ...                    ...
2021-06-01 09:30:00 688699              -2.134933              -1.764211
                    688777              -1.227989              -1.307274
                    688788              -1.195837              -1.311633
                    688819               0.211101               0.096075
                    688981              -0.600554              -0.747091

                            4d_ret_StandardScaler  5d_ret_StandardScaler  \
timestamp           ticker
2015-01-05 09:30:00 000001              -1.691426              -1.317890
                    000002              -1.758539              -1.761349
                    000004               0.766915               0.443097
                    000005              -0.500910              -0.177714
                    000006              -1.450746              -1.565726
...                                           ...                    ...
2021-06-01 09:30:00 688699              -0.221912              -1.340227
                    688777              -0.269707              -0.573825
                    688788              -0.806231              -1.054864
                    688819               0.947432               0.710144
                    688981              -0.274807              -0.350781

                            10d_ret_StandardScaler
timestamp           ticker
2015-01-05 09:30:00 000001               -1.232693
                    000002               -1.538322
                    000004               -0.032987
                    000005               -0.212513
                    000006               -1.496000
...                                            ...
2021-06-01 09:30:00 688699               -0.420177
                    688777               -0.602728
                    688788               -0.653499
                    688819               -0.315333
                    688981               -0.281923

[5281482 rows x 12 columns]

In [70]:
from sklearn.preprocessing import StandardScaler

ssr = StandardScaler()
target_df[[str(i) +"_MinMaxScaler_30" for i in group.columns]] = mmr.fit_transform(target_df)
# X = pd.DataFrame(ssr.fit_transform(target_df))
# X.columns = [str(i) +"_StandardScaler" for i in target_df.columns]
# X

TypeError: 'float' object is not subscriptable

In [82]:
target_df["1d_ret"] * 10000

timestamp            ticker
2015-01-05 09:30:00  000001    -31.198851
                     000002    -19.937128
                     000004    146.705581
                     000005      0.000000
                     000006   -402.093964
                                  ...
2021-06-01 09:30:00  688699   -578.541619
                     688777   -359.390617
                     688788   -313.776252
                     688819    255.886062
                     688981   -115.068773
Name: 1d_ret, Length: 5281482, dtype: float64

In [88]:
a

timestamp            ticker
2015-01-05 09:30:00  000001    -31
                     000002    -19
                     000004    146
                     000005      0
                     000006   -402
                              ...
2021-06-01 09:30:00  688699   -578
                     688777   -359
                     688788   -313
                     688819    255
                     688981   -115
Name: 1d_ret, Length: 5281482, dtype: int64

In [93]:
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 0.1], [-0.5, 6], [0, 10], [1, 18]]
data = pd.DataFrame(data)
display(data)
scaler = MinMaxScaler()
print(scaler.fit_transform(data))

     0     1
0 -1.0   0.1
1 -0.5   6.0
2  0.0  10.0
3  1.0  18.0

[[0.         0.        ]
 [0.25       0.32960894]
 [0.5        0.55307263]
 [1.         1.        ]]

In [95]:
target_df.dtypes

1d_ret     float64
2d_ret     float64
3d_ret     float64
4d_ret     float64
5d_ret     float64
10d_ret    float64
dtype: object